<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <SetUpCamp>Allestisci il bivacco</SetUpCamp>
  <SetUpCampDesc>Allestisci un bivacco che ti consenta di foraggiare, estrarre e cacciare, nonché di riorganizzare la carovana.</SetUpCampDesc>
  <SetUpCampFormedCamp>La carovana ha allestito il bivacco.</SetUpCampFormedCamp>
  <SetUpCampSettingsCategoryLabel>Allestire il bivacco</SetUpCampSettingsCategoryLabel>
  <SetUpCampSettingMapSize>Intervallo di dimensioni della mappa (default: 75 - 125)</SetUpCampSettingMapSize>
  <SetUpCampSettingsMapTimerDays>Timer per la ripartenza (default: 5)</SetUpCampSettingsMapTimerDays>
  <SetUpCampSettingsMapTimerDaysTooltip>Limite dei giorni oltre il quale la carovana lascerà forzatamente la mappa</SetUpCampSettingsMapTimerDaysTooltip>
  <SetUpCampSettingsTimeout>Permanenza di un bivacco abbandonato (default: 60)</SetUpCampSettingsTimeout>
  <SetUpCampSettingsTimeoutTooltip>Limite dei giorni oltre il quale i bivacchi abbandonati spariscono e il posto può essere usato di nuovo</SetUpCampSettingsTimeoutTooltip>
  <SetUpCampSettingMinCampSize>Dimensione minima dei bivacchi</SetUpCampSettingMinCampSize>
  <SetUpCampSettingMaxCampSize>Dimensione massima dei bivacchi</SetUpCampSettingMaxCampSize>
  <SetUpCampSettingsCustomMapGenDef>Abilita risorse (default: si)</SetUpCampSettingsCustomMapGenDef>
  <SetUpCampSettingsPermanentCamps>Abilita bivacchi persistenti (default: no, disabilitando, verranno rimossi i bivacchi vuoti!)</SetUpCampSettingsPermanentCamps>
  <SetUpCampSettingsHomeEvents>Abilita nei bivacchi gli eventi delle mappe "normali" (default: no)</SetUpCampSettingsHomeEvents>
  <SetUpCampSettingsCaravanEvents>Abilita nei bivacchi gli eventi legati al passaggio di carovane (default: no)</SetUpCampSettingsCaravanEvents>
  <SetUpCampDestroyCamp>Abbandona il bivacco</SetUpCampDestroyCamp>
  <SetUpCampDestroyCampDesc>Abbandona definitivamente questo bivacco.</SetUpCampDestroyCampDesc>
  <SetUpCampAbandonDialogue>Sei sicuro di voler eliminare definitivamente ed irreversibilmente questo bivacco?</SetUpCampAbandonDialogue>
  <SetUpCampAbandoned>Bivacco abbandonato.</SetUpCampAbandoned>
  <SetUpCampStillInUse>Ci sono ancora coloni nel bivacco. Devi organizzare una carovana prima di abbandonarlo.</SetUpCampStillInUse>
  <SetUpCampOccupied>Bisogna attendere prima di allestire un bivacco nello stesso luogo.</SetUpCampOccupied>

  <SetUpCamp_GeneratingCamp>Generazione del bivacco</SetUpCamp_GeneratingCamp>


</LanguageData>