<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <HotspringChillOut.label>расслабленный от горячего источника</HotspringChillOut.label>
  <HotspringChillOut.labelNoun>расслабляется в горячем источнике</HotspringChillOut.labelNoun>

  <ColdspringChillOut.label>расслабленный от холодного источника</ColdspringChillOut.label>
  <ColdspringChillOut.labelNoun>расслабляется в холодном источнике</ColdspringChillOut.labelNoun>

  <PoisonBuildup.label>отравление ядом</PoisonBuildup.label>
  <PoisonBuildup.stages.0.label>незаметное</PoisonBuildup.stages.0.label>
  <PoisonBuildup.stages.1.label>начальное</PoisonBuildup.stages.1.label>
  <PoisonBuildup.stages.2.label>лёгкое</PoisonBuildup.stages.2.label>
  <PoisonBuildup.stages.3.label>среднее</PoisonBuildup.stages.3.label>
  <PoisonBuildup.stages.4.label>серьёзное</PoisonBuildup.stages.4.label>
  <PoisonBuildup.stages.5.label>экстремальное</PoisonBuildup.stages.5.label>


</LanguageData>