<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <HotspringChillOut.label>расслабленный от горячего источника</HotspringChillOut.label>
  <HotspringChillOut.labelNoun>расслабляется в горячем источнике</HotspringChillOut.labelNoun>

  <ColdspringChillOut.label>расслабленный от холодного источника</ColdspringChillOut.label>
  <ColdspringChillOut.labelNoun>расслабляется в холодном источнике</ColdspringChillOut.labelNoun>


</LanguageData>