<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <ER_ExpandedRoofing>擴展屋頂</ER_ExpandedRoofing>
  <ER_MaxOutputLabel>太陽能接受器最大輸出</ER_MaxOutputLabel>
  <ER_WattagePerSolarPanelLabel>每個太陽能控制器板的功率</ER_WattagePerSolarPanelLabel>
  <ER_GlassLights>當安裝'Glass + Lights'mod時，屋頂材料塑鋼換玻璃</ER_GlassLights>
  <ER_RoofMaintenance>設置是否執行屋頂維護作業</ER_RoofMaintenance>

</LanguageData>