<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <SetUpCamp>Dresser un camp</SetUpCamp>
  <SetUpCampDesc>Mettre en place un camp, vous permettant de fouiller, de miner et de chasser ainsi que de réorganiser votre caravane.</SetUpCampDesc>
  <SetUpCampFormedCamp>La caravane a réussi à installer un camp.</SetUpCampFormedCamp>
  <SetUpCampSettingsCategoryLabel>Dresser un camp</SetUpCampSettingsCategoryLabel>
  <SetUpCampSettingMapSize>Plage de tailles de carte (par défaut: 75-125)</SetUpCampSettingMapSize>
  <SetUpCampSettingsMapTimerDays>Départ de la minuterie (par défaut: 5)</SetUpCampSettingsMapTimerDays>
  <SetUpCampSettingsMapTimerDaysTooltip>Jours jusqu'à ce que la caravane soit obligée de quitter la carte</SetUpCampSettingsMapTimerDaysTooltip>
  <SetUpCampSettingsTimeout>Durée du camp abandonné (par défaut: 60)</SetUpCampSettingsTimeout>
  <SetUpCampSettingsTimeoutTooltip>Jours jusqu'à ce que les camps abandonnés disparaissent et que la case puisse être utilisée à nouveau</SetUpCampSettingsTimeoutTooltip>
  <SetUpCampSettingMinCampSize>Taille minimum pour les camps</SetUpCampSettingMinCampSize>
  <SetUpCampSettingMaxCampSize>Taille maximum pour les camps</SetUpCampSettingMaxCampSize>
  <SetUpCampSettingsCustomMapGenDef>Activer les ressources (par défaut: vrai)</SetUpCampSettingsCustomMapGenDef>
  <SetUpCampSettingsPermanentCamps>Activer les camps permanents (par défaut: faux, la désactivation supprimera les camps vides!)</SetUpCampSettingsPermanentCamps>
  <SetUpCampSettingsHomeEvents>Activer les événements de "carte normale" sur les camps (par défaut: faux)</SetUpCampSettingsHomeEvents>
  <SetUpCampSettingsCaravanEvents>Activer les événements "caravane" sur les camps (par défaut: faux)</SetUpCampSettingsCaravanEvents>
  <SetUpCampDestroyCamp>Abandonner le camp</SetUpCampDestroyCamp>
  <SetUpCampDestroyCampDesc>Abandonne définitivement ce camp.</SetUpCampDestroyCampDesc>
  <SetUpCampAbandonDialogue>Êtes-vous sûr de vouloir détruire ce camp de façon permanente et irréversible?</SetUpCampAbandonDialogue>
  <SetUpCampAbandoned>Camp abandonné.</SetUpCampAbandoned>
  <SetUpCampStillInUse>Il y a encore des colons dans le camp. Vous devez former une caravane avant d'abandonner le camp.</SetUpCampStillInUse>
  <SetUpCampOccupied>Vous devez attendre avant d'installer un camp au même endroit.</SetUpCampOccupied>

  <SetUpCamp_GeneratingCamp>Générateur de camps</SetUpCamp_GeneratingCamp>
  

</LanguageData>