<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <ER_ExpandedRoofing>Expanded Roofing</ER_ExpandedRoofing>
  <ER_MaxOutputLabel>太陽光コントローラー最大出力</ER_MaxOutputLabel>
  <ER_WattagePerSolarPanelLabel>太陽光発電パネル1枚あたりの発電量</ER_WattagePerSolarPanelLabel>
  <ER_GlassLights>『Glass + Lights』MODが使用されている場合は、スチールではなくガラスを使用する。</ER_GlassLights>

</LanguageData>