<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <SetUpCamp>Розбити табір</SetUpCamp>
  <SetUpCampDesc>Розбийте табір, щоб караван міг добувати руду і полювати</SetUpCampDesc>
  <SetUpCampFormedCamp>Караван успішно розбив табір.</SetUpCampFormedCamp>
  <SetUpCampSettingsCategoryLabel>SetUpCamp</SetUpCampSettingsCategoryLabel>
  <SetUpCampSettingMapSize>Діапазон розмірів карти (типовий: 75-125)</SetUpCampSettingMapSize>
  <SetUpCampSettingsMapTimerDays>Час виходу з табору (типовий: 5 днів)</SetUpCampSettingsMapTimerDays>
  <SetUpCampSettingsMapTimerDaysTooltip>Дні перед тим, як караван буде змушений покинути табір</SetUpCampSettingsMapTimerDaysTooltip>
  <SetUpCampSettingsTimeout>Час до знищення покинутого табору (типовий: 60)</SetUpCampSettingsTimeout>
  <SetUpCampSettingsTimeoutTooltip>Дні до загибелі покинутих таборів (15-120 днів)</SetUpCampSettingsTimeoutTooltip>
  <SetUpCampSettingMinCampSize>Мінімальний розмір для таборів</SetUpCampSettingMinCampSize>
  <SetUpCampSettingMaxCampSize>Максимальний розмір для таборів</SetUpCampSettingMaxCampSize>
  <SetUpCampSettingsCustomMapGenDef>Включити ресурси для сформульованої території табору</SetUpCampSettingsCustomMapGenDef>
  <SetUpCampSettingsPermanentCamps>Увімкнути постійні табори (ввімкнення призведе до остаточної вилучення всіх порожніх таборів)</SetUpCampSettingsPermanentCamps>
  <SetUpCampSettingsHomeEvents>Включити події у таборах</SetUpCampSettingsHomeEvents>
  <SetUpCampSettingsCaravanEvents>Увімкнути події в таборах</SetUpCampSettingsCaravanEvents>
  <SetUpCampDestroyCamp>Закинути табір</SetUpCampDestroyCamp>
  <SetUpCampDestroyCampDesc>Назавжди закинути цей табір.</SetUpCampDestroyCampDesc>
  <SetUpCampAbandonDialogue>Ви впевнені, що хочете остаточно закинути цей табір?</SetUpCampAbandonDialogue>
  <SetUpCampAbandoned>Табір покинутий.</SetUpCampAbandoned>
  <SetUpCampStillInUse>У таборі ще є колоністи, ви повинні продовжити шлях каравану, перш ніж закинути табір.</SetUpCampStillInUse>
  <SetUpCampOccupied>Вам потрібно почекати, перш ніж розбивати табір на тому самому місці.</SetUpCampOccupied>
</LanguageData>