<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <ER_ExpandedRoofing>Techado expandido</ER_ExpandedRoofing>
  <ER_MaxOutputLabel>Salida máxima del controlador solar</ER_MaxOutputLabel>
  <ER_WattagePerSolarPanelLabel>Potencia del controlador solar por panel solar</ER_WattagePerSolarPanelLabel>

</LanguageData>