<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <ER_ExpandedRoofing>Expanded Roofing</ER_ExpandedRoofing>
  <ER_MaxOutputLabel>Solar controller max output</ER_MaxOutputLabel>
  <ER_WattagePerSolarPanelLabel>Solar controller wattage per solar panel</ER_WattagePerSolarPanelLabel>

</LanguageData>