<?xml version="1.0" encoding="utf-8" ?>
<Defs>
		<!-- Hardcore SK secret contant values -->
	<SK.Config>
		<defName>Config</defName>
		
		<!-- Raid Helper constants -->
		<!-- Suitable values: 100 - 300. Higher value increase the delay between raids -->
		<RaidWeightDelay>300</RaidWeightDelay>
		<!-- Shifting RaidWeightDelay value in days. Default: 2  Suit values: -4 - 4 -->
		<RaidDaysDelay>4</RaidDaysDelay>
		<!-- Shifting minimal variation in days. Default: -2  Suit values: -4 - 0 -->
		<RaidDaysVariationMin>-1</RaidDaysVariationMin>
		<!-- Shifting maximum variation in days. Should be higher then min value. Default: 4  Suit values: 0 - 4 -->
		<RaidDaysVariationMax>4</RaidDaysVariationMax>
		<!-- Raid point multiplier. Default: 1.9 (No multiplier).  Suit values: 0.50 - 2.00  -->
		<RaidPointsMultiplier>0.8</RaidPointsMultiplier>
		<!-- Chance to be attacked by double raid. Default: 0.2  Suit values: 0 - 0.25  -->
		<RaidDoubleChance>0.15</RaidDoubleChance>
		<!-- Chance to drop raid with landing. Default: 0.05  Suit values: 0.01 - 0.05  -->
		<DefaultRaidLandingChance>0.05</DefaultRaidLandingChance>
		<!-- Max chance to drop raid with landing. Default: 0.20 Should be higher then default value. Suit values: 0.01 - 0.05  -->
		<MaxRaidLandingChance>0.15</MaxRaidLandingChance>

		<!-- DropFixer constants. Added in 1.0 game difficulty multiplier for DropFixer constants: default value + diff^2 * 0.01  Ints: Extreme = 5, Hell = 6 -->
		<!-- Destroy ammo from mechanoids -->
		<DestroyMechanoidAmmo>true</DestroyMechanoidAmmo>		
		<!-- 0.00 - 1.00 Chance to instant destroy ammo while looting -->
		<ChanceToInstantDestroyAmmo>0</ChanceToInstantDestroyAmmo>
		<!-- 0.00 - 1.00 Chance to instant destroy item (weapon) while looting -->
		<ChanceToInstantDestroyEnemyItem>0</ChanceToInstantDestroyEnemyItem>
		<!-- 0.00 - 1.00 Chance to damage looted item by deterioration -->
		<ChanceToDamageEnemyItem>0.25</ChanceToDamageEnemyItem>
		<!-- 0 - 100 Item take a deterioration damage -->
		<MinAmountDeterioration>10</MinAmountDeterioration>
		<!-- 0 - 100. Should be bigger then Min value. -->
		<MaxAmountDeterioration>50</MaxAmountDeterioration>
		
		<!-- Raid count limiter -->
		<!-- Max possible pawn raid count. Default value: 130 Min value: 10 MaxValue: 500 -->
		<MaxRaidCount>130</MaxRaidCount>
		<!-- Raid Generator would count already spawned enemy pawns on map and subtract from MaxRaidCount. Default value: 50 MinValue: 1 MaxValue: (MaxRaidCount - 1)-->
		<MaxCountToReduce>50</MaxCountToReduce>
		
		
		<!-- Raid Assistant -->
		<!-- Enable additional help for late game raids. Default: true -->
		<EnableRaidAssistant>true</EnableRaidAssistant>
		<!-- Enable assistant after passed gamed days. Default: 120 -->
		<EnableAfterDaysPassed>120</EnableAfterDaysPassed>
		<!-- The amount of time between triggering assistant events. Suit values: 1800 - 3000 -->
		<AverageAssistDelay>2500</AverageAssistDelay>
		<!-- Assistant raid points multiplier Suit values: 0.5-1.0 -->
		<AssistantRaidPointsMultiplier>0.6</AssistantRaidPointsMultiplier>
		<!-- Enabled Bombardament to assist enemy factions? Default: true -->
		<EnableBombardament>true</EnableBombardament>
		<!-- Enabled Beam strike to assist enemy factions? Default: true -->
		<EnablePowerBeamStrike>false</EnablePowerBeamStrike>
		
	</SK.Config>
</Defs>