<?xml version="1.0" encoding="utf-8" ?>
<Defs>
	<SK.Config>
		<defName>Config</defName>
		<RaidWeightDelay>180</RaidWeightDelay>
		<RaidDaysDelay>0</RaidDaysDelay>
		<RaidVariationMin>-2</RaidVariationMin>
		<RaidVariationMax>2</RaidVariationMax>
		<RaidDoubleChance>0.2</RaidDoubleChance>
	</SK.Config>
</Defs>