<?xml version="1.0" encoding="utf-8" ?>
<Defs>
	<SK.Config>
		<defName>Config</defName>
		<RaidWeightDelay>200</RaidWeightDelay>
		<RaidDaysDelay>0</RaidDaysDelay>
		<RaidDaysVariationMin>-2</RaidDaysVariationMin>
		<RaidDaysVariationMax>2</RaidDaysVariationMax>
		<RaidPointsMultiplier>1.0</RaidPointsMultiplier>
		<RaidDoubleChance>0.2</RaidDoubleChance>
		<DefaultRaidLandingChance>0.05</DefaultRaidLandingChance>
		<MaxRaidLandingChance>0.20</MaxRaidLandingChance>
	</SK.Config>
</Defs>