<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <ER_ExpandedRoofing>Expanded Roofing</ER_ExpandedRoofing>
  <ER_MaxOutputLabel>Solar controller max output</ER_MaxOutputLabel>
  <ER_WattagePerSolarPanelLabel>Solar controller wattage per solar panel</ER_WattagePerSolarPanelLabel>
  <ER_GlassLights>Swap glass for steel when 'Glass+Lights' mod installed</ER_GlassLights>
  <ER_RoofMaintenance>Sets if roof maintenance jobs will be executed</ER_RoofMaintenance>

</LanguageData>