[submodule "Mods/Performance-Fish"]
	path = Mods/Performance-Fish
	url = https://github.com/bbradson/Performance-Fish.git
[submodule "Mods/Fishery-github"]
	path = Mods/Fishery-github
	url = https://github.com/bbradson/Fishery.git
