bin
obj
Source/Minerals/bin
Source/Minerals/obj
**/*~
*.Rproj
.Rproj.user
*.html
Source/Minerals/.vs/Minerals/v16/Server/sqlite3/storage.ide-wal
Source/Minerals/.vs/Minerals/v16/Server/sqlite3/storage.ide
Source/Minerals/.vs/Minerals/v16/Server/sqlite3/db.lock
.vs
.Rhistory