<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<trackingVisible_title>Track Visible Blueprints</trackingVisible_title>
	<trackingVisible_desc>Option to enable or disable tracking of blueprints on the screen to display requirements.\n\nIf your computer is too slow to track visible blueprints, then you can disable that here.</trackingVisible_desc>
	
	<trackingForbidden_title>Track Forbidden Blueprints</trackingForbidden_title>
	<trackingForbidden_desc>Option to enable or disable the tracking of forbidden blueprints. Use to exclude large amounts of blueprints for tracking.\n\nThis applies to both selection tracking and visibility tracking.</trackingForbidden_desc>
	
	<zoomForTracking_title>Zoom Level for Visibility Tracking</zoomForTracking_title>
	<zoomForTracking_desc>The maximum zoom level when tracking blueprints visible on the screen.\n\nChoose a closer zoom level if your computer is having difficulties tracking too many blueprints.</zoomForTracking_desc>
	<zoomForTracking_Closest>Closest</zoomForTracking_Closest>
	<zoomForTracking_Close>Close</zoomForTracking_Close>
	<zoomForTracking_Middle>Middle</zoomForTracking_Middle>
	<zoomForTracking_Far>Far</zoomForTracking_Far>
	<zoomForTracking_Furthest>Furthest</zoomForTracking_Furthest>
	
	<visibilityMargin_title>Visibility Margin</visibilityMargin_title>
	<visibilityMargin_desc>The margin from the screen in pixels when deciding if a blueprint is visible or not.\n\nNote: This may not be exact.</visibilityMargin_desc>
	
	<clampTipToScreen_title>Keep Tooltip on Screen</clampTipToScreen_title>
	<clampTipToScreen_desc>If enabled, the totals tooltip will always be positioned to stay on screen.</clampTipToScreen_desc>
	
	<clampMargin_title>Tooltip Clamp Margin</clampMargin_title>
	<clampMargin_desc>The minimum distance in pixels from the edge of the screen the tooltip will stay at when trying to keep the tooltip onscreen.</clampMargin_desc>
	
	<highlightOpacity_title>Highlighting Opacity</highlightOpacity_title>
	<highlightOpacity_desc>How opaque the highlighting rectangle is. Minimum opacity is 0% and maximum is 25%. Turn down to 0% to disable highlighting completely.</highlightOpacity_desc>
	
	<showTips_title>Show Row Tooltips</showTips_title>
	<showTips_desc>If enabled, hovering your mouse over a list element will display a tooltip.</showTips_desc>
	
	<countInStorage_title>Count Items in Storage Only</countInStorage_title>
	<countInStorage_desc>If enabled, only items stored in stockpiles will be counted.</countInStorage_desc>
	
	<countForbidden_title>Count Forbidden Items</countForbidden_title>
	<countForbidden_desc>If enabled and counting all items on map, forbidden items are counted.</countForbidden_desc>
	
	<tooltipPosition_title>Tooltip Position</tooltipPosition_title>
	<tooltipPosition_desc>Use the two sliders to set where the tooltip appears relative to tracked blueprints.\n\nThe translucent rectangle is the rectangle highlighting your tracked blueprints, while the white box is where the tooltip would be.</tooltipPosition_desc>
	
	<transferSel_title>Transfer Selection to New Frames</transferSel_title>
	<transferSel_desc>If enabled, a selected blueprint that is turned into a frame when a colonist adds building materials to it will automatically be selected.</transferSel_desc>
</LanguageData>