<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <SetUpCamp>キャンプ設置</SetUpCamp>
  <SetUpCampDesc>キャンプを設置して、食料収集や採掘や狩りをしたり、キャラバン隊を再編成することができます。</SetUpCampDesc>
  <SetUpCampFormedCamp>キャラバン隊はキャンプを設置しました。</SetUpCampFormedCamp>
  <SetUpCampSettingsCategoryLabel>Set Up Camp</SetUpCampSettingsCategoryLabel>
  <SetUpCampSettingMapSize>キャンプのマップサイズ(初期値：75-125)</SetUpCampSettingMapSize>
  <SetUpCampSettingsMapTimerDays>キャンプ強制撤去(日数)（初期値：5)</SetUpCampSettingsMapTimerDays>
  <SetUpCampSettingsMapTimerDaysTooltip>キャンプが強制撤去されてキャラバン隊が退去するまでの日数</SetUpCampSettingsMapTimerDaysTooltip>
  <SetUpCampSettingsTimeout>キャンプ放棄の時間制限（初期値：60）</SetUpCampSettingsTimeout>
  <SetUpCampSettingsTimeoutTooltip>放棄されたキャンプが消滅するまでの日数(15-120)</SetUpCampSettingsTimeoutTooltip>
  <SetUpCampSettingMinCampSize>最小マップサイズ</SetUpCampSettingMinCampSize>
  <SetUpCampSettingMaxCampSize>最大マップサイズ</SetUpCampSettingMaxCampSize>
  <SetUpCampSettingsCustomMapGenDef>資源を有効にする</SetUpCampSettingsCustomMapGenDef>
  <SetUpCampSettingsPermanentCamps>キャンプマップを残す（これを無効にすると、現在マップ上に存在する、入植者の居ないすべてのキャンプが完全に削除されます)</SetUpCampSettingsPermanentCamps>
  <SetUpCampSettingsHomeEvents>通常のマップで起きるイベントを、キャンプマップでも有効にする</SetUpCampSettingsHomeEvents>
  <SetUpCampSettingsCaravanEvents>キャラバン隊で発生するイベントを、キャンプマップでも有効にする</SetUpCampSettingsCaravanEvents>
  <SetUpCampDestroyCamp>キャンプ放棄</SetUpCampDestroyCamp>
  <SetUpCampDestroyCampDesc>このキャンプを永遠に放棄します。</SetUpCampDestroyCampDesc>
  <SetUpCampAbandonDialogue>あなたは本当に、このキャンプを永久に破壊しますか？(この結果は元に戻せません)</SetUpCampAbandonDialogue>
  <SetUpCampAbandoned>キャンプを放棄しました。</SetUpCampAbandoned>
  <SetUpCampStillInUse>キャンプにはまだ入植者が残っています。あなたはキャンプを放棄する前にキャラバン隊を編成する必要があります。</SetUpCampStillInUse>
  <SetUpCampOccupied>同じ場所にキャンプを設定する場合、数日待つ必要があります。</SetUpCampOccupied>


</LanguageData>
