<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <SetUpCamp>露營地</SetUpCamp>
  <SetUpCampDesc>設置一個臨時營地，讓你可以搜尋食物資源，治療傷患並重組遠行隊。</SetUpCampDesc>
  <SetUpCampFormedCamp>遠行隊成功建立了一個營地。</SetUpCampFormedCamp>
  <SetUpCampSettingsCategoryLabel>露營地</SetUpCampSettingsCategoryLabel>
  <SetUpCampSettingMapSize>營地地圖尺寸（默認值：75-125）</SetUpCampSettingMapSize>
  <SetUpCampSettingsMapTimerDays>營地存在時間（默認值：5）</SetUpCampSettingsMapTimerDays>
  <SetUpCampSettingsMapTimerDaysTooltip>能夠在一個營地停留的最長天數。</SetUpCampSettingsMapTimerDaysTooltip>
  <SetUpCampSettingsTimeout>廢棄營地消失時間（默認值：60）</SetUpCampSettingsTimeout>
  <SetUpCampSettingsTimeoutTooltip>被遺棄的營地消失需要的天數（15-120）</SetUpCampSettingsTimeoutTooltip>
  <SetUpCampSettingMinCampSize>營地地圖最小尺寸</SetUpCampSettingMinCampSize>
  <SetUpCampSettingMaxCampSize>營地地圖最大尺寸</SetUpCampSettingMaxCampSize>
  <SetUpCampSettingsCustomMapGenDef>啟用資源</SetUpCampSettingsCustomMapGenDef>
  <SetUpCampSettingsPermanentCamps>啟用永久營地（禁用此功能將永久刪除當前地圖上的所有空營地）</SetUpCampSettingsPermanentCamps>
  <SetUpCampSettingsHomeEvents>在營地地圖啟用殖民地地圖的所有事件</SetUpCampSettingsHomeEvents>
  <SetUpCampSettingsCaravanEvents>在營地地圖啟用遠行隊的所有事件</SetUpCampSettingsCaravanEvents>
  <SetUpCampDestroyCamp>放棄營地</SetUpCampDestroyCamp>
  <SetUpCampDestroyCampDesc>永久放棄該營地。</SetUpCampDestroyCampDesc>
  <SetUpCampAbandonDialogue>你確定永久並不可逆轉地放棄這個營地嗎？</SetUpCampAbandonDialogue>
  <SetUpCampAbandoned>放棄營地。</SetUpCampAbandoned>
  <SetUpCampStillInUse>營地內還有殖民者。你必須在放棄營地前建立遠行隊。</SetUpCampStillInUse>
  <SetUpCampOccupied>當前位置已經有營地。</SetUpCampOccupied>

  <SetUpCamp_GeneratingCamp>生成營地</SetUpCamp_GeneratingCamp>


</LanguageData>