<?xml version="1.0" encoding="utf-8" ?>
<Defs>

 <ThingDef>
	<defName>BVcounter</defName>
	<thingClass>SK.Events.Ticker_BVcounter</thingClass>
    <category>Building</category>
    <soundImpactDefault>BulletImpact_Metal</soundImpactDefault>
    <drawerType>MapMeshAndRealTime</drawerType>
    <terrainAffordanceNeeded>Light</terrainAffordanceNeeded>
    <repairEffect>Repair</repairEffect>
	<leaveResourcesWhenKilled>true</leaveResourcesWhenKilled>
	<menuHidden>true</menuHidden>
	<graphicData>
	  <texPath>Inv</texPath>
	  <graphicClass>Graphic_Single</graphicClass>
	  <shaderType>Transparent</shaderType>
	</graphicData>
	<altitudeLayer>Filth</altitudeLayer>
	<passability>Standable</passability>
	<selectable>false</selectable>
	<useHitPoints>false</useHitPoints>
	<tickerType>Normal</tickerType>
	<label>unspecified filth</label>
	<description>Ticker</description>
	<size>(1,1)</size>
	<fillPercent>0</fillPercent>
	<castEdgeShadows>false</castEdgeShadows>
	<statBases>
	  <Flammability>0</Flammability>
	  <Beauty>0</Beauty>
	</statBases>	
  </ThingDef>

</Defs>