<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <SetUpCamp>Разбить лагерь</SetUpCamp>
  <SetUpCampDesc>Разбейте лагерь, чтобы караван мог добывать руду и охотиться</SetUpCampDesc>
  <SetUpCampFormedCamp>Караван успешно разбил лагерь.</SetUpCampFormedCamp>
  <SetUpCampSettingsCategoryLabel>SetUpCamp</SetUpCampSettingsCategoryLabel>
  <SetUpCampSettingMapSize>Диапазон размеров карты лагеря (по умолчанию: 75-125)</SetUpCampSettingMapSize>
  <SetUpCampSettingsMapTimerDays>Время выхода из лагеря (по умолчанию: 5 дней)</SetUpCampSettingsMapTimerDays>
  <SetUpCampSettingsMapTimerDaysTooltip>Дни до того, как караван будет вынужден покинуть лагерь</SetUpCampSettingsMapTimerDaysTooltip>
  <SetUpCampSettingsTimeout>Время до исчезновения заброшенного лагеря (по умолчанию: 60)</SetUpCampSettingsTimeout>
  <SetUpCampSettingsTimeoutTooltip>Дни до исчезновения заброшенных лагерей (15-120 дней)</SetUpCampSettingsTimeoutTooltip>
  <SetUpCampSettingMinCampSize>Минимальный размер для лагерей</SetUpCampSettingMinCampSize>
  <SetUpCampSettingMaxCampSize>Максимальный размер для лагерей</SetUpCampSettingMaxCampSize>
  <SetUpCampSettingsCustomMapGenDef>Включить ресурсы для сгенерированной местности лагеря</SetUpCampSettingsCustomMapGenDef>
  <SetUpCampSettingsPermanentCamps>Включить постоянные лагеря (отключение приведет к безвозвратному удалению всех пустых лагерей)</SetUpCampSettingsPermanentCamps>
  <SetUpCampSettingsHomeEvents>Включить события "нормальных карт" в лагерях</SetUpCampSettingsHomeEvents>
  <SetUpCampSettingsCaravanEvents>Включить события "караванов" в лагерях</SetUpCampSettingsCaravanEvents>
  <SetUpCampDestroyCamp>Забросить лагерь</SetUpCampDestroyCamp>
  <SetUpCampDestroyCampDesc>Навсегда забросить этот лагерь.</SetUpCampDestroyCampDesc>
  <SetUpCampAbandonDialogue>Вы уверены, что хотите окончательно забросить этот лагерь?</SetUpCampAbandonDialogue>
  <SetUpCampAbandoned>Лагерь заброшен.</SetUpCampAbandoned>
  <SetUpCampStillInUse>В лагере еще есть колонисты. Вы должны продолжить путь каравана, прежде чем забросить лагерь.</SetUpCampStillInUse>
  <SetUpCampOccupied>Вам нужно подождать, прежде чем разбивать лагерь на том же самом месте.</SetUpCampOccupied>

</LanguageData>