<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <SetUpCamp>Разбить лагерь</SetUpCamp>
  <SetUpCampDesc>Устанавливает лагерь, позволяя вам добывать и охотится а так же организовывать караваны.</SetUpCampDesc>
  <SetUpCampFormedCamp>Караван успешно построил лагерь.</SetUpCampFormedCamp>
  <SetUpCampSettingsCategoryLabel>Разбить лагерь</SetUpCampSettingsCategoryLabel>
  <SetUpCampSettingMapSize>Диапазон размера карты лагеря (По умолчанию: 75-125)</SetUpCampSettingMapSize>
  <SetUpCampSettingsMapTimerDays>Таймер ухода из лагеря (По умолчанию: 5)</SetUpCampSettingsMapTimerDays>
  <SetUpCampSettingsMapTimerDaysTooltip>Дней, пока караван не будет вынужден покинуть лагерь.</SetUpCampSettingsMapTimerDaysTooltip>
  <SetUpCampSettingsTimeout>Таймер сноса заброщенного лагеря (По умолчанию: 60)</SetUpCampSettingsTimeout>
  <SetUpCampSettingsTimeoutTooltip>Дней до сноса заброщенного лагеря (15-120)</SetUpCampSettingsTimeoutTooltip>
  <SetUpCampSettingMinCampSize>Минимальный размер лагеря</SetUpCampSettingMinCampSize>
  <SetUpCampSettingMaxCampSize>Максимальный размер лагеря</SetUpCampSettingMaxCampSize>
  <SetUpCampSettingsCustomMapGenDef>Включить ресурсы</SetUpCampSettingsCustomMapGenDef>
  <SetUpCampSettingsPermanentCamps>Включить постоянные лагеря (отключение этого параметра удалит все пустые лагеря в настоящее время на карте)</SetUpCampSettingsPermanentCamps>
  <SetUpCampSettingsHomeEvents>Включить события "обычной карты" для лагерей</SetUpCampSettingsHomeEvents>
  <SetUpCampSettingsCaravanEvents>Включить события "караваны" для лагерей</SetUpCampSettingsCaravanEvents>
  <SetUpCampDestroyCamp>Забросить лагерь</SetUpCampDestroyCamp>
  <SetUpCampDestroyCampDesc>Забросить лагерь навсегда.</SetUpCampDestroyCampDesc>
  <SetUpCampAbandonDialogue>Вы уверены что хотите навсегда уничтожить лагерь? Данное событие необратимо!</SetUpCampAbandonDialogue>
  <SetUpCampAbandoned>Лагерь заброшен.</SetUpCampAbandoned>
  <SetUpCampStillInUse>Колонисты всё еще в лагере. Вы должны сформировать караван перед уничтожением лагеря.</SetUpCampStillInUse>
  <SetUpCampOccupied>Вам нужно подождать, прежде чем создать лагерь в том же месте.</SetUpCampOccupied>

  

</LanguageData>