<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

	<ORcounter.label>Suciedad no especificada</ORcounter.label>

	<ORcounter.description>Ticker</ORcounter.description>

	<RPcounter.label>Suciedad no especificada</RPcounter.label>

	<RPcounter.description>Ticker</RPcounter.description>

	<EQcounter.label>Suciedad no especificada</EQcounter.label>

	<EQcounter.description>Ticker</EQcounter.description>

	<SCcounter.label>Suciedad no especificada</SCcounter.label>

	<SCcounter.description>Ticker</SCcounter.description>

	<CosmicRAD.label>Suciedad radiactiva</CosmicRAD.label>

	<CosmicRAD.description>Ticker</CosmicRAD.description>

	<IonCannonAction.label>Choque ionico</IonCannonAction.label>

	<IonCannonAction.description>Ticker</IonCannonAction.description>

	<MDcounter.label>Suciedad no especificada</MDcounter.label>

	<MDcounter.description>Ticker</MDcounter.description>

	<PCcounter.label>Suciedad no especificada</PCcounter.label>

	<PCcounter.description>Ticker</PCcounter.description>

	<ACcounter.label>Suciedad no especificada</ACcounter.label>

	<ACcounter.description>Ticker</ACcounter.description>

	<VGlower.label>luz</VGlower.label>

	<GENcounter.label>Suciedad no especificada</GENcounter.label>

	<GENcounter.description>Ticker</GENcounter.description>

	<MTRcounter.label>Suciedad no especificada</MTRcounter.label>

	<MTRcounter.description>Ticker</MTRcounter.description>

	<LCcounter.label>Suciedad no especificada</LCcounter.label>

	<LCcounter.description>Ticker</LCcounter.description>

	<RADcounter.label>Suciedad no especificada</RADcounter.label>

	<RADcounter.description>Ticker</RADcounter.description>

	<BVcounter.label>Suciedad no especificada</BVcounter.label>

	<BVcounter.description>Ticker</BVcounter.description>

	<NFRAD.label>Suciedad radiactiva</NFRAD.label>

	<NFRAD.description>Ticker</NFRAD.description>

	<SDcounter.label>Suciedad no especificada</SDcounter.label>

	<SDcounter.description>Ticker</SDcounter.description>

	<MTcounter.label>Suciedad no especificada</MTcounter.label>

	<MTcounter.description>Ticker</MTcounter.description>

	<NFcounter.label>Suciedad no especificada</NFcounter.label>

	<NFcounter.description>Ticker</NFcounter.description>

	<VCcounter.label>Suciedad no especificada</VCcounter.label>

	<VCcounter.description>Ticker</VCcounter.description>

	<NuclearStrikeIncoming.label>Lluvia navaja (Llegando!)</NuclearStrikeIncoming.label>

	<RazorRainIncoming.label>Lluvia navaja (Llegando!)</RazorRainIncoming.label>

	<Thing_RazorSpawner.label>Razor Spawner</Thing_RazorSpawner.label>

</LanguageData>
