<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <GENcounter.label>Suciedad no especificada</GENcounter.label>
  <GENcounter.description>Informe</GENcounter.description>

  <EQcounter.label>Suciedad no especificada</EQcounter.label>
  <EQcounter.description>Informe</EQcounter.description>

  <RPcounter.label>Suciedad no especificada</RPcounter.label>
  <RPcounter.description>Informe</RPcounter.description>

  <MTcounter.label>Suciedad no especificada</MTcounter.label>
  <MTcounter.description>Informe</MTcounter.description>

  <MDcounter.label>Suciedad no especificada</MDcounter.label>
  <MDcounter.description>Informe</MDcounter.description>

  <MTRcounter.label>Suciedad no especificada</MTRcounter.label>
  <MTRcounter.description>Informe</MTRcounter.description>

  <SCcounter.label>Suciedad no especificada</SCcounter.label>
  <SCcounter.description>Informe</SCcounter.description>

  <PCcounter.label>Suciedad no especificada</PCcounter.label>
  <PCcounter.description>Informe</PCcounter.description>

  <RADcounter.label>Suciedad no especificada</RADcounter.label>
  <RADcounter.description>Informe</RADcounter.description>

  <NFcounter.label>Suciedad no especificada</NFcounter.label>
  <NFcounter.description>Informe</NFcounter.description>

  <ORcounter.label>Suciedad no especificada</ORcounter.label>
  <ORcounter.description>Informe</ORcounter.description>

  <ACcounter.label>Suciedad no especificada</ACcounter.label>
  <ACcounter.description>Informe</ACcounter.description>

  <VCcounter.label>Suciedad no especificada</VCcounter.label>
  <VCcounter.description>Informe</VCcounter.description>

  <LCcounter.label>Suciedad no especificada</LCcounter.label>
  <LCcounter.description>Informe</LCcounter.description>

  <CosmicRAD.label>Suciedad radiactiva</CosmicRAD.label>
  <CosmicRAD.description>Informe</CosmicRAD.description>

  <NFRAD.label>Suciedad radiactiva</NFRAD.label>
  <NFRAD.description>Informe</NFRAD.description>

  <NuclearStrikeIncoming.label>Lluvia navaja (Llegando!)</NuclearStrikeIncoming.label>
  <RazorRainIncoming.label>Lluvia navaja (Llegando!)</RazorRainIncoming.label>
  <Thing_RazorSpawner.label>Lluvia navaja</Thing_RazorSpawner.label>


  <!-- Misc Resources -->

  <VGlower.label>luz</VGlower.label>
  <VGlower.description></VGlower.description>


</LanguageData>