<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <AT.ModVersion>Встановлена версія моду: {0}</AT.ModVersion>
  <AT.DefaultRadiusUnlimited>За замовчуванням радіус інгредієнта: Необмежений</AT.DefaultRadiusUnlimited>
  <AT.DefaultRadius>За замовчуванням радіус інгредієнта: {0}</AT.DefaultRadius>
  <AT.DefaultRadiusTT>Встановить цей радіус за замовчуванням для всіх нових рахунків, що створюються. Чи не впливає на існуючі рахунки.</AT.DefaultRadiusTT>
  <AT.MeatIngredients_Label>М'ясні інгредієнти</AT.MeatIngredients_Label>
  <AT.MeatIngredients_Tooltip>Якщо увімкнено, джерела м'яса додаватимуться до інгредієнтів і впливатимуть на ідеологію.</AT.MeatIngredients_Tooltip>
  <AT.DeliverAsMuchAsYouCan_Label>Доставте стільки, скільки зможете</AT.DeliverAsMuchAsYouCan_Label>
  <AT.DeliverAsMuchAsYouCan_Tooltip>Якщо включено, пішаки спробують доставити будь-які ресурси, що відповідають будь-якій вимогі до будівлі.</AT.DeliverAsMuchAsYouCan_Tooltip>
  <CutPlantsBeforeBuilding>Зрубувати рослинність перед початком будівництва</CutPlantsBeforeBuilding>
  <CoreSK_ShowTPSInRegularGame>Показувати TPS завжди</CoreSK_ShowTPSInRegularGame>
  <CoreSK_ShowRaidPoints>Показувати окуляри рейду поруч із TPS</CoreSK_ShowRaidPoints>
  <CoreSK_MaxRaidCount>Максимальна кількість рейдерів (0 = не змінювати)</CoreSK_MaxRaidCount>
  <CoreSK_Max4Speed>Обмеження максимальної швидкості (900 = за замовчуванням)</CoreSK_Max4Speed>
  <ReplaceStuff_CornerBuildable>Кутові клітини можна забудовувати та копати</ReplaceStuff_CornerBuildable>
  <AT_Credits>Частина твіків взята з модів: ShareTheLoad, ReplaceStuff</AT_Credits>
</LanguageData>