Source/.vs/*
bin/
RocketMan.zip
obj/
Source/.mfractor/
# Visual Studio left-overs
*.suo        # 'user' settings like 'which file is open in Visual Studio'
*.ncb        # Used for debugging
*.user
*.cache
*.pdb
*.vs
.DS_Store
