<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <ER_ExpandedRoofing>Expanded Roofing</ER_ExpandedRoofing>
  <ER_MaxOutputLabel>태양광 충전 컨트롤러 최대 출력</ER_MaxOutputLabel>
  <ER_WattagePerSolarPanelLabel>태양광 지붕 한 타일당 와트</ER_WattagePerSolarPanelLabel>
  <ER_GlassLights>'Glass+Lights'모드가 있을 시 천장 건설 시 강철을 유리로 대체</ER_GlassLights>
  <ER_RoofMaintenance>지붕 보수 작업 필요</ER_RoofMaintenance>

</LanguageData>