<?xml version="1.0" encoding="utf-8" ?>
<Defs>

  <!-- ChemicalDef>
    <defName>hotspring_chill</defName>
    <label>relaxing in hot spring</label>
	<onGeneratedAddictedToleranceChance>0</onGeneratedAddictedToleranceChance>
</ChemicalDef -->

 <HediffDef>
    <defName>HotspringChillOut</defName>
    <hediffClass>HediffWithComps</hediffClass>
    <label>relaxed from hot spring</label>
    <labelNoun>relaxing in a hot spring</labelNoun>
    <defaultLabelColor>(1,0,0.5)</defaultLabelColor>
    <scenarioCanAdd>true</scenarioCanAdd>
    <maxSeverity>1.0</maxSeverity>
    <isBad>false</isBad>
    <comps>
      <li Class="HediffCompProperties_SeverityPerDay">
        <severityPerDay>-1.5</severityPerDay>
      </li>
    </comps>
      <stages>
        <li>
		<painFactor>.75</painFactor>
          <restFallFactor>0.8</restFallFactor>
          <capMods>
            <li>
              <capacity>Consciousness</capacity>
              <offset>0.1</offset>
            </li>
            <li>
              <capacity>Moving</capacity>
              <offset>0.1</offset>
            </li>
          </capMods>
        </li>
      </stages>
  </HediffDef>
  
   <HediffDef>
    <defName>ColdspringChillOut</defName>
    <hediffClass>HediffWithComps</hediffClass>
    <label>relaxed from cold spring</label>
    <labelNoun>relaxing in a cold spring</labelNoun>
    <defaultLabelColor>(1,0,0.5)</defaultLabelColor>
    <scenarioCanAdd>true</scenarioCanAdd>
    <maxSeverity>1.0</maxSeverity>
    <isBad>false</isBad>
    <comps>
      <li Class="HediffCompProperties_SeverityPerDay">
        <severityPerDay>-1.5</severityPerDay>
      </li>
    </comps>
      <stages>
        <li>
  		  <painFactor>.75</painFactor>
          <restFallFactor>0.8</restFallFactor>
          <capMods>
            <li>
              <capacity>Consciousness</capacity>
              <offset>0.1</offset>
            </li>
            <li>
              <capacity>Moving</capacity>
              <offset>0.1</offset>
            </li>
          </capMods>
        </li>
      </stages>
  </HediffDef>
  
 </Defs>