<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <!-- EN: Track Visible Blueprints -->
  <trackingVisible_title>Отслеживание видимых чертежей</trackingVisible_title>
  <!-- EN: Option to enable or disable tracking of blueprints on the screen to display requirements.\n\nIf your computer is too slow to track visible blueprints, then you can disable that here. -->
  <trackingVisible_desc>Возможность включения или отключения отслеживания чертежей на экране для отображения требований.\n\nЕсли ваш компьютер слишком медленный для отслеживания видимых чертежей, вы можете отключить это здесь.</trackingVisible_desc>

  <!-- EN: Track Forbidden Blueprints -->
  <trackingForbidden_title>Отслеживание запрещенных чертежей</trackingForbidden_title>
  <!-- EN: Option to enable or disable the tracking of forbidden blueprints. Use to exclude large amounts of blueprints for tracking.\n\nThis applies to both selection tracking and visibility tracking. -->
  <trackingForbidden_desc>Возможность включить или отключить отслеживание запрещенных чертежей. Используйте, чтобы исключить большое количество чертежей для отслеживания.\n\nЭто относится как к отслеживанию выбора, так и к отслеживанию видимости.</trackingForbidden_desc>

  <!-- EN: Zoom Level for Visibility Tracking -->
  <zoomForTracking_title>Уровень масштабирования для отслеживания видимости</zoomForTracking_title>
  <!-- EN: The maximum zoom level when tracking blueprints visible on the screen.\n\nChoose a closer zoom level if your computer is having difficulties tracking too many blueprints. -->
  <zoomForTracking_desc>Максимальный уровень масштабирования при отслеживании чертежей, видимых на экране.\n\nВыберите более близкий уровень масштабирования, если ваш компьютер испытывает трудности с отслеживанием слишком большого количества чертежей.</zoomForTracking_desc>
  <!-- EN: Closest -->
  <zoomForTracking_Closest>Ближайший</zoomForTracking_Closest>
  <!-- EN: Close -->
  <zoomForTracking_Close>Закрывать</zoomForTracking_Close>
  <!-- EN: Middle -->
  <zoomForTracking_Middle>Середина</zoomForTracking_Middle>
  <!-- EN: Far -->
  <zoomForTracking_Far>Далеко</zoomForTracking_Far>
  <!-- EN: Furthest -->
  <zoomForTracking_Furthest>Самый дальний</zoomForTracking_Furthest>

  <!-- EN: Visibility Margin -->
  <visibilityMargin_title>Запас видимости</visibilityMargin_title>
  <!-- EN: The margin from the screen in pixels when deciding if a blueprint is visible or not.\n\nNote: This may not be exact. -->
  <visibilityMargin_desc>Отступ от экрана в пикселях при принятии решения о том, виден план или нет.\n\nПримечание. Это может быть неточным.</visibilityMargin_desc>

  <!-- EN: Keep Tooltip on Screen -->
  <clampTipToScreen_title>Оставить всплывающую подсказку на экране</clampTipToScreen_title>
  <!-- EN: If enabled, the totals tooltip will always be positioned to stay on screen. -->
  <clampTipToScreen_desc>Если включено, всплывающая подсказка итогов всегда будет оставаться на экране.</clampTipToScreen_desc>

  <!-- EN: Tooltip Clamp Margin -->
  <clampMargin_title>Поле зажима всплывающей подсказки</clampMargin_title>
  <!-- EN: The minimum distance in pixels from the edge of the screen the tooltip will stay at when trying to keep the tooltip onscreen. -->
  <clampMargin_desc>Минимальное расстояние в пикселях от края экрана, на котором будет оставаться всплывающая подсказка при попытке сохранить всплывающую подсказку на экране.</clampMargin_desc>

  <!-- EN: Highlighting Opacity -->
  <highlightOpacity_title>Выделение непрозрачности</highlightOpacity_title>
  <!-- EN: How opaque the highlighting rectangle is. Minimum opacity is 0% and maximum is 25%. Turn down to 0% to disable highlighting completely. -->
  <highlightOpacity_desc>Насколько непрозрачен прямоугольник выделения. Минимальная непрозрачность 0%, максимальная 25%. Уменьшите значение до 0%, чтобы полностью отключить подсветку.</highlightOpacity_desc>

  <!-- EN: Show Row Tooltips -->
  <showTips_title>Показать подсказки строк</showTips_title>
  <!-- EN: If enabled, hovering your mouse over a list element will display a tooltip. -->
  <showTips_desc>Если включено, при наведении указателя мыши на элемент списка будет отображаться всплывающая подсказка.</showTips_desc>

  <!-- EN: Count Items in Storage Only -->
  <countInStorage_title>Считать предметы только в хранилище</countInStorage_title>
  <!-- EN: If enabled, only items stored in stockpiles will be counted. -->
  <countInStorage_desc>Если включено, будут учитываться только предметы, хранящиеся на складах.</countInStorage_desc>

  <!-- EN: Count Forbidden Items -->
  <countForbidden_title>Подсчет запрещенных предметов</countForbidden_title>
  <!-- EN: If enabled and counting all items on map, forbidden items are counted. -->
  <countForbidden_desc>Если включено и подсчитываются все предметы на карте, учитываются запрещенные предметы.</countForbidden_desc>

  <!-- EN: Tooltip Position -->
  <tooltipPosition_title>Положение всплывающей подсказки</tooltipPosition_title>
  <!-- EN: Use the two sliders to set where the tooltip appears relative to tracked blueprints.\n\nThe translucent rectangle is the rectangle highlighting your tracked blueprints, while the white box is where the tooltip would be. -->
  <tooltipPosition_desc>Используйте два ползунка, чтобы указать, где будет отображаться всплывающая подсказка относительно отслеживаемых чертежей.\n\nПолупрозрачный прямоугольник — это прямоугольник, выделяющий ваши отслеживаемые чертежи, а белый прямоугольник — это место, где должна быть всплывающая подсказка.</tooltipPosition_desc>

  <!-- EN: Transfer Selection to New Frames -->
  <transferSel_title>Перенести выделение в новые кадры</transferSel_title>
  <!-- EN: If enabled, a selected blueprint that is turned into a frame when a colonist adds building materials to it will automatically be selected. -->
  <transferSel_desc>Если включено, выбранный чертеж, который превращается в рамку, когда колонист добавляет в него строительные материалы, будет выбран автоматически.</transferSel_desc>

</LanguageData>
