<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Private Field Wrapper</Title>
			<Shortcut>fastfield</Shortcut>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>objectType</ID>
					<Type>
					</Type>
					<ToolTip>object type</ToolTip>
					<Default>object</Default>
				</Literal>
				<Literal>
					<ID>fieldType</ID>
					<Type>
					</Type>
					<ToolTip>field type</ToolTip>
					<Default>int</Default>
				</Literal>
				<Literal>
					<ID>fieldName</ID>
					<Type>
					</Type>
					<ToolTip>field name</ToolTip>
					<Default>int</Default>
				</Literal>
			</Declarations>
			<Code Language="CSharp">
<![CDATA[static Func<$objectType$, $fieldType$> _get_$fieldName$ = FastAccess.CreateGetInstanceFieldWrapper<$objectType$, $fieldType$>("$fieldName$");
static Action<$objectType$, $fieldType$> _set_$fieldName$ = FastAccess.CreateSetInstanceFieldWrapper<$objectType$, $fieldType$>("$fieldName$");
public $fieldType$ $fieldName$
{
    get => _get_$fieldName$(Table);
    set => _set_$fieldName$(Table, value);
}
]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>