<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <ER_ExpandedRoofing>Expanded Roofing</ER_ExpandedRoofing>
  <ER_MaxOutputLabel>Sortie max du contrôleur solaire</ER_MaxOutputLabel>
  <ER_WattagePerSolarPanelLabel>Puissance du régulateur solaire par panneau solaire</ER_WattagePerSolarPanelLabel>

</LanguageData>