Assemblies/CombatExtended.dll
AssembliesCompat/*.dll
AssembliesCore/*.dll
*.suo
*.cache
*/Thumbs.db
/Source/.vs/*
Source/*/obj/*
Source/*/bin/*
/Source/*/*.csproj.user
.vscode
# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.pdb
 
# Ignore RimWorld assemblies 
Assembly-CSharp.dll 
UnityEngine.dll 

# Exclude optimized .dds textures from RimPy / png2dds
*.dds


.idea/
!*.xml.bak
__pycache__
ModPatches/*/Assemblies/
