<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <SetUpCamp>露营地</SetUpCamp>
  <SetUpCampDesc>设置一个临时营地，让你可以搜寻食物资源，治疗伤患并重组远行队。</SetUpCampDesc>
  <SetUpCampFormedCamp>远行队成功建立了一个营地。</SetUpCampFormedCamp>
  <SetUpCampSettingsCategoryLabel>露营地</SetUpCampSettingsCategoryLabel>
  <SetUpCampSettingMapSize>营地地图尺寸（默认值：75-125）</SetUpCampSettingMapSize>
  <SetUpCampSettingsMapTimerDays>营地存在时间（默认值：5）</SetUpCampSettingsMapTimerDays>
  <SetUpCampSettingsMapTimerDaysTooltip>能够在一个营地停留的最长天数。</SetUpCampSettingsMapTimerDaysTooltip>
  <SetUpCampSettingsTimeout>废弃营地消失时间（默认值：60）</SetUpCampSettingsTimeout>
  <SetUpCampSettingsTimeoutTooltip>被遗弃的营地消失需要的天数（15-120）</SetUpCampSettingsTimeoutTooltip>
  <SetUpCampSettingMinCampSize>营地地图最小尺寸</SetUpCampSettingMinCampSize>
  <SetUpCampSettingMaxCampSize>营地地图最大尺寸</SetUpCampSettingMaxCampSize>
  <SetUpCampSettingsCustomMapGenDef>启用资源</SetUpCampSettingsCustomMapGenDef>
  <SetUpCampSettingsPermanentCamps>启用永久营地（禁用此功能将永久删除当前地图上的所有空营地）</SetUpCampSettingsPermanentCamps>
  <SetUpCampSettingsHomeEvents>在营地地图启用殖民地地图的所有事件</SetUpCampSettingsHomeEvents>
  <SetUpCampSettingsCaravanEvents>在营地地图启用远行队的所有事件</SetUpCampSettingsCaravanEvents>
  <SetUpCampDestroyCamp>放弃营地</SetUpCampDestroyCamp>
  <SetUpCampDestroyCampDesc>永久放弃该营地。</SetUpCampDestroyCampDesc>
  <SetUpCampAbandonDialogue>你确定永久并不可逆转地放弃这个营地吗？</SetUpCampAbandonDialogue>
  <SetUpCampAbandoned>放弃营地。</SetUpCampAbandoned>
  <SetUpCampStillInUse>营地内还有殖民者。你必须在放弃营地前建立远行队。</SetUpCampStillInUse>
  <SetUpCampOccupied>当前位置已经有营地。</SetUpCampOccupied>

  <SetUpCamp_GeneratingCamp>生成营地</SetUpCamp_GeneratingCamp>


</LanguageData>