<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <trackingVisible_title>Projeto de trilha na tela</trackingVisible_title>
  <trackingVisible_desc>Uma opção para ativar ou desativar o rastreamento de design na tela para visualizar os requisitos.\n\nSe o comportamento do seu PC ficar mais lento à medida que você acompanha o design na tela, você pode desativá-lo aqui.</trackingVisible_desc>

  <trackingForbidden_title>Rastrear designs proibidos</trackingForbidden_title>
  <trackingForbidden_desc>Uma opção para ativar ou desativar o rastreamento de designs proibidos. Usado para excluir um grande número de designs do rastreamento.\n\nIsso se aplica tanto ao rastreamento selecionado quanto ao rastreamento na tela.</trackingForbidden_desc>

  <zoomForTracking_title>Nível de zoom de rastreamento de design</zoomForTracking_title>
  <zoomForTracking_desc>Nível máximo de zoom ao rastrear o design.\n\nSe você tiver muitos designs para lidar no seu PC, mude o nível de zoom para mais perto.</zoomForTracking_desc>
  <zoomForTracking_Closest>Mais próximo</zoomForTracking_Closest>
  <zoomForTracking_Close>Abordagem</zoomForTracking_Close>
  <zoomForTracking_Middle>Usualmente</zoomForTracking_Middle>
  <zoomForTracking_Far>Distante</zoomForTracking_Far>
  <zoomForTracking_Furthest>Mais distante</zoomForTracking_Furthest>

  <visibilityMargin_title>Margem da borda da tela (no momento da contabilização)</visibilityMargin_title>
  <visibilityMargin_desc>A margem (em pixels) afastada das bordas da tela ao exibir o design.\n\nNota: Isso pode ser impreciso.</visibilityMargin_desc>

  <clampTipToScreen_title>Sempre exibir dicas de ferramentas na tela</clampTipToScreen_title>
  <clampTipToScreen_desc>Quando ativado, as dicas de ferramentas totais sempre serão exibidas na tela.</clampTipToScreen_desc>

  <clampMargin_title>Largura da margem da dica de ferramenta</clampMargin_title>
  <clampMargin_desc>Define a largura da distância mínima (em pixels) da margem que deve estar afastada da borda da tela onde a dica de ferramenta é exibida ao tentar exibir a dica de ferramenta na tela o tempo todo.</clampMargin_desc>

  <highlightOpacity_title>Realçar opacidade</highlightOpacity_title>
  <highlightOpacity_desc>A opacidade da janela de exibição (quadrado) a ser destacada. A opacidade mínima é 0% e a máxima é 25%. Para desabilitar completamente o realce, reduza-o para 0%.</highlightOpacity_desc>

  <showTips_title>Exibição de detalhes do material</showTips_title>
  <showTips_desc>Uma vez ativado, passe o mouse sobre a lista de materiais para ver uma dica de ferramenta.</showTips_desc>

  <countInStorage_title>Apenas a zona de estoque é registrada</countInStorage_title>
  <countInStorage_desc>Quando ativado, apenas os itens armazenados na zona de estoque serão contados.</countInStorage_desc>

  <countForbidden_title>Registre itens proibidos</countForbidden_title>
  <countForbidden_desc>Quando ativado, todos os itens do mapa serão contados, incluindo itens proibidos.</countForbidden_desc>

  <tooltipPosition_title>Posição da dica de ferramenta</tooltipPosition_title>
  <tooltipPosition_desc>Use os dois controles deslizantes para definir onde as dicas de ferramentas associadas ao design rastreado são exibidas uma em relação à outra. \ n \ n A janela de exibição translúcida (quadrado) é um quadrado que destaca o desenho rastreado, e a área branca é onde as dicas de ferramentas são exibidas.</tooltipPosition_desc>

  <transferSel_title>Seleção automática de novas peças de construção</transferSel_title>
  <transferSel_desc>Quando ativado, os colonos trarão materiais para o projeto selecionado e as peças recém-construídas serão automaticamente selecionadas (contabilizadas).</transferSel_desc>

</LanguageData>
