<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

	<!-- Settings -->
	<enableInsectoidJumps>Включить прыжки инсектоидов</enableInsectoidJumps>
	<enableInsectoidJumpsDesc>Инсектоиды приобретут способность прыгать на жертву.</enableInsectoidJumpsDesc>
	
	<enableVEFIntegration>Интеграция с Vanilla Factions Expanded</enableVEFIntegration>
	<enableVEFIntegrationDesc>Отключает ranged verb patch для домашних животных.</enableVEFIntegrationDesc>
	
	<deathRattleOptions>Показать Death Rattle опции</deathRattleOptions>
	<deathRattleOptionsDesc>Показать все настройки для механики Death Rattle. Эта механика позволяет активировать для раненной пешки дополнительную возможность "при смерти", чтобы попытаться за ограниченное время успеть спасти пешку от неминуемой смерти.</deathRattleOptionsDesc>
	
	<deathRattleChance>Вероятность Death Rattle: {0}</deathRattleChance>
	<deathRattleChanceDesc>Шанс, что сработает Death Rattle. Если не сработает, пешка умрет мгновенно (по умолчанию 100%)..</deathRattleChanceDesc>
	
	<AdvancedOptions>Дополнительные опции</AdvancedOptions>
	<AdvancedOptionsDesc>Показать продвинутые настройки (Примечание: рекомендуем не изменять)</AdvancedOptionsDesc>
	
	<HSK_More_Setting>Другие настройки</HSK_More_Setting>
	
	<RaidWeightDelay>Задержка рейда: {0}</RaidWeightDelay>
	<RaidWeightDelayDesc>Более высокое значение увеличивает задержку между рейдами. Подходящие значения: 100-300.</RaidWeightDelayDesc>
	
	<RaidDaysDelay>Задержка в днях: {0}</RaidDaysDelay>
	<RaidDaysDelayDesc>Смещение значения RaidWeightDelay в днях, которое влияет на шанс рейда. По умолчанию:2 Подходящие значения:-4-4</RaidDaysDelayDesc>
	
	<RaidDaysVariationMin>Минимальный сдвиг: {0}</RaidDaysVariationMin>
	<RaidDaysVariationMinDesc>Сдвиг минимального отклонения в днях, который влияет на шанс рейда. По умолчанию:-2 Подходящие значения:-4-0</RaidDaysVariationMinDesc>
	
	<RaidDaysVariationMax>Максимальный сдвиг: {0}</RaidDaysVariationMax>
	<RaidDaysVariationMaxDesc>Смещение максимального изменения в днях, которое влияет на шанс рейда. Должно быть больше, чем минимальное значение. По умолчанию:4 Подходящие значения:0-4</RaidDaysVariationMaxDesc>
	
	<RaidPointsMultiplier>Множитель очков рейда: {0}</RaidPointsMultiplier>
	<RaidPointsMultiplierDesc>Множитель силы рейда, влияющий на количество врагов в рейде. По умолчанию:1,9 (без множителя). Подходящие значения: 0,50-2,00</RaidPointsMultiplierDesc>
	
	<RaidDoubleChance>Шанс двойного рейда: {0}</RaidDoubleChance>
	<RaidDoubleChanceDesc>Шанс появления двойного рейда. По умолчанию:0.2 Подходящие значения: 0-0.25</RaidDoubleChanceDesc>
	
	<DefaultRaidLandingChance>Шанс на десант: {0}</DefaultRaidLandingChance>
	<DefaultRaidLandingChanceDesc>Шанс вызвать рейд десантом. По умолчанию: 0.05 Подходящие значения: 0.01-0.05</DefaultRaidLandingChanceDesc>
	
	<MaxRaidLandingChance>Максимальный шанс на десант: {0}</MaxRaidLandingChance>
	<MaxRaidLandingChanceDesc>Максимальный шанс рейда десантом. По умолчанию: 0.20 Должен быть выше значения по умолчанию. Подходящие значения: 0.01-0.05</MaxRaidLandingChanceDesc>
	
	<DestroyMechanoidAmmo>Уничтожить боеприпасы для механоидов: {0}</DestroyMechanoidAmmo>
	<DestroyMechanoidAmmoDesc>Уничтожать боеприпасы механоидов после убийства.</DestroyMechanoidAmmoDesc>
	
	<ChanceToInstantDestroyAmmo>Шанс уничтожить боеприпасы: {0}</ChanceToInstantDestroyAmmo>
	<ChanceToInstantDestroyAmmoDesc>Шанс полностью уничтожить вражеские боеприпасы при убийстве.</ChanceToInstantDestroyAmmoDesc>
	
	<ChanceToInstantDestroyEnemyItem>Шанс уничтожить экипировку: {0}</ChanceToInstantDestroyEnemyItem>
	<ChanceToInstantDestroyEnemyItemDesc>Шанс полностью уничтожить вражескую экипировку при убийстве.</ChanceToInstantDestroyEnemyItemDesc>
	
	<ChanceToDamageEnemyItem>Шанс нанести урон вражеской экипировке {0}</ChanceToDamageEnemyItem>
	<ChanceToDamageEnemyItemDesc>Шанс нанести урон вражеской экипировке при убийстве.</ChanceToDamageEnemyItemDesc>
	
	<MinAmountDeterioration>Минимальный шанс урона экипировке: {0}</MinAmountDeterioration>
	<MinAmountDeteriorationDesc>Минимальный шанс повредить вражеское снаряжение при убийстве.</MinAmountDeteriorationDesc>
	
	<MaxAmountDeterioration>Максимальный шанс урона экипировке: {0}</MaxAmountDeterioration>
	<MaxAmountDeteriorationDesc>Максимальный шанс нанести урон вражеской экипировке при убийстве.</MaxAmountDeteriorationDesc>
	
	<MaxRaidCount>Макс. количество в рейде: {0}</MaxRaidCount>
	<MaxRaidCountDesc>Максимально возможное количество пешек в рейде. По умолчанию:130 МинЗначение:10 МаксЗначение:500</MaxRaidCountDesc>
	
	<MaxCountToReduce>Максимальное число для снижения: {0}</MaxCountToReduce>
	<MaxCountToReduceDesc>Будет учитывать уже появляющиеся на карте вражеские пешки и вычитать их из максимального значения. По умолчанию: 50 МинЗначение:1 МаксЗначение:(Макс. количество - 1)</MaxCountToReduceDesc>
	
	<EnableRaidAssistant>Включите помощника рассказчика: {0}</EnableRaidAssistant>
	<EnableRaidAssistantDesc>Включите помощника рассказчика HSK.</EnableRaidAssistantDesc>
	
	<EnableAfterDaysPassed>Включить по истечении дней: {0}</EnableAfterDaysPassed>
	<EnableAfterDaysPassedDesc>Включить помощника рассказчика после прошедших игровых дней. По умолчанию:120.</EnableAfterDaysPassedDesc>
	
	<AverageAssistDelay>Средняя задержка: {0}</AverageAssistDelay>
	<AverageAssistDelayDesc>Количество времени между событиями триггера помощника рассказчика. Подходящие значения:1800-3000</AverageAssistDelayDesc>
	
	<AssistantRaidPointsMultiplier>Множитель очков рейда: {0}</AssistantRaidPointsMultiplier>
	<AssistantRaidPointsMultiplierDesc>Множитель очков рейда помощника рассказчика. Подходящие значения:0.5-1.0</AssistantRaidPointsMultiplierDesc>
	
	<EnableBombardament>Включить бомбардировку: {0}</EnableBombardament>
	<EnableBombardamentDesc>Включить бомбардировку для помощи вражеским фракциям?</EnableBombardamentDesc>
	
	<EnablePowerBeamStrike>Включить ионную пушку: {0}</EnablePowerBeamStrike>
	<EnablePowerBeamStrikeDesc>Включить ионную пушку, для помощи вражеским фракциям?</EnablePowerBeamStrikeDesc>
	
	<DefaultSettings_RequireRestart>Любые изменения потребуют перезапуска игры.</DefaultSettings_RequireRestart>
	
</LanguageData>