<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

	<MainTabLabel>Основное</MainTabLabel>
	<RaidHelperTabLabel>Помощник рассказчика</RaidHelperTabLabel>
	
	<MainSettingsLabel>Основные настройки</MainSettingsLabel>
	<RaidHelperSettingsLabel>Основные настройки</RaidHelperSettingsLabel>
	<UsefulFunctionsLabel>Полезное</UsefulFunctionsLabel>
	
	<RestoreToDefaultLabel>Восстановить настройки по умолчанию</RestoreToDefaultLabel>
	<RestoreToDefaultDesc>По умолчанию</RestoreToDefaultDesc>
	
	<enableInsectoidJumpsLabel>Включить прыжки инсектоидов</enableInsectoidJumpsLabel>
	<enableInsectoidJumpsDesc>Инсектоиды приобретут способность прыгать на жертву.</enableInsectoidJumpsDesc>
	
	<enableVEFIntegrationLabel>Интеграция с Vanilla Factions Expanded</enableVEFIntegrationLabel>
	<enableVEFIntegrationDesc>Отключает ranged verb patch для домашних животных.</enableVEFIntegrationDesc>
	
	<deathRattleChanceLabel>Вероятность Death Rattle: {0}</deathRattleChanceLabel>
	<deathRattleChanceDesc>Шанс, что сработает Death Rattle. Если не сработает, пешка умрет мгновенно (по умолчанию 100%)..</deathRattleChanceDesc>
	
	<RaidWeightDelayLabel>Задержка рейда</RaidWeightDelayLabel>
	<RaidWeightDelayDesc>Более высокое значение увеличивает задержку между рейдами. Подходящие значения: 100-300.</RaidWeightDelayDesc>
	
	<RaidDaysDelayLabel>Задержка в днях</RaidDaysDelayLabel>
	<RaidDaysDelayDesc>Смещение значения RaidWeightDelay в днях, которое влияет на шанс рейда. По умолчанию:2 Подходящие значения:-4-4</RaidDaysDelayDesc>
	
	<RaidDaysVariationMinLabel>Минимальный сдвиг</RaidDaysVariationMinLabel>
	<RaidDaysVariationMinDesc>Сдвиг минимального отклонения в днях, который влияет на шанс рейда. По умолчанию:-2 Подходящие значения:-4-0</RaidDaysVariationMinDesc>
	
	<RaidDaysVariationMaxLabel>Максимальный сдвиг</RaidDaysVariationMaxLabel>
	<RaidDaysVariationMaxDesc>Смещение максимального изменения в днях, которое влияет на шанс рейда. Должно быть больше, чем минимальное значение. По умолчанию:4 Подходящие значения:0-4</RaidDaysVariationMaxDesc>
	
	<RaidPointsMultiplierLabel>Множитель очков рейда: {0}</RaidPointsMultiplierLabel>
	<RaidPointsMultiplierDesc>Множитель силы рейда, влияющий на количество врагов в рейде. По умолчанию:1,9 (без множителя). Подходящие значения: 0,50-2,00</RaidPointsMultiplierDesc>
	
	<RaidDoubleChanceLabel>Шанс двойного рейда: {0}</RaidDoubleChanceLabel>
	<RaidDoubleChanceDesc>Шанс появления двойного рейда. По умолчанию:0.2 Подходящие значения: 0-0.25</RaidDoubleChanceDesc>
	
	<DefaultRaidLandingChanceLabel>Шанс на десант: {0}</DefaultRaidLandingChanceLabel>
	<DefaultRaidLandingChanceDesc>Шанс вызвать рейд десантом. По умолчанию: 0.05 Подходящие значения: 0.01-0.05</DefaultRaidLandingChanceDesc>
	
	<MaxRaidLandingChanceLabel>Максимальный шанс на десант: {0}</MaxRaidLandingChanceLabel>
	<MaxRaidLandingChanceDesc>Максимальный шанс рейда десантом. По умолчанию: 0.20 Должен быть выше значения по умолчанию. Подходящие значения: 0.01-0.05</MaxRaidLandingChanceDesc>
	
	<DestroyMechanoidAmmoLabel>Уничтожить боеприпасы для механоидов</DestroyMechanoidAmmoLabel>
	<DestroyMechanoidAmmoDesc>Уничтожать боеприпасы механоидов после убийства.</DestroyMechanoidAmmoDesc>
	
	<ChanceToInstantDestroyAmmoLabel>Шанс уничтожить боеприпасы: {0}</ChanceToInstantDestroyAmmoLabel>
	<ChanceToInstantDestroyAmmoDesc>Шанс полностью уничтожить вражеские боеприпасы при убийстве.</ChanceToInstantDestroyAmmoDesc>
	
	<ChanceToInstantDestroyEnemyItemLabel>Шанс уничтожить экипировку: {0}</ChanceToInstantDestroyEnemyItemLabel>
	<ChanceToInstantDestroyEnemyItemDesc>Шанс полностью уничтожить вражескую экипировку при убийстве.</ChanceToInstantDestroyEnemyItemDesc>
	
	<ChanceToDamageEnemyItemLabel>Шанс нанести урон вражеской экипировке: {0}</ChanceToDamageEnemyItemLabel>
	<ChanceToDamageEnemyItemDesc>Шанс нанести урон вражеской экипировке при убийстве.</ChanceToDamageEnemyItemDesc>
	
	<MinAmountDeteriorationLabel>Минимальный шанс урона экипировке</MinAmountDeteriorationLabel>
	<MinAmountDeteriorationDesc>Минимальный шанс повредить вражеское снаряжение при убийстве.</MinAmountDeteriorationDesc>
	
	<MaxAmountDeteriorationLabel>Максимальный шанс урона экипировке</MaxAmountDeteriorationLabel>
	<MaxAmountDeteriorationDesc>Максимальный шанс нанести урон вражеской экипировке при убийстве.</MaxAmountDeteriorationDesc>
	
	<MaxRaidCountLabel>Макс. количество в рейде</MaxRaidCountLabel>
	<MaxRaidCountDesc>Максимально возможное количество пешек в рейде. По умолчанию:130 МинЗначение:10 МаксЗначение:500</MaxRaidCountDesc>
	
	<MaxCountToReduceLabel>Максимальное число для снижения</MaxCountToReduceLabel>
	<MaxCountToReduceDesc>Будет учитывать уже появляющиеся на карте вражеские пешки и вычитать их из максимального значения. По умолчанию: 50 МинЗначение:1 МаксЗначение:(Макс. количество - 1)</MaxCountToReduceDesc>
	
	<EnableRaidAssistantLabel>Включите помощника рассказчика</EnableRaidAssistantLabel>
	<EnableRaidAssistantDesc>Включите помощника рассказчика HSK.</EnableRaidAssistantDesc>
	
	<EnableAfterDaysPassedLabel>Включить по истечении дней</EnableAfterDaysPassedLabel>
	<EnableAfterDaysPassedDesc>Включить помощника рассказчика после прошедших игровых дней. По умолчанию:120.</EnableAfterDaysPassedDesc>
	
	<AverageAssistDelayLabel>Средняя задержка</AverageAssistDelayLabel>
	<AverageAssistDelayDesc>Количество времени между событиями триггера помощника рассказчика. Подходящие значения:1800-3000</AverageAssistDelayDesc>
	
	<AssistantRaidPointsMultiplierLabel>Множитель очков рейда: {0}</AssistantRaidPointsMultiplierLabel>
	<AssistantRaidPointsMultiplierDesc>Множитель очков рейда помощника рассказчика. Подходящие значения:0.5-1.0</AssistantRaidPointsMultiplierDesc>
	
	<EnableBombardamentLabel>Включить бомбардировку</EnableBombardamentLabel>
	<EnableBombardamentDesc>Включить бомбардировку для помощи вражеским фракциям?</EnableBombardamentDesc>
	
	<EnablePowerBeamStrikeLabel>Включить ионную пушку</EnablePowerBeamStrikeLabel>
	<EnablePowerBeamStrikeDesc>Включить ионную пушку, для помощи вражеским фракциям?</EnablePowerBeamStrikeDesc>

	<EnableFireGlowLabel>Включить свечение огня</EnableFireGlowLabel>
	<EnableFireGlowDesc>Включает дополнительное освещение от огня для создания атмосферы. Может снизить производительность игры. По умолчанию отключено.</EnableFireGlowDesc>

</LanguageData>