<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <TKKN_hotspring_chill_out.label>расслабленный от горячего источника</TKKN_hotspring_chill_out.label>
  <TKKN_hotspring_chill_out.labelNoun>расслабляется в горячем источнике</TKKN_hotspring_chill_out.labelNoun>

  <TKKN_coldspring_chill_out.label>расслабленный от холодного источника</TKKN_coldspring_chill_out.label>
  <TKKN_coldspring_chill_out.labelNoun>расслабляется в холодном источнике</TKKN_coldspring_chill_out.labelNoun>


</LanguageData>