<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <trackingVisible_title>跟蹤可見藍圖</trackingVisible_title>
  <trackingVisible_desc>選項可在屏幕上啟用或禁用對藍圖的跟蹤以顯示需求。\n\n如果您的計算機太慢，無法跟蹤可見的藍圖，那麽您可以在這裏禁用它。</trackingVisible_desc>
  <trackingForbidden_title>跟蹤禁用藍圖</trackingForbidden_title>
  <trackingForbidden_desc>選項，以啟用或禁用禁用藍圖的跟蹤。用於排除用於跟蹤的大量藍圖。\n\n這適用於選擇跟蹤和可見跟蹤。</trackingForbidden_desc>
  <zoomForTracking_title>可見跟蹤的變焦級別</zoomForTracking_title>
  <zoomForTracking_desc>跟蹤屏幕上可見的藍圖時的最大縮放級別。\n\n如果您的計算機在跟蹤太多的藍圖時遇到困難，請選擇壹個較近的縮放級別。</zoomForTracking_desc>
  <zoomForTracking_Closest>最近</zoomForTracking_Closest>
  <zoomForTracking_Close>近</zoomForTracking_Close>
  <zoomForTracking_Middle>中等</zoomForTracking_Middle>
  <zoomForTracking_Far>遠</zoomForTracking_Far>
  <zoomForTracking_Furthest>最遠</zoomForTracking_Furthest>
  <visibilityMargin_title>可見性裕度</visibilityMargin_title>
  <visibilityMargin_desc>當決定藍圖是否可見時，距屏幕的空白(以像素為單位)。\n\nNote:這可能不準確。</visibilityMargin_desc>
  <clampTipToScreen_title>保持工具提示在屏幕上</clampTipToScreen_title>
  <clampTipToScreen_desc>如果啟用，總計工具提示將始終定位在屏幕上。</clampTipToScreen_desc>
  <clampMargin_title>工具提示夾裕度</clampMargin_title>
  <clampMargin_desc>當試圖將工具提示保留在屏幕上時，工具提示將保持與屏幕邊緣的最小像素距離。</clampMargin_desc>
  <highlightOpacity_title>強調不透明度</highlightOpacity_title>
  <highlightOpacity_desc>突出顯示矩形的不透明程度。最小不透明度為0%，最大不透明度為25%。調至0%以完全禁用高亮顯示。</highlightOpacity_desc>
  <showTips_title>顯示工具提示行</showTips_title>
  <showTips_desc>如果啟用，將鼠標懸停在列表元素上將顯示工具提示。</showTips_desc>
  <countInStorage_title>僅計算存儲中的物品</countInStorage_title>
  <countInStorage_desc>如果啟用，將只計算存儲在庫存中的物品</countInStorage_desc>
  <countForbidden_title>計算禁用物品</countForbidden_title>
  <countForbidden_desc>如果啟用並計算地圖上的所有項目，則會計算禁用物品。</countForbidden_desc>
  <tooltipPosition_title>工具提示的位置</tooltipPosition_title>
  <tooltipPosition_desc>使用這兩個滑塊來設置工具提示相對於跟蹤的藍圖的顯示位置。\n\n半透明的矩形是突出顯示妳的跟蹤藍圖的矩形，而白色的方框是工具提示的位置。</tooltipPosition_desc>
  <transferSel_title>轉移選擇到新的結構</transferSel_title>
  <transferSel_desc>如果啟用，當殖民者向選定的藍圖中添加建築材料時，該藍圖將自動被選中。</transferSel_desc>
</LanguageData>