<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <LabelAG>Animal Genocide</LabelAG>
  <DescAG>All of the non-human species within the area have mysteriously died off. \nThere must be some kind of super mysterious phenomena in this RimWorld.</DescAG>

  <LabelAE>Accidental Explosion</LabelAE>
  <DescAE>A power plant engine malfunction has caused an explosion. The power plant has been severely damaged or destroyed.</DescAE>

  <LabelBV>A Vile Force Of Darkness Has Arrived!</LabelBV>
  <DescBV>The Lord of Darkness has struck this RimWorld! Prepare yourself, for the darkness consumes all! \n\nStay within light sources for protection!</DescBV>

  <LabelBH>Meteor Incoming!</LabelBH>
  <DescBH>A meteoroid has entered the planet's gravity well and is crashing down in a fiery explosion!</DescBH>

  <LabelBMH>Meteor Shower Incoming!</LabelBMH>
  <DescBMH>A shower of meteoroids have entered the planet's gravity well and are crashing down in fiery explosions!</DescBMH>

  <FoundTreasure>Found Treasure</FoundTreasure>
  <HeStash> was feeling generous and decided to give a treasured gun he was hiding to serve the colony. \n\nHe gave his </HeStash>
  <SheStash> was feeling generous and decided to give a treasured gun she was hiding to serve the colony.\n\nShe gave her </SheStash> 
  <GunStash> gun.</GunStash> 
  <HeMoney> was feeling generous and decided its better to share his wealth for the colony. \n\nHe's decided to donate </HeMoney>
  <SheMoney> was feeling generous and decided its better to share her wealth for the colony. \n\nShe's decided to donate </SheMoney>
  <SilverStash> Silver to the colony.</SilverStash>
  
  <DescEQ>Warning! EARTHQUAKE! Watch out for falling debris!</DescEQ>
  <LabelEQ>Earthquake!</LabelEQ>

  <LabelFE>Strange Eclipse</LabelFE>
  <DescFE>The eclipse has made </DescFE>
  <DescFEtwo>s in the area feral. They are merging to attack your colony so prepare a defense right away!</DescFEtwo>
  
  <LabelEM>Eclipse Meteor</LabelEM>
  <DescEM>This Eclipse isn't caused by a moon, it's a large meteor passing by! \nWatch out for its separated section and crashing debris! \n\nIt might have dropped precious metals!</DescEM>
  
  <RescueStay>Stay in Colony</RescueStay>
  <RescueGoAway>Get Rescued</RescueGoAway>
  <EndGame>A nearby ship from another planet cluster has received intel on the crash site based from the distress signal you dispersed during the destruction of the your ship. They have decided to come and get you and your colonists. \n\nYou can choose to end the game now and tell the rescue ship to come and get you or choose to stay, it's totally up to you.</EndGame>

  <LabelFL>Flash Flood</LabelFL>
  <DescFL>The constant downpour of rain has triggered a Flash Flood within the vicinity!</DescFL>

  <LabelHC>Hungry Carnivores Arrived</LabelHC>
  <DescHC>A pack of hungry carnivores is looking for food. Your colonists look like food.</DescHC>

  <MessMS>-----------Incoming Transmission----------- \n\n Warning! Warning!\n The Mechanoid Hive has deployed a Cocoon within the area. The Cocoon will not stop calling Mechanoids until you have destroyed it. \n\n Prepare your best team and destroy the Cocoon!</MessMS>
  <LabelMS>Landing Mechanoid Hive</LabelMS>
  <DescMS>The Mechanoid Hive has deployed a Cocoon within the area. The Cocoon will not stop calling Mechanoids until you have destroyed it. \n\n Prepare your best team and destroy the Cocoon!</DescMS>

  <LabelMG>Migration</LabelMG>
  <DescMG>A group of animals is migrating through your region.</DescMG>

  <NauseaLabel>Nausea</NauseaLabel>
  <NauseaHeDesc> is feeling nauseous. He vomited all over the floor and needs rest.</NauseaHeDesc>
  <NauseaSheDesc> is feeling nauseous. She vomited all over the floor and needs rest.</NauseaSheDesc>

  <NEDesc>WARNING!!! There was an explosion at a nuclear reactor!</NEDesc>
  <NELabel>Nuclear Incident</NELabel>

  <LabelPB>Prison Break</LabelPB>
  <DescPB>It's a Prison Break! \n\nSomeone or something has managed to hijack all of the colony doors. Capture them!</DescPB>

  <PA_A>Your Prisoner </PA_A>
  <PA_B> let out his anger and punched Prisoner </PA_B>
  <PA_C> right in the face! \n\nOwwwwww!</PA_C>
  <LabelPA>Letter</LabelPA>

  <LabelPR>Prisoner Rampage</LabelPR>
  <prisPR>Prisoner</prisPR>
  <DescPR> can't stand being in prison and has resulted to violence.</DescPR>

  <LabelPT>Prison Riot</LabelPT>
  <DescPT>Its a Prison Riot! Be careful on subjugating your prisoners, or you might get mauled!</DescPT>
  <DescPTtwo>A Prisoner wants out! Subjugate your prisoner immediately to avoid unnecessary violence.</DescPTtwo>
  
  <LabelRV>Rage Virus</LabelRV>
  <DescRV>has been found immune by the unknown calamity.</DescRV>  
  
  <LabelRVH>Warning: Rage Virus!</LabelRVH>   
  <DescRVH>An unknown calamity has struck! Most of the humans in the area have been driven insane and are attacking each other! Half of your colonists are affected. Hurry up and do something!</DescRVH>  
  
  <InterventionLabel>Intervention</InterventionLabel>   
  <InterventionDesc>An enemy faction has established a command center within the vicinity. The command center will not stop calling Raiders until you have destroyed it. \n\n Prepare your best team and destroy the command center!</InterventionDesc>  
  <InterventionMess>-----------Incoming Transmission----------- \n\n Warning! Warning!\n The Raiders have established a command center within the vicinity. The command center will not stop calling Raiders until you have destroyed it. \n\n Prepare your best team and destroy the command center!</InterventionMess>   
  
  <SndLabel>Syndicate Raid</SndLabel>   
  <Snd_A> is actually a raider from </Snd_A>    
  <Snd_Bf> and has contacted his base of operations and pinpointed the colony for an AirDrop. \n\nRaiders Inbound!</Snd_Bf>    
  <Snd_Bm> and has cont	acted his base of operations and pinpointed the colony for an AirDrop. \n\nRaiders Inbound!</Snd_Bm>  
  
  <LabelRZ>Razor Rain Imminent</LabelRZ>    
  <DescRZ>Some debris in orbit around the planet has started to fall in the area, brace yourselves.</DescRZ>

  <LabelCR>Cosmic Radiation</LabelCR>
  <DescCR>got through the radiation and is struggling to help the other colonists</DescCR>   
  <DescHCR>Too much radiation from the solar flare has triggered cosmic radiation upon the humans within the area. \n\nEverybody feels nauseous, younger people may have fared well but the older ones are feeling ill and needs rest.</DescHCR>  

  <LabelSS>Static Signals</LabelSS>
  <DescSS>Heavy static signals are causing a massive atmospheric disturbance in the vicinity of the colony!</DescSS>   

  <LabelHA>Stroke</LabelHA>   
  <DescHA> has experienced a stroke. Handle with care.</DescHA>   

  <LabelSC>Suspicious Crates</LabelSC>   
  <DescSC>A number of suspicious crates have surfaced near the colony's vicinity. \n\nYou could check them out or just leave them alone. \n\nWhat could be inside of those crates?</DescSC>   

  <TribMigrDesc>A whole tribe of travellers has arrived within the area of your colony. \n\nYou can only imagine what fate has decided for them to endure this destiny.</TribMigrDesc>   

  <MeteorStopLabel>Meteor Shower Stopped</MeteorStopLabel>
  <MeteorStopDesc>The Meteor Shower has stopped. No further meteors detected.</MeteorStopDesc>

  <RazorOverLabel>Razor Rain Stopped</RazorOverLabel> 
  <RazorOverDesc>The Razor Rain seems to be letting up.</RazorOverDesc>

  <MechCCLabel>Mechanoid Cocoon</MechCCLabel> 
  <MechCCDesc>The Mechanoids are now hellbent on destroying the colony. An army of Mechanoids is now charging towards the colony.</MechCCDesc> 

  <DarknessComesA>Darkness will engulf this RimWorld in 60.</DarknessComesA> 
  <DarknessComesB>Darkness will engulf this RimWorld in 30.</DarknessComesB> 
  <DarknessComesC>Darkness will engulf this RimWorld in 15.</DarknessComesC> 
  <DarknessComesD>Darkness will engulf this RimWorld in 5.</DarknessComesD> 
  <DarknessComesE>Darkness will engulf this RimWorld in 4.</DarknessComesE> 
  <DarknessComesF>Darkness will engulf this RimWorld in 3.</DarknessComesF>
  <DarknessComesG>Darkness will engulf this RimWorld in 2.</DarknessComesG>
  <DarknessComesH>Darkness will engulf this RimWorld in 1.</DarknessComesH> 
  <DarknessComes>The Darkness is out to get you!</DarknessComes> 
  <OmniousDarkLabel>Omnious Darkness</OmniousDarkLabel> 
  <OmniousDarkDesc>The darkness has moved on, but you are not safe from its path... \n\n The Darkness will meet with you again, soon...</OmniousDarkDesc> 
  <TakenDC>The Shadow has taken </TakenDC>
  <IntoDS> into the darkness.</IntoDS>
    
  <EQMess>An earthquake! Is anybody hurt? \n\nLooks like some of the buildings got severely damaged.</EQMess> 
  <EQMessLow>An earthquake! Is anybody hurt? \n\nLooks like some of the buildings got damaged.</EQMessLow>

  <FWwarMess>One faction has declared war against your allies and are now trying to raid your colony for some useful goods for their cause! \n\nGood thing your allies won't let the attackers get want they want! \n\nThis place will become a battlefield! \nPrepare your defenses!</FWwarMess>
  <FWalliesMess>The allies have sent most of their troops to the area and they can't send anymore. It seems that the enemies will be going all out to raid the colony.</FWalliesMess> 
  <FWenemiesMess>The enemies have finally given up and stopped the skirmish of your colony. You thank your allies for their efforts to stop them.</FWenemiesMess> 

  <MDLabel>Found Hidden Resources</MDLabel> 
  <MDDesc>We have found hidden mineral deposits!</MDDesc> 
  <RMDLabel>Found Hidden Rare Minerals</RMDLabel> 
  <RMDDesc>We have found hidden rare mineral deposits!</RMDDesc>
  <OFLabel>Found Hidden Oilfield</OFLabel>
  <OFDesc>We have found a hidden oil field!</OFDesc>

  <LabelMT>Something Strange</LabelMT> 
  <DescMT>The faces of the humans contained within the droppods looked terrified beyond belief. They must've experienced something horrifying</DescMT> 
  <TheThingLabel>Abomination!</TheThingLabel> 
  <TheThingDesc> transformed into a huge Abomination! That mysterious transmission dropped a mutated lifeform unto us! \n\nDestroy it before it slaughters all of the colonists!</TheThingDesc> 

  <CosmicRadiationLevel>It seems that the radiation level has plummeted to a natural level.</CosmicRadiationLevel>
  
  <LabelNF>Nuclear Fallout</LabelNF>  
  <DescNF>Oh my God! Nuclear fallout has begun! Everything is going to die! The half-life of our uranium is 100 days.</DescNF>

  <ConfusionLabel>Confusion</ConfusionLabel>
  <ConfusionDesc> just snapped out of confusion.</ConfusionDesc> 

  <CrateSCLabel>Crates Mysteriously Open</CrateSCLabel> 
  <CrateSCDesc>The crates mysteriously open. \n\nContained are some random items.</CrateSCDesc> 
  <CrateSCContOne>The crates mysteriously open. \n\nContained are</CrateSCContOne> 
  <CrateSCContTwo>s. \n\nHow in the heck did they get in there!?</CrateSCContTwo>
  <CrateSCTrojan>The crates mysteriously open. \n\nOut came freaking raiders! It's a trojan horse tactic! \n\nHow in the heck did they get in there!?</CrateSCTrojan>

  <LetterLabelPlunderersArrived>Plunderers</LetterLabelPlunderersArrived>
  <PlunderersArrived>Plunderers have arrived! These are bounty hunters that have come to claim a bounty on your Colony.</PlunderersArrived>   
  <KillingSpree> tries to kill </KillingSpree>
  
</LanguageData>