<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <LabelAG>Animal Genocide</LabelAG>
  <DescAG>All of the non-human species within the area have mysteriously died off. \nThere must be some kind of super mysterious phenomena in this RimWorld.</DescAG>

  <LabelAE>Accidental Explosion</LabelAE>
  <DescAE>A power plant engine malfunction has caused an explosion. The power plant has been severely damaged or destroyed.</DescAE>

  <LabelBV>A Vile Force Of Darkness Has Arrived!</LabelBV>
  <DescBV>The Lord of Darkness has struck this RimWorld! Prepare yourself, for the darkness consumes all! \n\nStay within light sources for protection!</DescBV>

  <LabelBH>Meteor Incoming!</LabelBH>
  <DescBH>A meteoroid has entered the planet's gravity well and is crashing down in a fiery explosion!</DescBH>

  <LabelBMH>Meteor Shower Incoming!</LabelBMH>
  <DescBMH>A shower of meteoroids have entered the planet's gravity well and are crashing down in fiery explosions!</DescBMH>

  <FoundTreasure>Found Treasure</FoundTreasure>
  <HeStash> was feeling generous and decided to give a treasured gun he was hiding to serve the colony. \n\nHe gave his </HeStash>
  <SheStash> was feeling generous and decided to give a treasured gun she was hiding to serve the colony.\n\nShe gave her </SheStash> 
  <GunStash> gun.</GunStash> 
  <HeMoney> was feeling generous and decided its better to share his wealth for the colony. \n\nHe's decided to donate </HeMoney>
  <SheMoney> was feeling generous and decided its better to share her wealth for the colony. \n\nShe's decided to donate </SheMoney>
  <SilverStash> Silver to the colony.</SilverStash>
  
  <DescEQ>Warning! EARTHQUAKE! Watch out for falling debris!</DescEQ>
  <LabelEQ>Earthquake!</LabelEQ>

  <LabelFE>Strange Eclipse</LabelFE>
  <DescFE>The eclipse has made </DescFE>
  <DescFEtwo>s in the area feral. They are merging to attack your colony so prepare a defense right away!</DescFEtwo>
  
  <LabelEM>Eclipse Meteor</LabelEM>
  <DescEM>This Eclipse isn't caused by a moon, it's a large meteor passing by! \nWatch out for its separated section and crashing debris! \n\nIt might have dropped precious metals!</DescEM>
  
  <RescueStay>Stay in Colony</RescueStay>
  <RescueGoAway>Get Rescued</RescueGoAway>
  <EndGame>A nearby ship from another planet cluster has received intel on the crash site based from the distress signal you dispersed during the destruction of the your ship. They have decided to come and get you and your colonists. \n\nYou can choose to end the game now and tell the rescue ship to come and get you or choose to stay, it's totally up to you.</EndGame>

  <LabelFL>Flash Flood</LabelFL>
  <DescFL>The constant downpour of rain has triggered a Flash Flood within the vicinity!</DescFL>

  <LabelHC>Hungry Carnivores Arrived</LabelHC>
  <DescHC>A pack of hungry carnivores is looking for food. Your colonists look like food.</DescHC>

  <MessMS>-----------Incoming Transmission----------- \n\n Warning! Warning!\n The Mechanoid Hive has deployed a Cocoon within the area. The Cocoon will not stop calling Mechanoids until you have destroyed it. \n\n Prepare your best team and destroy the Cocoon!</MessMS>
  <LabelMS>Landing Mechanoid Hive</LabelMS>
  <DescMS>The Mechanoid Hive has deployed a Cocoon within the area. The Cocoon will not stop calling Mechanoids until you have destroyed it. \n\n Prepare your best team and destroy the Cocoon!</DescMS>

  <LabelMG>Migration</LabelMG>
  <DescMG>A group of animals is migrating through your region.</DescMG>

  <NauseaLabel>Nausea</NauseaLabel>
  <NauseaHeDesc> is feeling nauseous. He vomited all over the floor and needs rest.</NauseaHeDesc>
  <NauseaSheDesc> is feeling nauseous. She vomited all over the floor and needs rest.</NauseaSheDesc>

  <NEDesc>WARNING!!! There was an explosion at a nuclear reactor!</NEDesc>
  <NELabel>Nuclear Incident</NELabel>

  <LabelPB>Prison Break</LabelPB>
  <DescPB>It's a Prison Break! \n\nSomeone or something has managed to hijack all of the colony doors. Capture them!</DescPB>

  <PA_A>Your Prisoner </PA_A>
  <PA_B> let out his anger and punched Prisoner </PA_B>
  <PA_C> right in the face! \n\nOwwwwww!</PA_C>
  <LabelPA>Letter</LabelPA>

  <LabelPR>Prisoner Rampage</LabelPR>
  <prisPR>Prisoner</prisPR>
  <DescPR> can't stand being in prison and has resulted to violence.</DescPR>

  <LabelPT>Prison Riot</LabelPT>
  <DescPT>Its a Prison Riot! Be careful on subjugating your prisoners, or you might get mauled!</DescPT>
  <DescPTtwo>A Prisoner wants out! Subjugate your prisoner immediately to avoid unnecessary violence.</DescPTtwo>
  
  <LabelRV>Rage Virus</LabelRV>
  <DescRV>has been found immune by the unknown calamity.</DescRV>  
  
  <LabelRVH>Warning: Rage Virus!</LabelRVH>   
  <DescRVH>An unknown calamity has struck! Most of the humans in the area have been driven insane and are attacking each other! Half of your colonists are affected. Hurry up and do something!</DescRVH>  
  
  <InterventionLabel>Intervention</InterventionLabel>   
  <InterventionDesc>An enemy faction has established a command center within the vicinity. The command center will not stop calling Raiders until you have destroyed it. \n\n Prepare your best team and destroy the command center!</InterventionDesc>  
  <InterventionMess>-----------Incoming Transmission----------- \n\n Warning! Warning!\n The Raiders have established a command center within the vicinity. The command center will not stop calling Raiders until you have destroyed it. \n\n Prepare your best team and destroy the command center!</InterventionMess>   
  
  <SndLabel>Syndicate Raid</SndLabel>   
  <Snd_A> is actually a raider from </Snd_A>    
  <Snd_Bf> and has contacted his base of operations and pinpointed the colony for an AirDrop. \n\nRaiders Inbound!</Snd_Bf>    
  <Snd_Bm> and has cont	acted his base of operations and pinpointed the colony for an AirDrop. \n\nRaiders Inbound!</Snd_Bm>  
  
  <LabelRZ>Razor Rain Imminent</LabelRZ>    
  <DescRZ>Some debris in orbit around the planet has started to fall in the area, brace yourselves.</DescRZ>

  <LabelCR>Cosmic Radiation</LabelCR>
  <DescCR>got through the radiation and is struggling to help the other colonists</DescCR>   
  <DescHCR>Too much radiation from the solar flare has triggered cosmic radiation upon the humans within the area. \n\nEverybody feels nauseous, younger people may have fared well but the older ones are feeling ill and needs rest.</DescHCR>  

  <LabelSS>Static Signals</LabelSS>
  <DescSS>Heavy static signals are causing a massive atmospheric disturbance in the vicinity of the colony!</DescSS>   

  <LabelHA>Stroke</LabelHA>   
  <DescHA> has experienced a stroke. Handle with care.</DescHA>   

  <LabelSC>Suspicious Crates</LabelSC>   
  <DescSC>A number of suspicious crates have surfaced near the colony's vicinity. \n\nYou could check them out or just leave them alone. \n\nWhat could be inside of those crates?</DescSC>   

  <TribMigrDesc>A whole tribe of travellers has arrived within the area of your colony. \n\nYou can only imagine what fate has decided for them to endure this destiny.</TribMigrDesc>   

  <MeteorStopLabel>Meteor Shower Stopped</MeteorStopLabel>
  <MeteorStopDesc>The Meteor Shower has stopped. No further meteors detected.</MeteorStopDesc>

  <RazorOverLabel>Razor Rain Stopped</RazorOverLabel> 
  <RazorOverDesc>The Razor Rain seems to be letting up.</RazorOverDesc>

  <MechCCLabel>Mechanoid Cocoon</MechCCLabel> 
  <MechCCDesc>The Mechanoids are now hellbent on destroying the colony. An army of Mechanoids is now charging towards the colony.</MechCCDesc> 

  <DarknessComesA>Darkness will engulf this RimWorld in 60.</DarknessComesA> 
  <DarknessComesB>Darkness will engulf this RimWorld in 30.</DarknessComesB> 
  <DarknessComesC>Darkness will engulf this RimWorld in 15.</DarknessComesC> 
  <DarknessComesD>Darkness will engulf this RimWorld in 5.</DarknessComesD> 
  <DarknessComesE>Darkness will engulf this RimWorld in 4.</DarknessComesE> 
  <DarknessComesF>Darkness will engulf this RimWorld in 3.</DarknessComesF>
  <DarknessComesG>Darkness will engulf this RimWorld in 2.</DarknessComesG>
  <DarknessComesH>Darkness will engulf this RimWorld in 1.</DarknessComesH> 
  <DarknessComes>The Darkness is out to get you!</DarknessComes> 
  <OmniousDarkLabel>Omnious Darkness</OmniousDarkLabel> 
  <OmniousDarkDesc>The darkness has moved on, but you are not safe from its path... \n\n The Darkness will meet with you again, soon...</OmniousDarkDesc> 
  <TakenDC>The Shadow has taken </TakenDC>
  <IntoDS> into the darkness.</IntoDS>
    
  <EQMess>An earthquake! Is anybody hurt? \n\nLooks like some of the buildings got severely damaged.</EQMess> 
  <EQMessLow>An earthquake! Is anybody hurt? \n\nLooks like some of the buildings got damaged.</EQMessLow>
  <EQRichterScale>\nEarthquake richter scale: </EQRichterScale>
  
  <FWwarMess>One faction has declared war against your allies and are now trying to raid your colony for some useful goods for their cause! \n\nGood thing your allies won't let the attackers get want they want! \n\nThis place will become a battlefield! \nPrepare your defenses!</FWwarMess>
  <FWalliesMess>The allies have sent most of their troops to the area and they can't send anymore. It seems that the enemies will be going all out to raid the colony.</FWalliesMess> 
  <FWenemiesMess>The enemies have finally given up and stopped the skirmish of your colony. You thank your allies for their efforts to stop them.</FWenemiesMess> 

  <MDLabel>Found Hidden Resources</MDLabel> 
  <MDDesc>We have found hidden mineral deposits!</MDDesc> 
  <RMDLabel>Found Hidden Rare Minerals</RMDLabel> 
  <RMDDesc>We have found hidden rare mineral deposits!</RMDDesc>
  <OFLabel>Found Hidden Oilfield</OFLabel>
  <OFDesc>We have found a hidden oil field!</OFDesc>

  <LabelMT>Something Strange</LabelMT> 
  <DescMT>The faces of the humans contained within the droppods looked terrified beyond belief. They must've experienced something horrifying</DescMT> 
  <TheThingLabel>Abomination!</TheThingLabel> 
  <TheThingDesc> transformed into a huge Abomination! That mysterious transmission dropped a mutated lifeform unto us! \n\nDestroy it before it slaughters all of the colonists!</TheThingDesc> 

  <CosmicRadiationLevel>It seems that the radiation level has plummeted to a natural level.</CosmicRadiationLevel>
  
  <LabelNF>Nuclear Fallout</LabelNF>  
  <DescNF>Oh my God! Nuclear fallout has begun! Everything is going to die! The half-life of our uranium is 100 days.</DescNF>

  <ConfusionLabel>Confusion</ConfusionLabel>
  <ConfusionDesc> just snapped out of confusion.</ConfusionDesc> 

  <CrateSCLabel>Crates Mysteriously Open</CrateSCLabel> 
  <CrateSCDesc>The crates mysteriously open. \n\nContained are some random items.</CrateSCDesc> 
  <CrateSCContOne>The crates mysteriously open. \n\nContained are</CrateSCContOne> 
  <CrateSCContTwo>s. \n\nHow in the heck did they get in there!?</CrateSCContTwo>
  <CrateSCTrojan>The crates mysteriously open. \n\nOut came freaking raiders! Its a trojan horse tactic! \n\nHow in the heck did they get in there!?</CrateSCTrojan>

  <LetterLabelPlunderersArrived>Plunderers</LetterLabelPlunderersArrived>
  <PlunderersArrived>Plunderers have arrived! These are bounty hunters that have come to claim a bounty on your Colony.</PlunderersArrived>   
  <KillingSpree> tries to kill </KillingSpree>
  
  <LabelBug>Locusts Attack</LabelBug>
  <DescBug>Locusts have been found in your home area! Destroy them quickly or else they will eat your apparel!</DescBug> 
  
  <LabelRaid>Raid Stories</LabelRaid>
 
 <DescRaid_A> tells an astounding story: "They attacked in the morning. We attacked them back in the evening. We figured it was too hard for them to see us in the dead of night in the middle of a snowstorm. We were right. They tried to call for allies to help but it was too late. That's how I got those snazzy fur pants".</DescRaid_A> 
 
 <DescRaid_B> shares memories: "So these raiders we had once, it was like a gladiator match. You know, like those ancient warriors with the swords and fighting animals and stuff. Yeah, I was watching them fight off these Feralisks. It wasn't much of a fight really, they really sucked as gladiators. We did get some neat stabby weapons and armor from what was left of their bodies though".</DescRaid_B> 
 
 <DescRaid_C> recalls an interesting experience: "So we get the order to attack, and so we did. We armed the autoturrets, cannons and missile launchers and we fired. Our enemy was carrying bows, arrows and clubs. Some of us just sat inside and watched the mayhem happen, casually rocking in a chair while sipping brandy. When the chaos was over, that's when we learned that those "enemies" were actually our allies. Whoops, our bad! Time to start up the negotiations again".</DescRaid_C> 
 
 <DescRaid_D> tries to recall a snow mission: "It was cold, really cold. There were these things, they looked like people but they were slow. Real slow. We'd shoot at them and they'd kind of just stand there. It's like they were already dead or something, but they could still move. It was good target practice until you hit them in the head, then they flop over".</DescRaid_D> 
 
 <DescRaid_E> diverged some hot memories of an unforgettable battle that it was involved in: "There was this explosion, and this hand comes flying out of it. So I'm looking and looking but there's no crash capsule, no body or anything. That's when I see it, this thing melting up from the ground. It was a Terminatrix..."</DescRaid_E>

 <DescRaid_F> recalls: "There was an unscheduled inspection of our power quality. The inspector went to the batteries first and fried them. It was a Terminatrix in disguise. We tried to freeze it, but it fried the power circuits too. That's when Stan came by with a fresh batch of fusion grenades. He was asking where to store them when the Terminatrix stabbed him, blowing both of them up".</DescRaid_F> 
 
 <DescRaid_G> shares the message: "We were having a party once. Near the end of it there was fireworks and we all cheered. That's about when the solar generator blew up and we realized that it wasn't fireworks. It was explosives being fired at us. It worked to start fires, so it was kind of like fireworks, yeah?".</DescRaid_G> 
 
 <DescRaid_H> shares his thoughts: "I'm even starting to like here, friends. I can buy a couple of automatic turrets and rig up some robots to collect corpses and debris, and then sit back and relax. The silver will flow like a river..."</DescRaid_H>
 
 <DescRaid_I> says: "Although more is better when it comes to turrets and robots, you shouldn't try to communicate with Mechanoids. They'll just infect our systems with viruses. If you really want to communicate with them, do it with mortar shells. They are well versed in that kind of communication".</DescRaid_I> 
 
 <DescRaid_J> says: "Yesterday I saw corpses. Today I'll see corpses. Tomorrow I won't see corpses. I know how it works. Someone around here likes to butcher the corpses. I wonder if that person views the bodies as people, or as big slabs of meat waiting to be processed. I may never find out. Oh look, angry visitors! I could use a new set of clothing. Now where did that butcher table go..."</DescRaid_J> 
 
 <DescRaid_K> happily sings: "We came for a big feast, we gathered up our beasts. Tonight the mortars will dance, flapping metal wings to prance. Reign fire, set the sky ablaze! Burn, burn buuurrrnnn it all!"</DescRaid_K>
 
 <DescRaid_L> encouraging shouts: "This one time we going to talk to some raiders. They communicated with gunfire. We decided to talk back with mortars. The mortars shoot into the air and produce a hissing and buzzing sound and then they explode. Our talks went smoothly. We encouraged them to flee, scurrying away like ants. Let's do the same thing here!"</DescRaid_L> 
 
 <DescRaid_M> yells: "Who else did not come off - the gun in his hands and ran to the loopholes in the search for the enemy sights. Elimination of long-range special group advancing to the infection site of the estate! The remaining pronouns pronounces himself! Take in the night, all is quiet, with a glamor, glitter, and I do not eat rations before the assignment, and right in the face of the enemy! More resentment, uncultured consider ... "</DescRaid_M> 
 
 <DescRaid_N> talks about IED traps: "So we rigged up this trap with some heavy ordinance mortar shells. We dared Jerry to make it completely obvious with a sign on the trigger. 'Pull me to win a prize!' it said. We thought we had won the bet easy, nobody would ever pull the obvious trap. One of those native Norbal guys pulled it. I lost 200 silver that day and my best bottle of wine."</DescRaid_N> 
 
 <DescRaid_O> chats about a game of Miss-iles and Hits: "So we were playing a game with the missile launcher. We were trying to hit this guy that was running around randomly screaming things. Every time you miss, you drink a shot of booze. A couple of bottles later we hit this Mechanoid thing. I guess it had been chasing the guy around the whole time. A hit is a hit, so that game was over."</DescRaid_O>

 <DescRaid_P> prepares for battle:" So, everyone get ready for the next step Marlezonskogo ballet with swords. Patrons at all enough? Stress group stripping reported that mortars also destroyed the rest, cheers comrades, we are waiting for a brighter tomorrow today and wholesale! Because now they rush back to the terrible begovne with perturbed and resentful crowd of scoundrels, eager to our good behind, right on the fins and tail. And still these rascals shoot them and often even fall ... in the. How they do not like something! "</DescRaid_P> 
 
 <DescRaid_Q> retells an experience of battle: "We thought we were under attack. Mick was shooting the machinegun in bursts. Nobody else knew what to shoot at, there wasn't anything there. That's when we realized what Mick was doing. He was using the machinegun to draw crude things on a nearby mountain. Classic Mick move right there."</DescRaid_Q> 
 
 <DescRaid_R> came out of hiding and shouted: "The manuscript-and-a-shnaya! Next to the bayonet! Urine their shafts, poke sleepers, kicked, than there and where popadёsh!"</DescRaid_R> 
 
 <DescRaid_S> does not want to go to jail. Not again.</DescRaid_S> 
 
 <DescRaid_T> recalls a previous battle: "Phew it was repulsing. The embrasures had corpses lying around everywhere. There was a haze from exploded grenades. It all happened when a RPG hit our main turret. A few of use got out mostly unharmed, except a guy named Hans. He was whimpering and rocking back and forth. He was mentally broken. Poor guy."</DescRaid_T>

 <DescRaid_U> recalls an event: "It was a hospital, right next to the kitchen. They would move the critically wounded right into the kitchen. The less wounded stayed in the hopistal. There were military soldiers sitting at a table, laughing as they ate a meaty breakfast. One of them remarked how fresh his meal was. The cook happily smiled and winked. Only the freshest ingredients got used in his kitchen".</DescRaid_U>
 
 
  <LabelTrySuicide>Attempted Suicide</LabelTrySuicide>
  <DescTrySuicide> tried to commit suicide, but it did not work out.</DescTrySuicide>
  <LabelSuicide>Prisoner Suicide</LabelSuicide>
  <DescSuicide_A>One of your prisoners died in the cell and has left a final message behind. It reads: "Cameras everywhere. Watching. Always watching. The walls all around are moving, watching. Can't sleep, always watching. You see me and I don't see you! No lights here, no no. Watch you in the dark they do. Cameras, eyes of spies! You'll watch me no more!"</DescSuicide_A>

  <DescSuicide_B>Your prisoner smashed it's head against the wall and has died. A small piece of paper nearby has a message that was hastily scrawled. It reads: "I thought there would be easy cash in this Colony...but instead I got trapped into something horrible. I think I'm going crazy. This food...the Warden said it was "yummy, tasty, mmm" but I don't believe it. Something tastes wrong about it. My old injuries still haunt me, like a nightmare that never ends. Even the barely audible sound of the door causes me to shudder as if it were thunder".</DescSuicide_B>

  <DescSuicide_C>A prisoner has committed suicide shortly after asking a Colonist: "Where are my meals? I need nourishment! Muffalo meat or something! GIVE ME FOOD!"</DescSuicide_C>

  <DescSuicide_D>A prisoner who was found dead had kept a diary with multiple entries. It reads: "A rough cough. I feel cold and hot. I caught something, a flu maybe? No ventilation in here. Cough getting worse. My mouth is dry, it tastes like rust*blood splatter covers some words*rible. I see people sometimes, they promised me a future. To think I even liked it! I was promised food, a good bed and could one day use my skills again. I believed that, but not anymore. I need*blood splatter covers more words* worth a try.</DescSuicide_D>

  <DescSuicide_E>A prisoner was found deceased under the bed. A small note was crumpled up nearby. It angrily reads: "They wanted to operate on me! They were going to harvest me for organs! These people are crazies! YOU WON'T HARVEST ME ALIVE! I WON'T LET YOU!</DescSuicide_E>

  <DescSuicide_F>A prisoner has succumbed. A quick look at the body shows signs of infection and gangrene in hidden areas. The pain must have be extruciating.</DescSuicide_F>
  
  <DescSuicide_G>A prisoner has perished. Scrawled into the floor is a note. It reads: "Suddenly no one comes? Am I going to die here like an abandoned dog in a cage?".</DescSuicide_G> 
  
  <DescSuicide_H>One of your prisoners suddenly couldn't stand up. The doctor's first thought was that the prisoner's psyche was tender, overwhelmed by the anxiety and depression from imprisonment. Then the prisoner suddenly died! Upon the autopsy examination, a long fat stick was found up the prisoner's rear and had gouged the intestines. What an unfortunate circumstance.</DescSuicide_H>

  <DescSuicide_I>A prisoner has died under mysterious circumstances. The body was found in the fetal position with its hands covering its eyes. The prisoner seems to have choked when it swallowed its own tongue.</DescSuicide_I>

  <DescSuicide_J>A prisoner has died under mysterious circumstances. A quick inspection of the body tells the tale. The prisoner seems to have tried hanging itself with a boot lace, but the lace broke. The prisoner then tried to gnaw off the door handle, as indicated by the bloody bite marks on the door. Failing that the prisoner swallowed part of the boot, where it got lodged in the throat and the prisoner suffocated.</DescSuicide_J>

  <DescSuicide_K>The prisoner died under mysterious circumstances. A medical summary paper was found nearby. It reads: "Patient has distemper, intestinal ticks and show signs of being in a delirious state. Patient has tried to eat it's own feet and hands. I recommend isolating the patient and attempting experimental procedures. It might have lupus."</DescSuicide_K>

  <DescSuicide_L>A prisoner has been found dead under the bed, and a scrap of paper was found nearby. It looks like a mission report and it reads: "Here is your job. Land at the listed co-ordinates and grab some weapons, ammunition, rations and armor. Then follow us and assault the illegal colony. They shouldn't be here and we're going to enforce that. You may be a rookie but this will be easy. They won't know what hit 'em!".</DescSuicide_L>

  <DescSuicide_M>A prisoner has died. A message was found in a notebook. It reads: "We were waiting for orders when suddenly some air defense shot down our ship! I survived by jumping in the escape pod. When the pod opened I was immediately under fire. I was caught and imprisoned. I don't know what happened to the others. I don't think I'll be leaving this place alive. If you're still monitoring me, let them know what happened and tell them to stay away from this place".</DescSuicide_M>

  <DescSuicide_N>A prisoner has suddenly died. A strange message was found scrawed on a medical paper. It reads "They wanted to do a test procedure on me with experimental bionics and regenerative tissue. They wanted to cut off my leg. So, I passed. I'll show them that I don't need medical help! My flesh and blood is my own, a little infection won't stop me! I AM INVINCIBLE!"</DescSuicide_N>
  
  <LabelMalariaRaid>Mosquitoes!</LabelMalariaRaid>
  <DescMalariaRaid>Mosquitoes have been found in your home area!</DescMalariaRaid>
  <LabelFleaRaid>Fleas!</LabelFleaRaid>
  <DescFleaRaid>Fleas have been found in your home area!</DescFleaRaid>
  
</LanguageData>