<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <LabelAG>Animal genocide</LabelAG>
  <DescAG>All the non-human species within the area has mysteriously died off. \nMust be some super mysterious phenomena in this RimWorld.</DescAG>

  <LabelAE>An accidental explosion</LabelAE>
  <DescAE>Power plant engine has been severely damaged or destroyed.</DescAE>

  <LabelBV>Darkness coming</LabelBV>
  <DescBV>The Lord of darkness struck this rimworld... prepare yourself for the darkness takes all. \n\nGo near the light for the light will save you.</DescBV>

  <LabelBH>Meteor Incoming</LabelBH>
  <DescBH>A meteoroid has entered the planets gravity well and come crashing down in a fiery explosion!</DescBH>

  <LabelBMH>Meteor Shower Incoming</LabelBMH>
  <DescBMH>A shower of meteoroids have entered the planets gravity well and come crashing down in a fiery explosion!</DescBMH>

  <FoundTreasure>Found treasure</FoundTreasure>
  <HeStash> was feeling generous and decided to give a treasured gun he was hiding to serve the colony. \n\nHe gave his </HeStash>
  <SheStash> was feeling generous and decided to give a treasured gun she was hiding to serve the colony.\n\nShe gave her </SheStash> 
  <GunStash> gun.</GunStash> 
  <HeMoney> was feeling generous and decided its better to share his wealth for the colony. \n\nHe's decided to donate </HeMoney>
  <SheMoney> was feeling generous and decided its better to share her wealth for the colony. \n\nShe's decided to donate </SheMoney>
  <SilverStash> Silver to the colony.</SilverStash>
  
  <DescEQ>Warning! EARTHQUAKE! watch out for falling debris!</DescEQ>
  <LabelEQ>The earthquake</LabelEQ>

  <LabelFE>Strange eclipse</LabelFE>
  <DescFE>The eclipse has made </DescFE>
  <DescFEtwo>s in the area feral they're merging to attack your colony, prepare a defense right away!</DescFEtwo>
  
  <LabelEM>Eclipse Meteor</LabelEM>
  <DescEM>The Eclipse isn't caused by the moon, it's a large meteor passing by! \nWatch out for its separated section and its debris crashing! \n\nIt might have dropped precious metal!</DescEM>
  
  <RescueStay>Stay in Colony</RescueStay>
  <RescueGoAway>Get Rescued</RescueGoAway>
  <EndGame>A Nearby ship from another planet cluster has received intel on the crash site based from the distress signal you dispersed during the destruction of the your ship. They have decided to come and get you and your colonists. \n\nYou can choose to end the game now and tell the rescue ship to come and get you or choose to stay, it's totally up to you.</EndGame>

  <LabelFL>Flash flood</LabelFL>
  <DescFL>The constant downpour of rain has triggered a Flash Flood within the vicinity!</DescFL>

  <LabelHC>Hungry carnivores arrived</LabelHC>
  <DescHC>Pack of hungry carnivores looking for food.</DescHC>

  <MessMS>-----------Incoming Transmission----------- \n\n Warning! Warning!\n The Mechanoid Hive has deployed a Cocoon within the area, the cocoon will not stop Calling Mechanoids until you have destroyed it. \n\n Prepare your best team and destroy the cocoon!</MessMS>
  <LabelMS>Landing Mechanoid Hive</LabelMS>
  <DescMS>The Mechanoid Hive has deployed a Cocoon within the area, the cocoon will not stop Calling Mechanoids until you have destroyed it. \n\n Prepare your best team and destroy the cocoon!</DescMS>

  <LabelMG>Migration</LabelMG>
  <DescMG>A group of animals is migrating through your region.</DescMG>

  <NauseaLabel>Nausea</NauseaLabel>
  <NauseaHeDesc> is feeling nauseous. He vomited all over the floor and needs rest.</NauseaHeDesc>
  <NauseaSheDesc> is feeling nauseous. She vomited all over the floor and needs rest.</NauseaSheDesc>

  <NEDesc>WARNING!!! An explosion at a nuclear reactor!</NEDesc>
  <NELabel>Nuclear incident</NELabel>

  <LabelPB>Prison Break</LabelPB>
  <DescPB>It's a Prison Break! \n\nSomeone or Something has managed to hijack all of the colony doors, Capture them!!</DescPB>

  <PA_A>Your Prisoner </PA_A>
  <PA_B> let out his anger and punched Prisoner </PA_B>
  <PA_C> right in the face! \n\nOwwwwww!!</PA_C>
  <LabelPA>Letter</LabelPA>

  <LabelPR>Prisoner Rampage</LabelPR>
  <prisPR>Prisoner</prisPR>
  <DescPR> can't stand being in prison and has resulted to violence</DescPR>

  <LabelPT>Prison Riot</LabelPT>
  <DescPT>Its a prison riot! Be careful on subjugating your prisoners, you might get mauled!!</DescPT>
  <DescPTtwo>A Prisoner wants out! subjugate your prisoner immediately to avoid unnecessary violence.</DescPTtwo>
  
  <LabelRV>Rage Virus</LabelRV>
  <DescRV>has been found immune by the unknown calamity.</DescRV>  
  
  <LabelRVH>Warning: Rage Virus!</LabelRVH>   
  <DescRVH>An unknown calamity has struck, Most of the humans in the area have been driven insane and are attacking each other, half of your colonists got affected. Hurry up and do something!</DescRVH>  
  
  <InterventionLabel>Intervention</InterventionLabel>   
  <InterventionDesc>The Enemies have established a command center within the vicinity, the command center will not stop Calling Raiders until you have destroyed it. \n\n Prepare your best team and destroy the command center!</InterventionDesc>  
  <InterventionMess>-----------Incoming Transmission----------- \n\n Warning! Warning!\n The Raiders have established a command center within the vicinity, the command center will not stop Calling Raiders until you have destroyed it. \n\n Prepare your best team and destroy the command center!</InterventionMess>   
  
  <SndLabel>Syndicate Raid</SndLabel>   
  <Snd_A> is actually a raider from </Snd_A>    
  <Snd_Bf> and has contacted his base of operations and pinpointed the colony for an AirDrop. \n\nRaiders Inbound!!</Snd_Bf>    
  <Snd_Bm> and has cont	acted his base of operations and pinpointed the colony for an AirDrop. \n\nRaiders Inbound!!</Snd_Bm>  
  
  <LabelRZ>Razor rain imminent</LabelRZ>    
  <DescRZ>Some debris in orbit around the planet has started to fall in the area, brace yourselves.</DescRZ>

  <LabelCR>Cosmic radiation</LabelCR>
  <DescCR>got through the radiation and is struggling to help the other colonists</DescCR>   
  <DescHCR>Too much radiation from the solar flare has triggered cosmic radiation upon the humans within the area. \n\nEverybody feels nauseous, younger people may have fared well but the older ones are feeling ill and needs rest.</DescHCR>  

  <LabelSS>Static signals</LabelSS>
  <DescSS>Heavy static signals are causing a massive atmospheric disturbance in the vicinity of the colony!</DescSS>   

  <LabelHA>Stroke</LabelHA>   
  <DescHA> has experienced a stroke. Handle with care.</DescHA>   

  <LabelSC>Suspicious crates</LabelSC>   
  <DescSC>A number of suspicious crates have surfaced near the colony's vicinity. \n\nYou could check them out or just leave them alone. \n\nWhat could be inside of those crates?</DescSC>   

  <TribMigrDesc>A whole tribe of travellers has arrived within the area of your colony. \n\nYou can only imagine what fate has decided for them to endure this destiny.</TribMigrDesc>   

  <MeteorStopLabel>Meteor Shower Stopped</MeteorStopLabel>
  <MeteorStopDesc>No further meteors detected.</MeteorStopDesc>

  <RazorOverLabel>Razor rain over</RazorOverLabel> 
  <RazorOverDesc>The Razor rain seems to be letting up.</RazorOverDesc>

  <MechCCLabel>Mechanoid Cocoon</MechCCLabel> 
  <MechCCDesc>The Mechanoids are now bent on destroying the colony, An Army of Mechanoids are now charging towards the colony.</MechCCDesc> 

  <DarknessComesA>Darkness will engulf this RimWorld in 60.</DarknessComesA> 
  <DarknessComesB>Darkness will engulf this RimWorld in 30.</DarknessComesB> 
  <DarknessComesC>Darkness will engulf this RimWorld in 15.</DarknessComesC> 
  <DarknessComesD>Darkness will engulf this RimWorld in 5.</DarknessComesD> 
  <DarknessComesE>Darkness will engulf this RimWorld in 4.</DarknessComesE> 
  <DarknessComesF>Darkness will engulf this RimWorld in 3.</DarknessComesF>
  <DarknessComesG>Darkness will engulf this RimWorld in 2.</DarknessComesG>
  <DarknessComesH>Darkness will engulf this RimWorld in 1.</DarknessComesH> 
  <DarknessComes>The Darkness is out to get you.</DarknessComes> 
  <OmniousDarkLabel>Omnious Darkness</OmniousDarkLabel> 
  <OmniousDarkDesc>The darkness has moved on, but you are not safe from its path... \n\n The Darkness will meet with you again, soon...</OmniousDarkDesc> 
  <TakenDC>The Shadow has taken </TakenDC>
  <IntoDS> into the darkness.</IntoDS>
    
  <EQMess>The earthquake! Is anybody hurt? \n\nLooks like some of the buildings got severely damaged.</EQMess> 
  <EQMessLow>The earthquake! Is anybody hurt? \n\nLooks like some of the buildings got damaged.</EQMessLow>

  <FWwarMess>One faction declared a war against your allies, now the are trying to raid your colony for some useful goods for their cause! \n\nGood thing you are allies won't let the attackers get want they want! \n\nthis place will become a battlefield! \nprepare your defences!</FWwarMess>
  <FWalliesMess>The allies has sent most of their troops to area and they can't send anymore, it seems that the Enemies will be going all out to raid the colony.</FWalliesMess> 
  <FWenemiesMess>The enemies has finally given up and stopped the skirmish for your colony, you have to thank the allies for their efforts to stop them.</FWenemiesMess> 

  <MDLabel>Found hidden resources</MDLabel> 
  <MDDesc>We found hidden mineral deposits!</MDDesc> 
  <RMDLabel>Found hidden rare minerals</RMDLabel> 
  <RMDDesc>We found hidden rare mineral deposits!</RMDDesc>
  <OFLabel>Found hidden oilfield</OFLabel>
  <OFDesc>We found hidden oil field!</OFDesc>

  <LabelMT>Something strange</LabelMT> 
  <DescMT>The faces of the humans contained within the droppods looked terrified beyond belief, they must've experienced something horrifying</DescMT> 
  <TheThingLabel>The Thing</TheThingLabel> 
  <TheThingDesc> transformed into a huge abomination! that mysterious transmission dropped a Mutated Lifeform unto us! \n\nDestroy it before it slaughters all of the colonists!</TheThingDesc> 

  <CosmicRadiationLevel>It seems, radiation level plummeted to a natural level</CosmicRadiationLevel>
  
  <LabelNF>Nuclear fallout</LabelNF>  
  <DescNF>Oh my God! Nuclear fallout has begun. Everything was going to die. The half-life of our uranium is 100 days.</DescNF>

  <ConfusionLabel>Confusion</ConfusionLabel>
  <ConfusionDesc> just snapped out of confusion.</ConfusionDesc> 

  <CrateSCLabel>The crates mysteriously open</CrateSCLabel> 
  <CrateSCDesc>The crates mysteriously open. \n\nContained are some random items.</CrateSCDesc> 
  <CrateSCContOne>The crates mysteriously open. \n\nContained are</CrateSCContOne> 
  <CrateSCContTwo>s. \n\nhow the heck did they get in there?</CrateSCContTwo>
  <CrateSCTrojan>The crates mysteriously open. \n\nOut came freaking raiders! its a trojan horse tactic! \n\nhow the heck did they get in there!?</CrateSCTrojan>

  
</LanguageData>