<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

	<MainTabLabel>Main</MainTabLabel>
	<RaidHelperTabLabel>Raid assistant</RaidHelperTabLabel>
	
	<MainSettingsLabel>Main settings</MainSettingsLabel>
	<RaidHelperSettingsLabel>Main settings</RaidHelperSettingsLabel>
	<UsefulFunctionsLabel>Useful functions</UsefulFunctionsLabel>
	
	<RestoreToDefaultLabel>Replace saved mod settings and restore to default</RestoreToDefaultLabel>
	<RestoreToDefaultDesc>Restore to default</RestoreToDefaultDesc>
	
	<enableInsectoidJumpsLabel>Enable insectoid jumps</enableInsectoidJumpsLabel>
	<enableInsectoidJumpsDesc>Insectoids can jump on the victim.</enableInsectoidJumpsDesc>
	
	<enableVEFIntegrationLabel>Vanilla Factions Expanded Integration</enableVEFIntegrationLabel>
	<enableVEFIntegrationDesc>Disables ranged verb patch for domestic animals.</enableVEFIntegrationDesc>

	<deathRattleChanceLabel>Death Rattle Chance: {0}</deathRattleChanceLabel>
	<deathRattleChanceDesc>The chance that Death Rattle will trigger. If it doesnt trigger, the pawn will die instantly (default 100%).</deathRattleChanceDesc>
	
	<RaidWeightDelayLabel>Raid Weight Delay</RaidWeightDelayLabel>
	<RaidWeightDelayDesc>Higher value increase the delay between raids. Suitable values:100-300.</RaidWeightDelayDesc>
	
	<RaidDaysDelayLabel>Raid Days Delay</RaidDaysDelayLabel>
	<RaidDaysDelayDesc>Shifting RaidWeightDelay value in days, that affect the chance of a raid. Default:2  Suitable values:-4-4 </RaidDaysDelayDesc>
	
	<RaidDaysVariationMinLabel>Raid Days Variation Min</RaidDaysVariationMinLabel>
	<RaidDaysVariationMinDesc>Shifting minimal variation in days, that affect the chance of a raid. Default:-2  Suitable values:-4-0</RaidDaysVariationMinDesc>
	
	<RaidDaysVariationMaxLabel>Raid Days Variation Max</RaidDaysVariationMaxLabel>
	<RaidDaysVariationMaxDesc>Shifting maximum variation in days, that affect the chance of a raid. Should be higher then min value. Default:4  Suitable values:0-4</RaidDaysVariationMaxDesc>
	
	<RaidPointsMultiplierLabel>Raid Points Multiplier: {0}</RaidPointsMultiplierLabel>
	<RaidPointsMultiplierDesc>A raid strength multiplier that affects the number of enemies in the raid. Default:1.9 (No multiplier).  Suitable values:0.50-2.00</RaidPointsMultiplierDesc>
	
	<RaidDoubleChanceLabel>Raid Double Chance: {0}</RaidDoubleChanceLabel>
	<RaidDoubleChanceDesc>Chance to spawn a double raid. Default:0.2  Suitable values: 0-0.25</RaidDoubleChanceDesc>
	
	<DefaultRaidLandingChanceLabel>Default Raid Landing Chance: {0}</DefaultRaidLandingChanceLabel>
	<DefaultRaidLandingChanceDesc>Chance to drop raid with landing. Default:0.05  Suitable values:0.01-0.05</DefaultRaidLandingChanceDesc>
	
	<MaxRaidLandingChanceLabel>Max Raid Landing Chance: {0}</MaxRaidLandingChanceLabel>
	<MaxRaidLandingChanceDesc>Max chance to drop raid with landing. Default:0.20 Should be higher then default value. Suitable values: 0.01-0.05 </MaxRaidLandingChanceDesc>
	
	<DestroyMechanoidAmmoLabel>Destroy Mechanoid Ammo</DestroyMechanoidAmmoLabel>
	<DestroyMechanoidAmmoDesc>Destroy the mechanoid ammunition.</DestroyMechanoidAmmoDesc>
	
	<ChanceToInstantDestroyAmmoLabel>Chance To Instant Destroy Ammo: {0}</ChanceToInstantDestroyAmmoLabel>
	<ChanceToInstantDestroyAmmoDesc>Chance to completely destroy the enemy ammo on a kill.</ChanceToInstantDestroyAmmoDesc>
	
	<ChanceToInstantDestroyEnemyItemLabel>Chance To Instant Destroy Enemy Item: {0}</ChanceToInstantDestroyEnemyItemLabel>
	<ChanceToInstantDestroyEnemyItemDesc>Chance to completely destroy enemy equipment on a kill.</ChanceToInstantDestroyEnemyItemDesc>
	
	<ChanceToDamageEnemyItemLabel>Chance To Damage Enemy Item: {0}</ChanceToDamageEnemyItemLabel>
	<ChanceToDamageEnemyItemDesc>Chance to damage an enemy equipment on a kill.</ChanceToDamageEnemyItemDesc>
	
	<MinAmountDeteriorationLabel>Min Amount Deterioration</MinAmountDeteriorationLabel>
	<MinAmountDeteriorationDesc>Min chance to damage enemy equipment on a kill.</MinAmountDeteriorationDesc>
	
	<MaxAmountDeteriorationLabel>Max Amount Deterioration</MaxAmountDeteriorationLabel>
	<MaxAmountDeteriorationDesc>Max chance to damage enemy equipment on a kill.</MaxAmountDeteriorationDesc>
	
	<MaxRaidCountLabel>Max Raid Count</MaxRaidCountLabel>
	<MaxRaidCountDesc>Max possible pawns in raid. Default:130 MinValue:10 MaxValue:500</MaxRaidCountDesc>
	
	<MaxCountToReduceLabel>Max Count To Reduce</MaxCountToReduceLabel>
	<MaxCountToReduceDesc>Would count already spawned enemy pawns on map and subtract from MaxRaidCount. Default: 50 MinValue:1 MaxValue:(MaxRaidCount - 1)</MaxCountToReduceDesc>
	
	<EnableRaidAssistantLabel>Enable Raid Assistant</EnableRaidAssistantLabel>
	<EnableRaidAssistantDesc>Enable the HSK storyteller's assistant.</EnableRaidAssistantDesc>
	
	<EnableAfterDaysPassedLabel>Enable After Days Passed</EnableAfterDaysPassedLabel>
	<EnableAfterDaysPassedDesc>Enable assistant after passed gamed days. Default:120.</EnableAfterDaysPassedDesc>
	
	<AverageAssistDelayLabel>Average Assist Delay</AverageAssistDelayLabel>
	<AverageAssistDelayDesc>The amount of time between triggering assistant events. Suitable values:1800-3000</AverageAssistDelayDesc>
	
	<AssistantRaidPointsMultiplierLabel>Assistant Raid Points Multiplier: {0}</AssistantRaidPointsMultiplierLabel>
	<AssistantRaidPointsMultiplierDesc>Assistant raid points multiplier. Suitable values:0.5-1.0</AssistantRaidPointsMultiplierDesc>
	
	<EnableBombardamentLabel>Enable Bombardament</EnableBombardamentLabel>
	<EnableBombardamentDesc>Enabled Bombardament to assist enemy factions?</EnableBombardamentDesc>
	
	<EnablePowerBeamStrikeLabel>Enable PowerBeamStrike</EnablePowerBeamStrikeLabel>
	<EnablePowerBeamStrikeDesc>Enabled Beam strike to assist enemy factions?</EnablePowerBeamStrikeDesc>

	<EnableFireGlowLabel>Enable fire glow</EnableFireGlowLabel>
	<EnableFireGlowDesc>Enables additional fire glow for ambiance. Could reduce game performance. Disabled by default.</EnableFireGlowDesc>

</LanguageData>