<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

	<!-- Settings -->
	<enableInsectoidJumps>Enable insectoid jumps</enableInsectoidJumps>
	<enableInsectoidJumpsDesc>Insectoids can jump on the victim.</enableInsectoidJumpsDesc>
	
	<enableVEFIntegration>Vanilla Factions Expanded Integration</enableVEFIntegration>
	<enableVEFIntegrationDesc>Disables ranged verb patch for domestic animals.</enableVEFIntegrationDesc>
	
	<deathRattleOptions>Show Death Rattle Options</deathRattleOptions>
	<deathRattleOptionsDesc>Shows any settings for the Death Rattle mechanic.</deathRattleOptionsDesc>
	
	<deathRattleChance>Death Rattle Chance: {0}</deathRattleChance>
	<deathRattleChanceDesc>The chance that Death Rattle will trigger. If it doesnt trigger, the pawn will die instantly (default 100%).</deathRattleChanceDesc>
	
	<AdvancedOptions>Advanced Options</AdvancedOptions>
	<AdvancedOptionsDesc>Show more advanced options (Note: Recommend to not change)</AdvancedOptionsDesc>
	
	<HSK_More_Setting>More Settings</HSK_More_Setting>
	
	<RaidWeightDelay>Raid Weight Delay: {0}</RaidWeightDelay>
	<RaidWeightDelayDesc>Higher value increase the delay between raids. Suitable values:100-300.</RaidWeightDelayDesc>
	
	<RaidDaysDelay>Raid Days Delay: {0}</RaidDaysDelay>
	<RaidDaysDelayDesc>Shifting RaidWeightDelay value in days, that affect the chance of a raid. Default:2  Suitable values:-4-4 </RaidDaysDelayDesc>
	
	<RaidDaysVariationMin>Raid Days Variation Min: {0}</RaidDaysVariationMin>
	<RaidDaysVariationMinDesc>Shifting minimal variation in days, that affect the chance of a raid. Default:-2  Suitable values:-4-0</RaidDaysVariationMinDesc>
	
	<RaidDaysVariationMax>Raid Days Variation Max: {0}</RaidDaysVariationMax>
	<RaidDaysVariationMaxDesc>Shifting maximum variation in days, that affect the chance of a raid. Should be higher then min value. Default:4  Suitable values:0-4</RaidDaysVariationMaxDesc>
	
	<RaidPointsMultiplier>Raid Points Multiplier: {0}</RaidPointsMultiplier>
	<RaidPointsMultiplierDesc>A raid strength multiplier that affects the number of enemies in the raid. Default:1.9 (No multiplier).  Suitable values:0.50-2.00</RaidPointsMultiplierDesc>
	
	<RaidDoubleChance>Raid Double Chance: {0}</RaidDoubleChance>
	<RaidDoubleChanceDesc>Chance to spawn a double raid. Default:0.2  Suitable values: 0-0.25</RaidDoubleChanceDesc>
	
	<DefaultRaidLandingChance>Default Raid Landing Chance: {0}</DefaultRaidLandingChance>
	<DefaultRaidLandingChanceDesc>Chance to drop raid with landing. Default:0.05  Suitable values:0.01-0.05</DefaultRaidLandingChanceDesc>
	
	<MaxRaidLandingChance>Max Raid Landing Chance: {0}</MaxRaidLandingChance>
	<MaxRaidLandingChanceDesc>Max chance to drop raid with landing. Default:0.20 Should be higher then default value. Suitable values: 0.01-0.05 </MaxRaidLandingChanceDesc>
	
	<DestroyMechanoidAmmo>Destroy Mechanoid Ammo: {0}</DestroyMechanoidAmmo>
	<DestroyMechanoidAmmoDesc>Destroy the mechanoid ammunition.</DestroyMechanoidAmmoDesc>
	
	<ChanceToInstantDestroyAmmo>Chance To Instant Destroy Ammo: {0}</ChanceToInstantDestroyAmmo>
	<ChanceToInstantDestroyAmmoDesc>Chance to completely destroy the enemy ammo on a kill.</ChanceToInstantDestroyAmmoDesc>
	
	<ChanceToInstantDestroyEnemyItem>Chance To Instant Destroy Enemy Item: {0}</ChanceToInstantDestroyEnemyItem>
	<ChanceToInstantDestroyEnemyItemDesc>Chance to completely destroy enemy equipment on a kill.</ChanceToInstantDestroyEnemyItemDesc>
	
	<ChanceToDamageEnemyItem>Chance To Damage Enemy Item: {0}</ChanceToDamageEnemyItem>
	<ChanceToDamageEnemyItemDesc>Chance to damage an enemy equipment on a kill.</ChanceToDamageEnemyItemDesc>
	
	<MinAmountDeterioration>Min Amount Deterioration: {0}</MinAmountDeterioration>
	<MinAmountDeteriorationDesc>Min chance to damage enemy equipment on a kill.</MinAmountDeteriorationDesc>
	
	<MaxAmountDeterioration>Max Amount Deterioration: {0}</MaxAmountDeterioration>
	<MaxAmountDeteriorationDesc>Max chance to damage enemy equipment on a kill.</MaxAmountDeteriorationDesc>
	
	<MaxRaidCount>Max Raid Count: {0}</MaxRaidCount>
	<MaxRaidCountDesc>Max possible pawns in raid. Default:130 MinValue:10 MaxValue:500</MaxRaidCountDesc>
	
	<MaxCountToReduce>Max Count To Reduce: {0}</MaxCountToReduce>
	<MaxCountToReduceDesc>Would count already spawned enemy pawns on map and subtract from MaxRaidCount. Default: 50 MinValue:1 MaxValue:(MaxRaidCount - 1)</MaxCountToReduceDesc>
	
	<EnableRaidAssistant>Enable Raid Assistant: {0}</EnableRaidAssistant>
	<EnableRaidAssistantDesc>Enable the HSK storyteller's assistant.</EnableRaidAssistantDesc>
	
	<EnableAfterDaysPassed>Enable After Days Passed: {0}</EnableAfterDaysPassed>
	<EnableAfterDaysPassedDesc>Enable assistant after passed gamed days. Default:120.</EnableAfterDaysPassedDesc>
	
	<AverageAssistDelay>Average Assist Delay: {0}</AverageAssistDelay>
	<AverageAssistDelayDesc>The amount of time between triggering assistant events. Suitable values:1800-3000</AverageAssistDelayDesc>
	
	<AssistantRaidPointsMultiplier>Assistant Raid Points Multiplier: {0}</AssistantRaidPointsMultiplier>
	<AssistantRaidPointsMultiplierDesc>Assistant raid points multiplier. Suitable values:0.5-1.0</AssistantRaidPointsMultiplierDesc>
	
	<EnableBombardament>Enable Bombardament: {0}</EnableBombardament>
	<EnableBombardamentDesc>Enabled Bombardament to assist enemy factions?</EnableBombardamentDesc>
	
	<EnablePowerBeamStrike>Enable PowerBeamStrike: {0}</EnablePowerBeamStrike>
	<EnablePowerBeamStrikeDesc>Enabled Beam strike to assist enemy factions?</EnablePowerBeamStrikeDesc>
	
	<DefaultSettings_RequireRestart>Any changes will require a restart.</DefaultSettings_RequireRestart>
	
</LanguageData>