<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

	<!-- Settings -->
	<enableInsectoidJumps>Enable insectoid jumps</enableInsectoidJumps>
	<enableInsectoidJumpsDesc>Insectoids can jump on the victim.</enableInsectoidJumpsDesc>
	
	<enableVEFIntegration>Vanilla Factions Expanded Integration</enableVEFIntegration>
	<enableVEFIntegrationDesc>Disables ranged verb patch for domestic animals.</enableVEFIntegrationDesc>
	
	<deathRattleOptions>Show Death Rattle Options</deathRattleOptions>
	<deathRattleOptionsDesc>Shows any settings for the Death Rattle mechanic.</deathRattleOptionsDesc>
	
	<deathRattleChance>Death Rattle Chance: {0}</deathRattleChance>
	<deathRattleChanceDesc>The chance that Death Rattle will trigger. If it doesnt trigger, the pawn will die instantly (default 100%).</deathRattleChanceDesc>
	
	<AdvancedOptions>Advanced Options</AdvancedOptions>
	<AdvancedOptionsDesc>Show more advanced options (Note: Recommend to not change)</AdvancedOptionsDesc>
	
	<HSK_More_Setting>More Settings</HSK_More_Setting>
	
	<RaidWeightDelay>Raid Weight Delay: {0}</RaidWeightDelay>
	<RaidWeightDelayDesc>TODO</RaidWeightDelayDesc>
	
	<RaidDaysVariationMin>Raid Days Variation Min: {0}</RaidDaysVariationMin>
	<RaidDaysVariationMinDesc>TODO</RaidDaysVariationMinDesc>
	
	<RaidDaysVariationMax>Raid Days Variation Max: {0}</RaidDaysVariationMax>
	<RaidDaysVariationMaxDesc>TODO</RaidDaysVariationMaxDesc>
	
	<RaidPointsMultiplier>Raid Points Multiplier: {0}</RaidPointsMultiplier>
	<RaidPointsMultiplierDesc>TODO</RaidPointsMultiplierDesc>
	
	<RaidDoubleChance>Raid Double Chance: {0}</RaidDoubleChance>
	<RaidDoubleChanceDesc>TODO</RaidDoubleChanceDesc>
	
	<DefaultRaidLandingChance>Default Raid Landing Chance: {0}</DefaultRaidLandingChance>
	<DefaultRaidLandingChanceDesc>TODO</DefaultRaidLandingChanceDesc>
	
	<DestroyMechanoidAmmo>Destroy Mechanoid Ammo: {0}</DestroyMechanoidAmmo>
	<DestroyMechanoidAmmoDesc>TODO</DestroyMechanoidAmmoDesc>
	
	<ChanceToInstantDestroyAmmo>Chance To Instant Destroy Ammo: {0}</ChanceToInstantDestroyAmmo>
	<ChanceToInstantDestroyAmmoDesc>TODO</ChanceToInstantDestroyAmmoDesc>
	
	<ChanceToInstantDestroyEnemyItem>Chance To Instant Destroy Enemy Item: {0}</ChanceToInstantDestroyEnemyItem>
	<ChanceToInstantDestroyEnemyItemDesc>TODO</ChanceToInstantDestroyEnemyItemDesc>
	
	<ChanceToDamageEnemyItem>Chance To Damage Enemy Item: {0}</ChanceToDamageEnemyItem>
	<ChanceToDamageEnemyItemDesc>TODO</ChanceToDamageEnemyItemDesc>
	
	<MinAmountDeterioration>Min Amount Deterioration: {0}</MinAmountDeterioration>
	<MinAmountDeteriorationDesc>TODO</MinAmountDeteriorationDesc>
	
	<MaxAmountDeterioration>Max Amount Deterioration: {0}</MaxAmountDeterioration>
	<MaxAmountDeteriorationDesc>TODO</MaxAmountDeteriorationDesc>
	
	<MaxRaidCount>Max Raid Count: {0}</MaxRaidCount>
	<MaxRaidCountDesc>TODO</MaxRaidCountDesc>
	
	<MaxCountToReduce>Max Count To Reduce: {0}</MaxCountToReduce>
	<MaxCountToReduceDesc>TODO</MaxCountToReduceDesc>
	
	<EnableRaidAssistant>Enable Raid Assistant: {0}</EnableRaidAssistant>
	<EnableRaidAssistantDesc>TODO</EnableRaidAssistantDesc>
	
	<EnableAfterDaysPassed>Enable After Days Passed: {0}</EnableAfterDaysPassed>
	<EnableAfterDaysPassedDesc>TODO</EnableAfterDaysPassedDesc>
	
	<AverageAssistDelay>Average Assist Delay: {0}</AverageAssistDelay>
	<AverageAssistDelayDesc>TODO</AverageAssistDelayDesc>
	
	<AssistantRaidPointsMultiplier>Assistant Raid Points Multiplier: {0}</AssistantRaidPointsMultiplier>
	<AssistantRaidPointsMultiplierDesc>TODO</AssistantRaidPointsMultiplierDesc>
	
	<EnableBombardament>Enable Bombardament: {0}</EnableBombardament>
	<EnableBombardamentDesc>TODO</EnableBombardamentDesc>
	
	<EnablePowerBeamStrike>Enable PowerBeamStrike: {0}</EnablePowerBeamStrike>
	<EnablePowerBeamStrikeDesc>TODO</EnablePowerBeamStrikeDesc>
	
</LanguageData>