<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <trackingVisible_title>Відстеження видимих креслень</trackingVisible_title>
  <trackingVisible_desc>Можливість увімкнення або вимкнення відстеження креслень на екрані для відображення вимог.\n\nЯкщо ваш комп'ютер занадто повільний для відстеження видимих креслень, ви можете вимкнути це тут.</trackingVisible_desc>
  <trackingForbidden_title>Відстеження заборонених креслень</trackingForbidden_title>
  <trackingForbidden_desc>Можливість увімкнути або вимкнути відстеження заборонених креслень. Використовуйте, щоб виключити велику кількість креслень для відстеження.\n\nЦе стосується як відстеження вибору, так і відстеження видимості.</trackingForbidden_desc>
  <zoomForTracking_title>Рівень масштабування для відстеження видимості</zoomForTracking_title>
  <zoomForTracking_desc>Максимальний рівень масштабування під час відстеження креслень, що відображаються на екрані.\n\nВиберіть ближчий рівень масштабування, якщо комп'ютер зазнає труднощів із відстеженням занадто великої кількості креслень.</zoomForTracking_desc>
  <zoomForTracking_Closest>Найближчий</zoomForTracking_Closest>
  <zoomForTracking_Close>Закривати</zoomForTracking_Close>
  <zoomForTracking_Middle>Середина</zoomForTracking_Middle>
  <zoomForTracking_Far>Далеко</zoomForTracking_Far>
  <zoomForTracking_Furthest>Найдальший</zoomForTracking_Furthest>
  <visibilityMargin_title>Запас видимості</visibilityMargin_title>
  <visibilityMargin_desc>Відступ від екрана в пікселях при прийнятті рішення про те, чи бачив план чи ні.\n\nПримітка. Це може бути неточним.</visibilityMargin_desc>
  <clampTipToScreen_title>Залишити спливаючу підказку на екрані</clampTipToScreen_title>
  <clampTipToScreen_desc>Якщо увімкнено, підказка результатів завжди залишатиметься на екрані.</clampTipToScreen_desc>
  <clampMargin_title>Поле затиску спливаючої підказки</clampMargin_title>
  <clampMargin_desc>Мінімальна відстань у пікселях від краю екрана, на якій залишатиметься підказка під час спроби зберегти підказку на екрані.</clampMargin_desc>
  <highlightOpacity_title>Виділення непрозорості</highlightOpacity_title>
  <highlightOpacity_desc>Наскільки непрозорий прямокутник виділення. Мінімальна непрозорість 0%, максимальна 25%. Зменшіть значення до 0%, щоб повністю вимкнути підсвічування.</highlightOpacity_desc>
  <showTips_title>Показати підказки рядків</showTips_title>
  <showTips_desc>Якщо увімкнено, при наведенні вказівника миші на елемент списку відображатиметься підказка.</showTips_desc>
  <countInStorage_title>Вважати предмети тільки у сховищі</countInStorage_title>
  <countInStorage_desc>Якщо включено, враховуватимуться лише предмети, що зберігаються на складах.</countInStorage_desc>
  <countForbidden_title>Підрахунок заборонених предметів</countForbidden_title>
  <countForbidden_desc>Якщо увімкнено та підраховано всі предмети на карті, враховуються заборонені предмети.</countForbidden_desc>
  <tooltipPosition_title>Положення спливаючої підказки</tooltipPosition_title>
  <tooltipPosition_desc>Використовуйте два повзунки, щоб вказати, де буде відображатися спливаюча підказка щодо креслень, що відстежуються.\n\nНапівпрозорий прямокутник - це прямокутник, що виділяє ваші креслення, а білий прямокутник - це місце, де має бути спливаюча підказка.</tooltipPosition_desc>
  <transferSel_title>Перенести виділення до нових кадрів</transferSel_title>
  <transferSel_desc>Якщо увімкнено, вибраний креслення, який перетворюється на рамку, коли поселенець додає до нього будівельні матеріали, буде вибрано автоматично.</transferSel_desc>
</LanguageData>