<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

	<LetterLabelSwarm>Рой насекомых</LetterLabelSwarm>
	<SwarmArrived>Рой голодных насекомых появился недалеко от поселения! \nСрочно всем в укрытие! Они здесь ненадолго и мы можем переждать.</SwarmArrived>

	<LabelAG>Геноцид животных</LabelAG>
	<DescAG>Большинство диких животных, в пределах этой области, заболели неизвестной смертельной болезнью.\nЖивотные будут умирать в течение некоторого периода времени, возможно дней.</DescAG>

	<LabelBug>Саранча!</LabelBug>
	<DescBug>На вашей базе обнаружили саранчу. Уничтожьте их скорее, пока они не погрызли весь ваш шмот!</DescBug> 

	<LabelAE>Взрыв на электростанции</LabelAE>
	<DescAE>Электростанция была сильно повреждена или разрушена.</DescAE>

	<LabelBH>Падение метеорита</LabelBH>
	<DescBH>Метеорит вошел в гравитационное поле планеты и падает на неё!\nВсем занять укрытие!</DescBH>

	<LabelBMH>Метеоритный дождь</LabelBMH>
	<DescBMH>Метеоритный дождь - это падение метеоритов на поверхность планеты, что образовались после разрушения крупного метеорита в верхних слоях атмосферы.\nВсем занять укрытие!</DescBMH>

	<FoundTreasure>Найдено сокровище</FoundTreasure>
	<HeStash> расщедрился и решил отдать спрятанную вещь поселению.\n\nОн отдал поселению [</HeStash>
	<SheStash> расщедрилась и решила отдать спрятанную вещь поселению.\n\nОна отдала поселению [</SheStash> 
	<GunStash>].</GunStash> 
	<HeMoney> расщедрился и решил, что лучше разделить его богатство с поселением. \n\nОн решил пожертвовать </HeMoney>
	<SheMoney> расщедрилась и решила, что лучше разделить её богатство с поселением. \n\nОна решила пожертвовать </SheMoney>
	<SilverStash> серебра. Спасибо за поддержку!</SilverStash>

	<LabelEQ>Землетрясение</LabelEQ>
	<DescEQ>ОСТОРОЖНО! ЗЕМЛЕТРЯСЕНИЕ! Берегитесь падающих обломков!</DescEQ>

	<LabelFE>Странное затмение</LabelFE>
	<DescFE>Затмение вызвало появление </DescFE>
	<DescFEtwo>а. Он будет искать жертву недалеко от вашего поселения.</DescFEtwo>

	<LabelEM>Метеоритное затмение</LabelEM>
	<DescEM>Затмение вызвано не Луной, а пролетающим мимо большим метеоритом!\nОстерегайтесь падения отколовшихся частей метеорита и другого космического мусора!\n\nВозможно, это упал драгоценный металл!</DescEM>

	<RescueStay>Остаться в поселении</RescueStay>
	<RescueGoAway>Связаться со спасательным судном</RescueGoAway>
	<EndGame>Ближайший космический корабль с другой планеты этого кластера получил координаты вашего места крушения из сигнала бедствия, который вы отправили во время крушения вашего корабля. Они решили спасти вас и ваших поселенцев.\n\nУ вас есть выбор: связаться со спасательным судном, спастись и закончить игру или остаться в поселении и продолжить освоение планеты. Судьба поселенцев полностью зависит от вашего решения.</EndGame>

	<LabelHC>Голодные хищники</LabelHC>
	<DescHC>Стая голодных хищников в поисках пищи появилась недалеко от вас.</DescHC>

	<NELabel>Ядерная авария!</NELabel>
	<NEDesc>ОПАСНОСТЬ!!! Взрыв на ядерном реакторе!</NEDesc>

	<LabelRV>Вирус Ярости</LabelRV>
	<DescRV> иммунен к неизвестному вирусу.</DescRV>  

	<LabelRVH>Опасность: Вирус Ярости!</LabelRVH>   
	<DescRVH>Неизвестный вирус поразил большинство людей в округе. Они сошли с ума и нападают друг на друга, половина ваших поселенцев была подвержена этому. Сделайте что-нибудь!</DescRVH>  

	<LabelRZ>Стальной дождь</LabelRZ>    
	<DescRZ>Обломки с орбиты планеты начали падать в вашем районе. Приготовьтесь!</DescRZ>

	<LabelCR>Космическая радиация</LabelCR>
	<DescCR>получил за счет излучения и изо всех сил пытается помочь другим поселенцам</DescCR>   
	<DescHCR>Слишком большое излучение от солнечной вспышки вызвало возможность воздействия космической радиации на человека в этом районе. \n\nКаждый чувствует тошноту, у молодых людей, возможно, не всё так плохо, но у старых плохое самочувствие и они нуждаются в отдыхе.</DescHCR>  

	<LabelHA>Инсульт</LabelHA>   
	<DescHA> пережил инсульт. Помогите ему!</DescHA>   

	<LabelSC>Подозрительные ящики</LabelSC>   
	<DescSC>Несколько подозрительных ящиков упали поблизости от поселения. \n\nВы можете проверить их или просто оставить в покое. \n\nЧто может быть внутри этих ящиков?</DescSC>   

	<TribMigrDesc>Целое племя путешественников прибыло в район поселения. \n\nВы можете только представить, какая судьба выпала на их долю. Они не будут атаковать вас, даже если у вас с ними очень плохие отношения. Пожалейте их, дайте им пройти.</TribMigrDesc>   

	<MeteorStopLabel>Метеоритный дождь прекратился</MeteorStopLabel>
	<MeteorStopDesc>В небе больше не видно падающих метеоритов.</MeteorStopDesc>

	<RazorOverLabel>Стальной дождь прекратился</RazorOverLabel> 
	<RazorOverDesc>Осадки из космических обломков закончились.</RazorOverDesc>

	<EQMess>Землетрясение! Все живы?\n\nПохоже, некоторые здания были серьезно повреждены.</EQMess> 
	<EQMessLow>Землетрясение! Все живы?\n\nПохоже, некоторые здания были повреждены.</EQMessLow>
	<EQRichterScale>\nСила по шкале Рихтера: </EQRichterScale>

	<SALabel>Сейсмическая активность</SALabel>
	<SAMess>В это регионе наблюдается сейсмическая активность. \n\nБудьте осторожны в горных районах и смотрите под ноги.</SAMess> 
	<SARichterScale>\nПо шкале рихтера: </SARichterScale>

	<MDLabel>Найдены скрытые залежи ресурсов</MDLabel> 
	<MDDesc>Мы нашли скрытое месторождение полезных ископаемых!</MDDesc> 
	<RMDLabel>Найдены скрытые залежи редких металлов</RMDLabel> 
	<RMDDesc>Мы нашли скрытые залежи редких металлов!</RMDDesc>
	<OFLabel>Найдено нефтяное месторождение</OFLabel>
	<OFDesc>Найдено скрытое месторождение нефти!</OFDesc>

	<LabelMT>Что-то странное</LabelMT> 
	<DescMT>Лица людей, находившихся в упавших капсулах выглядели очень испуганными, они, должно быть, испытали что-то ужасное.</DescMT> 
	<TheThingLabel>Нечто</TheThingLabel> 
	<TheThingDesc> превращается в огромную мерзость!\nЭто мутировавшая форма жизни!\n\nУничтожьте ЭТО прежде, чем оно перебьёт всех ваших поселенцев!</TheThingDesc> 

	<CosmicRadiationLevel>Кажется, уровень радиации упал до естественного уровня</CosmicRadiationLevel>

	<LabelNF>Радиоактивные осадки</LabelNF>  
	<DescNF>Боже мой! Выпали радиоактивные осадки. Всё живое умрёт!\n\nПериод полураспада нашего урана 100 дней.</DescNF>

	<ConfusionLabel>Смятение</ConfusionLabel>
	<ConfusionDesc> очнулся от смятения.</ConfusionDesc>

	<LetterLabelPlunderersArrived>Расхитители</LetterLabelPlunderersArrived>
	<PlunderersArrived>Расхитители появились недалеко от вас. Будьте осторожны, они атакуют любого человека если тот попадет в их поле зрения.</PlunderersArrived>   
	<KillingSpree> пытается убить </KillingSpree>

	<LabelMalariaRaid>Эпидемия малярии</LabelMalariaRaid>
	<DescMalariaRaid>В нашей местности свирепствует эпидемия малярии. Москиты являются переносчиками малярии и сейчас очень опасны!</DescMalariaRaid>

	<LabelFleaRaid>Эпидемия чумы</LabelFleaRaid>
	<DescFleaRaid>В нашей местности свирепствует эпидемия чумы. \nБлохи переносчики чумы, будьте осторожны.</DescFleaRaid>

	<ThanksgivingLabel>День Благодарения</ThanksgivingLabel>
	<ThanksgivingDesc>Дружественное племя узнало о проблемах в вашем поселении с нехваткой пищи. Они решили вам помочь и предоставили некоторое количество пищи.\n\nОни надеются, что это улучшит взаимопонимание между нашими поселениями и дружба станет крепче.</ThanksgivingDesc>

	<CalmWeatherLabel>Штиль</CalmWeatherLabel>
	<CalmWeatherDesc>Погода стала удивительно спокойной. Похоже, ветряные турбины будут бесполезны какое-то время.</CalmWeatherDesc>

	<Amnesia>Амнезия</Amnesia>
	<AmnesiaHeDesc>вдруг забыл, что он делает. Он не может вспомнить, что делал до этого.</AmnesiaHeDesc>
	<AmnesiaSheDesc>вдруг забыла, что она делала. Она не может вспомнить, что делала до этого.</AmnesiaSheDesc>

	<PestsLabel>Вредители!</PestsLabel>
	<PestsDesc>Некоторые насекомые-вредители завелись в зонах для посева урожая. Они будут поглащать всех растения, до которых смогут добраться.</PestsDesc>

</LanguageData>