<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <LabelAG>Геноцид животных</LabelAG>
  <DescAG>Большинство диких животных, в пределах этой области, заболели неизвестной смертельной болезнью.\nЖивотные будут умирать в течение некоторого периода времени, возможно дней.</DescAG>

  <LabelBug>Саранча!</LabelBug>
  <DescBug>На вашей базе обнаружили саранчу. Уничтожьте их скорее, пока они не погрызли весь ваш шмот!</DescBug> 
  
  <LabelAE>Взрыв на электростанции</LabelAE>
  <DescAE>Электростанция была сильно повреждена или разрушена.</DescAE>

  <LabelBV>Тьма наступает</LabelBV>
  <DescBV>Лорд тьмы пришел за вашими душами... приготовьтесь ко тьме и жуткому холоду! \n\nДержитесь рядом со светом. Только он спасёт вас.</DescBV>

  <LabelBH>Падение метеорита</LabelBH>
  <DescBH>Метеорит вошел в гравитационное поле планеты и падает на неё!\nВсем занять укрытие!</DescBH>

  <LabelBMH>Метеоритный дождь</LabelBMH>
  <DescBMH>Метеоритный дождь - это падение метеоритов на поверхность планеты, что образовались после разрушения крупного метеорита в верхних слоях атмосферы.\nВсем занять укрытие!</DescBMH>

  <FoundTreasure>Найдено сокровище</FoundTreasure>
  <HeStash> расщедрился и решил отдать спрятанную вещь поселению.\n\nОн отдал его [</HeStash>
  <SheStash> расщедрилась и решила отдать спрятанную вещь поселению.\n\nОна отдала её [</SheStash> 
  <GunStash>] поселению.</GunStash> 
  <HeMoney> расщедрился и решил, что лучше разделить его богатство с поселением. \n\nОн решил пожертвовать </HeMoney>
  <SheMoney> расщедрилась и решила, что лучше разделить её богатство с поселением. \n\nОна решила пожертвовать </SheMoney>
  <SilverStash> серебра. Спасибо за поддержку!</SilverStash>
    
  <LabelEQ>Землетрясение</LabelEQ>
  <DescEQ>ОСТОРОЖНО! ЗЕМЛЕТРЯСЕНИЕ! Берегитесь падающих обломков!</DescEQ>

  <LabelFE>Странное затмение</LabelFE>
  <DescFE>Затмение вызвало появление</DescFE>
  <DescFEtwo> , который теперь в поисках жертвы, недалеко от вашего поселения.</DescFEtwo>
  
  <LabelEM>Метеоритное затмение</LabelEM>
  <DescEM>Затмение вызвано не Луной, а пролетающим мимо большим метеоритом!\nОстерегайтесь падения отколовшихся частей метеорита и другого космического мусора!\n\nВозможно, это упал драгоценный металл!</DescEM>
  
  <RescueStay>Остаться в поселении</RescueStay>
  <RescueGoAway>Связаться со спасательным судном</RescueGoAway>
  <EndGame>Ближайший космический корабль с другой планеты этого кластера получил координаты вашего места крушения из сигнала бедствия, который вы отправили во время крушения вашего корабля. Они решили спасти вас и ваших поселенцев.\n\nУ вас есть выбор: связаться со спасательным судном, спастись и закончить игру или остаться в поселении и продолжить освоение планеты. Судьба поселенцев полностью зависит от вашего решения.</EndGame>

  <LabelFL>Внезапное наводнение</LabelFL>
  <DescFL>Непрекращающийся ливень вызвал внезапное наводнение!</DescFL>

  <LabelHC>Голодные хищники</LabelHC>
  <DescHC>Стая голодных хищников в поисках пищи появилась недалеко от вас.</DescHC>

  <MessMS>-----------Входящее сообщение----------- \n\n Опасность! Опасность!\n Улей Механоидов разместил Кокон в вашей области. Кокон не прекратит вызывать механоидов, пока вы не уничтожите его. \n\n Подготовьте свою лучшую команду и уничтожьте кокон!</MessMS>
  <LabelMS>Кокон Улья Механоидов</LabelMS>
  <DescMS>Улей Механоидов разместил Кокон в вашей области. Кокон не прекратит вызывать механоидов, пока вы не уничтожите его. \n\n Подготовьте свою лучшую команду и уничтожьте кокон!</DescMS>

  <LabelMG>Миграция</LabelMG>
  <DescMG>Группа животных мигрируют через ваш регион.</DescMG>

  <NauseaLabel>Тошнота</NauseaLabel>
  <NauseaHeDesc> чувствует тошноту. Он заблевал весь пол. Ему нужен отдых.</NauseaHeDesc>
  <NauseaSheDesc> чувствует тошноту. Она заблевала весь пол. Ей нужен отдых.</NauseaSheDesc>

  <NELabel>Ядерная авария!</NELabel>
  <NEDesc>ОПАСНОСТЬ!!! Взрыв на ядерном реакторе!</NEDesc>
  
  <LabelPB>Диверсия!</LabelPB>
  <DescPB>Это побег из тюрьмы! \n\nБез заговора не обошлось! Взорваны все тюремные двери. Ловите их, они за все ответят!</DescPB>

  <PA_A>Ваш узник </PA_A>
  <PA_B> недоволен и он ударил другого узника </PA_B>
  <PA_C> прямо в лицо! \n\nАй.. Больно!!</PA_C>
  <LabelPA>Разборки заключенных</LabelPA>

  <LabelPR>Буйство узника</LabelPR>
  <prisPR>Узник</prisPR>
  <DescPR> не может сидеть в тюрьме и это привело к насилию.</DescPR>

  <LabelPT>Тюремный бунт</LabelPT>
  <DescPT>Это тюремный бунт! Будьте осторожны с вашими узниками! Вы можете их покалечить!</DescPT>
  <DescPTtwo>Узник хочет выйти! Немедленно объясните узнику где его место, чтобы избежать ненужного насилия!</DescPTtwo>
  
  <LabelRV>Вирус Ярости</LabelRV>
  <DescRV> иммунен к неизвестному вирусу.</DescRV>  
  
  <LabelRVH>Опасность: Вирус Ярости!</LabelRVH>   
  <DescRVH>Неизвестный вирус поразил большинство людей в округе. Они сошли с ума и нападают друг на друга, половина ваших поселенцев была подвержена этому. Сделайте что-нибудь!</DescRVH>  
  
  <InterventionLabel>Вторжение</InterventionLabel>   
  <InterventionDesc>Рейдеры установили командный центр в непосредственной близости от вас, командный центр не прекратит вызывать рейдеров, пока вы не уничтожите его. \n\n Подготовьте свою лучшую команду и уничтожьте командный центр!</InterventionDesc>  
  <InterventionMess>-----------Входящее сообщение----------- \n\n Опасность! Опасность!\n Рейдеры установили командный центр в непосредственной близости от вас, командный центр не прекратит вызывать рейдеров, пока вы не уничтожите его. \n\n Подготовьте свою лучшую команду и уничтожьте командный центр!</InterventionMess>   
  
  <SndLabel>Рейд Синдиката</SndLabel>   
  <Snd_A> на самом деле рейдер из </Snd_A>    
  <Snd_Bf> связалась со своей базой и указала координаты поселения для десанта.\n\nРейдеры идут!!</Snd_Bf>
  <Snd_Bm> связался со своей базой и указал координаты поселения для десанта.\n\nРейдеры идут!!</Snd_Bm>
  
  <LabelRZ>Стальной дождь</LabelRZ>    
  <DescRZ>Обломки с орбиты планеты начали падать в вашем районе. Приготовьтесь!</DescRZ>

  <LabelCR>Космическая радиация</LabelCR>
  <DescCR>получил за счет излучения и изо всех сил пытается помочь другим поселенцам</DescCR>   
  <DescHCR>Слишком большое излучение от солнечной вспышки вызвало возможность воздействия космической радиации на человека в этом районе. \n\nКаждый чувствует тошноту, у молодых людей, возможно, не всё так плохо, но у старых плохое самочувствие и они нуждаются в отдыхе.</DescHCR>  

  <LabelSS>Статические сигналы</LabelSS>
  <DescSS>Сильные статические сигналы вызвали массовое атмосферное возмущение в непосредственной близости от поселения!</DescSS>   

  <LabelHA>Инсульт</LabelHA>   
  <DescHA> пережил инсульт. Помогите ему!</DescHA>   

  <LabelSC>Подозрительные ящики</LabelSC>   
  <DescSC>Несколько подозрительных ящиков упали поблизости от поселения. \n\nВы можете проверить их или просто оставить в покое. \n\nЧто может быть внутри этих ящиков?</DescSC>   

  <TribMigrDesc>Целое племя путешественников прибыло в район поселения. \n\nВы можете только представить, какая судьба выпала на их долю. Они не будут атаковать вас, даже если у вас с ними очень плохие отношения. Пожалейте их, дайте им пройти.</TribMigrDesc>   

  <MeteorStopLabel>Метеоритный дождь прекратился</MeteorStopLabel>
  <MeteorStopDesc>В небе больше не видно падающих метеоритов.</MeteorStopDesc>

  <RazorOverLabel>Стальной дождь прекратился</RazorOverLabel> 
  <RazorOverDesc>Осадки из космических обломков закончились.</RazorOverDesc>

  <MechCCLabel>Кокон механоидов</MechCCLabel> 
  <MechCCDesc>Механоиды нацелены на уничтожение. Их армия сейчас направляется к поселению.</MechCCDesc> 

  <DarknessComesA>Тьма поглотит мир RimWorld'a через 60.</DarknessComesA> 
  <DarknessComesB>Тьма поглотит мир RimWorld'a через 30.</DarknessComesB> 
  <DarknessComesC>Тьма поглотит мир RimWorld'a через 15.</DarknessComesC> 
  <DarknessComesD>Тьма поглотит мир RimWorld'a через 5.</DarknessComesD> 
  <DarknessComesE>Тьма поглотит мир RimWorld'a через 4.</DarknessComesE> 
  <DarknessComesF>Тьма поглотит мир RimWorld'a через 3.</DarknessComesF>
  <DarknessComesG>Тьма поглотит мир RimWorld'a через 2.</DarknessComesG>
  <DarknessComesH>Тьма поглотит мир RimWorld'a через 1.</DarknessComesH> 
  <DarknessComes>Тьма пришла за вами!</DarknessComes> 
  <OmniousDarkLabel>Тьма отступает</OmniousDarkLabel> 
  <OmniousDarkDesc>Тьма отступает, но не чувсвуйте себя в безопасности... \n\n Тьма вернется за вами  позже...</OmniousDarkDesc> 
  <TakenDC>Тень забрала </TakenDC>
  <IntoDS> во тьму.</IntoDS>
    
  <EQMess>Землетрясение! Все живы?\n\nПохоже, некоторые здания были серьезно повреждены.</EQMess> 
  <EQMessLow>Землетрясение! Все живы?\n\nПохоже, некоторые здания были повреждены.</EQMessLow>
  <EQRichterScale>\nСила по шкале Рихтера: </EQRichterScale>
  
  <FWwarMess>Одна фракция объявила войну вашим союзникам. И теперь она пытается совершить рейд на ваше поселение, чтобы захватить ваше имущество! \n\nХорошо, что ваши союзники не позволят атакующим получить то, что они хотят! \n\nЭто место станет полем битвы! \nПодготовить оборону!</FWwarMess>
  <FWalliesMess>Союзники отправили большую часть своих войск в ваш район, и они не могут отправить больше. Враги будут упорны в своём намерении совершить набег на поселение.</FWalliesMess> 
  <FWenemiesMess>Враги наконец-то отступили. Теперь можете поблагодарить союзников за помощь.</FWenemiesMess> 

  <MDLabel>Найдены скрытые залежи ресурсов</MDLabel> 
  <MDDesc>Мы нашли скрытое месторождение полезных ископаемых!</MDDesc> 
  <RMDLabel>Найдены скрытые залежи редких металлов</RMDLabel> 
  <RMDDesc>Мы нашли скрытые залежи редких металлов!</RMDDesc>
  <OFLabel>Найдено нефтяное месторождение</OFLabel>
  <OFDesc>Найдено скрытое месторождение нефти!</OFDesc>

  <LabelMT>Что-то странное</LabelMT> 
  <DescMT>Лица людей, находившихся в упавших капсулах выглядели очень испуганными, они, должно быть, испытали что-то ужасное.</DescMT> 
  <TheThingLabel>Нечто</TheThingLabel> 
  <TheThingDesc> превращается в огромную мерзость!\nЭто мутировавшая форма жизни!\n\nУничтожьте ЭТО прежде, чем оно перебьёт всех ваших поселенцев!</TheThingDesc> 

  <CosmicRadiationLevel>Кажется, уровень радиации упал до естественного уровня</CosmicRadiationLevel>
  
  <LabelNF>Радиоактивные осадки</LabelNF>  
  <DescNF>Боже мой! Выпали радиоактивные осадки. Всё живое умрёт!\n\nПериод полураспада нашего урана 100 дней.</DescNF>

  <ConfusionLabel>Смятение</ConfusionLabel>
  <ConfusionDesc> очнулся от смятения.</ConfusionDesc>

  <CrateSCLabel>Ящики загадочным образом открылись</CrateSCLabel> 
  <CrateSCDesc>Ящики загадочным образом открылись. \n\nВ них лежат какие-то предметы.</CrateSCDesc> 
  <CrateSCContOne>Ящики загадочным образом открылись. \n\nВ них лежит:</CrateSCContOne> 
  <CrateSCContTwo> \n\nкак, чёрт возьми, это попало туда?</CrateSCContTwo>
  <CrateSCTrojan>Ящики загадочным образом открылись. \n\nОттуда вылезли чёртовы рейдеры! Это троянская тактика! \n\nкак, чёрт возьми, они попали туда!?</CrateSCTrojan>

  <LetterLabelPlunderersArrived>Расхитители</LetterLabelPlunderersArrived>
  <PlunderersArrived>Расхитители появились недалеко от вас. Будьте осторожны, они атакуют любого человека если тот попадет в их поле зрения.</PlunderersArrived>   
  <KillingSpree> пытается убить </KillingSpree>
  
  <LabelMalariaRaid>Москиты</LabelMalariaRaid>
  <DescMalariaRaid>В вашем жилище обнаружены москиты.</DescMalariaRaid>
  <LabelFleaRaid>Блохи</LabelFleaRaid>
  <DescFleaRaid>В вашем жилище завелись блохи.</DescFleaRaid>
  
</LanguageData>