<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <SetUpCamp>Montar acampamento</SetUpCamp>
  <SetUpCampDesc>Monte um acampamento para que a caravana possa minerar minério e caçar.</SetUpCampDesc>
  <SetUpCampFormedCamp>A caravana montou acampamento com sucesso.</SetUpCampFormedCamp>
  <SetUpCampSettingsCategoryLabel>SetUpCamp</SetUpCampSettingsCategoryLabel>
  <SetUpCampSettingMapSize>Faixa de tamanho do mapa do acampamento (padrão: 75-125)</SetUpCampSettingMapSize>
  <SetUpCampSettingsMapTimerDays>Tempo para deixar o acampamento (padrão: 5 dias)</SetUpCampSettingsMapTimerDays>
  <SetUpCampSettingsMapTimerDaysTooltip>Dias antes da caravana ser forçada a deixar o acampamento</SetUpCampSettingsMapTimerDaysTooltip>
  <SetUpCampSettingsTimeout>Tempo até que o acampamento abandonado desapareça (padrão: 60)</SetUpCampSettingsTimeout>
  <SetUpCampSettingsTimeoutTooltip>Dias até que os acampamentos abandonados desapareçam (15-120 dias)</SetUpCampSettingsTimeoutTooltip>
  <SetUpCampSettingMinCampSize>Tamanho mínimo para acampamentos</SetUpCampSettingMinCampSize>
  <SetUpCampSettingMaxCampSize>Tamanho máximo para acampamentos</SetUpCampSettingMaxCampSize>
  <SetUpCampSettingsCustomMapGenDef>Habilitar recursos para terreno de acampamento gerado</SetUpCampSettingsCustomMapGenDef>
  <SetUpCampSettingsPermanentCamps>Habilitar acampamentos persistentes (desabilitar excluirá permanentemente todos os acampamentos vazios)</SetUpCampSettingsPermanentCamps>
  <SetUpCampSettingsHomeEvents>Habilitar eventos de "mapa normal" em acampamentos</SetUpCampSettingsHomeEvents>
  <SetUpCampSettingsCaravanEvents>Permitir eventos de “caravana” em acampamentos</SetUpCampSettingsCaravanEvents>
  <SetUpCampDestroyCamp>Abandonar acampamento</SetUpCampDestroyCamp>
  <SetUpCampDestroyCampDesc>Abandone este acampamento para sempre.</SetUpCampDestroyCampDesc>
  <SetUpCampAbandonDialogue>Tem certeza de que quer abandonar este acampamento para sempre?</SetUpCampAbandonDialogue>
  <SetUpCampAbandoned>O acampamento está abandonado.</SetUpCampAbandoned>
  <SetUpCampStillInUse>Ainda há colonos no acampamento. Você deve continuar a jornada da caravana antes de abandonar o acampamento.</SetUpCampStillInUse>
  <SetUpCampOccupied>Você precisa esperar antes de montar acampamento no mesmo lugar.</SetUpCampOccupied>

</LanguageData>
