<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <SetUpCamp>Establecer campamento</SetUpCamp>
  <SetUpCampDesc>Establezca un campamento que permita buscar comida, minar y cazar, así como reorganizar su caravana.</SetUpCampDesc>
  <SetUpCampFormedCamp>La caravana estableció con éxito un campamento.</SetUpCampFormedCamp>
  <SetUpCampSettingsCategoryLabel>Set up camp</SetUpCampSettingsCategoryLabel>
  <SetUpCampSettingMapSize>Tamano del mapa para el campamento (Predeterminado: 75-125)</SetUpCampSettingMapSize>
  <SetUpCampSettingsMapTimerDays>Temporizador para abandonar el campamento (Predeterminado: 5)</SetUpCampSettingsMapTimerDays>
  <SetUpCampSettingsMapTimerDaysTooltip>Días hasta que la caravana se vea obligada a abandonar el campamento</SetUpCampSettingsMapTimerDaysTooltip>
  <SetUpCampSettingsTimeout>Temporizador para la desaparición de campamentos abandonados (Predeterminado: 60)</SetUpCampSettingsTimeout>
  <SetUpCampSettingsTimeoutTooltip>Días hasta que desaparezcan los campos abandonados (15-120)</SetUpCampSettingsTimeoutTooltip>
  <SetUpCampSettingMinCampSize>Tamaño mínimo de los campamentos</SetUpCampSettingMinCampSize>
  <SetUpCampSettingMaxCampSize>Tamaño máximo de los campamentos</SetUpCampSettingMaxCampSize>
  <SetUpCampSettingsCustomMapGenDef>Activar recursos</SetUpCampSettingsCustomMapGenDef>
  <SetUpCampSettingsPermanentCamps>Habilitar campamentos permanentes (Si se desactiva, se eliminarán todos los campamentos vacíos en el mapa.)</SetUpCampSettingsPermanentCamps>
  <SetUpCampSettingsHomeEvents>Habilitar eventos de "mapa normal" en los campamentos</SetUpCampSettingsHomeEvents>
  <SetUpCampSettingsCaravanEvents>Habilitar eventos de "caravana" en los campamentos</SetUpCampSettingsCaravanEvents>
  <SetUpCampDestroyCamp>Abandonar el campamento</SetUpCampDestroyCamp>
  <SetUpCampDestroyCampDesc>Abandona este campamento permanentemente.</SetUpCampDestroyCampDesc>
  <SetUpCampAbandonDialogue>¿Está seguro de que desea destruir este campamento de forma permanente e irreversible?</SetUpCampAbandonDialogue>
  <SetUpCampAbandoned>Campamento abandonado.</SetUpCampAbandoned>
  <SetUpCampStillInUse>Todavía hay colonos en el campamento. Hay que formar una caravana antes de abandonar el campamento.</SetUpCampStillInUse>
  <SetUpCampOccupied>Hay que esperar antes de acampar en el mismo lugar.</SetUpCampOccupied>

  

</LanguageData>