<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <MainTabLabel>Основне</MainTabLabel>
  <RaidHelperTabLabel>Помічник оповідача</RaidHelperTabLabel>
  <MainSettingsLabel>Основні налаштування</MainSettingsLabel>
  <RaidHelperSettingsLabel>Основні налаштування</RaidHelperSettingsLabel>
  <UsefulFunctionsLabel>Корисне</UsefulFunctionsLabel>
  <RestoreToDefaultLabel>Відновити стандартні настройки</RestoreToDefaultLabel>
  <RestoreToDefaultDesc>За замовчуванням</RestoreToDefaultDesc>
  <enableInsectoidJumpsLabel>Включити стрибки інсектоїдів</enableInsectoidJumpsLabel>
  <enableInsectoidJumpsDesc>Інсектоїди набудуть здатності стрибати на жертву.</enableInsectoidJumpsDesc>
  <enableVEFIntegrationLabel>Інтеграція з Vanilla Factions Expanded</enableVEFIntegrationLabel>
  <enableVEFIntegrationDesc>Вимикає ranged verb patch для свійських тварин.</enableVEFIntegrationDesc>
  <deathRattleChanceLabel>Імовірність Death Rattle: {0}</deathRattleChanceLabel>
  <deathRattleChanceDesc>Шанс, який спрацює Death Rattle. Якщо не спрацює, піша помре миттєво (за замовчуванням 100%).</deathRattleChanceDesc>
  <disableBarghestEclipseLabel>Вимкнути затемнення Баргеста</disableBarghestEclipseLabel>
  <disableBarghestEclipseDesc>Баргест більше не викликатиме затемнення на карті.</disableBarghestEclipseDesc>
  <RaidWeightDelayLabel>Затримка рейду</RaidWeightDelayLabel>
  <RaidWeightDelayDesc>Більше значення збільшує затримку між рейдами. Відповідні значення: 100-300.</RaidWeightDelayDesc>
  <RaidDaysDelayLabel>Затримка днями</RaidDaysDelayLabel>
  <RaidDaysDelayDesc>Зміщення значення RaidWeightDelay у днях, що впливає на шанс рейду. Типово:2 Відповідні значення:-4-4</RaidDaysDelayDesc>
  <RaidDaysVariationMinLabel>Мінімальне зрушення</RaidDaysVariationMinLabel>
  <RaidDaysVariationMinDesc>Зрушення мінімального відхилення днями, що впливає на шанс рейду. Типово:-2 Відповідні значення:-4-0</RaidDaysVariationMinDesc>
  <RaidDaysVariationMaxLabel>Максимальне зрушення</RaidDaysVariationMaxLabel>
  <RaidDaysVariationMaxDesc>Зміщення максимальної зміни у днях, що впливає на шанс рейду. Має бути більше, ніж мінімальне значення. Типово:4 Відповідні значення:0-4</RaidDaysVariationMaxDesc>
  <RaidPointsMultiplierLabel>Множник очок рейду: {0}</RaidPointsMultiplierLabel>
  <RaidPointsMultiplierDesc>Множина сили рейду, що впливає на кількість ворогів у рейді. За замовчуванням:1,9 (без множника). Відповідні значення: 0,50-2,00</RaidPointsMultiplierDesc>
  <RaidDoubleChanceLabel>Шанс подвійного рейду: {0}</RaidDoubleChanceLabel>
  <RaidDoubleChanceDesc>Шанс появи подвійного рейду. Типово:0.2 Відповідні значення: 0-0.25</RaidDoubleChanceDesc>
  <DefaultRaidLandingChanceLabel>Шанс на десант: {0}</DefaultRaidLandingChanceLabel>
  <DefaultRaidLandingChanceDesc>Шанс викликати рейд десантом. Типово: 0.05 Відповідні значення: 0.01-0.05</DefaultRaidLandingChanceDesc>
  <MaxRaidLandingChanceLabel>Максимальний шанс на десант: {0}</MaxRaidLandingChanceLabel>
  <MaxRaidLandingChanceDesc>Максимальний шанс рейду десантом. За замовчуванням: 0.20 Повинне бути вищим за значення за промовчанням. Відповідні значення: 0.01-0.05</MaxRaidLandingChanceDesc>
  <DestroyMechanoidAmmoLabel>Знищити боєприпаси для механоїдів</DestroyMechanoidAmmoLabel>
  <DestroyMechanoidAmmoDesc>Знищувати боєприпаси механоїдів після вбивства.</DestroyMechanoidAmmoDesc>
  <ChanceToInstantDestroyAmmoLabel>Шанс знищити боєприпаси: {0}</ChanceToInstantDestroyAmmoLabel>
  <ChanceToInstantDestroyAmmoDesc>Шанс повністю знищити ворожі боєприпаси під час вбивства.</ChanceToInstantDestroyAmmoDesc>
  <ChanceToInstantDestroyEnemyItemLabel>Шанс знищити екіпірування: {0}</ChanceToInstantDestroyEnemyItemLabel>
  <ChanceToInstantDestroyEnemyItemDesc>Шанс повністю знищити вороже екіпірування під час вбивства.</ChanceToInstantDestroyEnemyItemDesc>
  <ChanceToDamageEnemyItemLabel>Шанс завдати шкоди ворожому екіпіруванню: {0}</ChanceToDamageEnemyItemLabel>
  <ChanceToDamageEnemyItemDesc>Шанс завдати шкоди ворожому екіпіруванню при вбивстві.</ChanceToDamageEnemyItemDesc>
  <MinAmountDeteriorationLabel>Мінімальний шанс втрати екіпіровки</MinAmountDeteriorationLabel>
  <MinAmountDeteriorationDesc>Мінімальний шанс пошкодити вороже спорядження під час вбивства.</MinAmountDeteriorationDesc>
  <MaxAmountDeteriorationLabel>Максимальний шанс втрати екіпіровки</MaxAmountDeteriorationLabel>
  <MaxAmountDeteriorationDesc>Максимальний шанс завдати шкоди ворожому екіпіруванню під час вбивства.</MaxAmountDeteriorationDesc>
  <MaxRaidCountLabel>Макс. кількість у рейді</MaxRaidCountLabel>
  <MaxRaidCountDesc>Максимально можлива кількість пішаків у рейді. Типово:130 МінЗначення:10 МаксЗначення:500</MaxRaidCountDesc>
  <MaxCountToReduceLabel>Максимальне число для зниження</MaxCountToReduceLabel>
  <MaxCountToReduceDesc>Враховуватиме ворожі пішаки, що вже з'являються на карті, і віднімати їх з максимального значення. Типово: 50 МінЗначення:1 МаксЗначення:(Макс. кількість - 1)</MaxCountToReduceDesc>
  <EnableRaidAssistantLabel>Увімкніть помічника оповідача</EnableRaidAssistantLabel>
  <EnableRaidAssistantDesc>Увімкніть помічника HSK.</EnableRaidAssistantDesc>
  <EnableAfterDaysPassedLabel>Включити після закінчення днів</EnableAfterDaysPassedLabel>
  <EnableAfterDaysPassedDesc>Включити помічника оповідача після минулих ігрових днів. За замовчуванням:120.</EnableAfterDaysPassedDesc>
  <AverageAssistDelayLabel>Середня затримка</AverageAssistDelayLabel>
  <AverageAssistDelayDesc>Кількість часу між подіями тригера помічника оповідача. Відповідні значення: 1800-3000</AverageAssistDelayDesc>
  <AssistantRaidPointsMultiplierLabel>Множник очок рейду: {0}</AssistantRaidPointsMultiplierLabel>
  <AssistantRaidPointsMultiplierDesc>Багато окулярів рейду помічника оповідача. Відповідні значення: 0.5-1.0</AssistantRaidPointsMultiplierDesc>
  <EnableBombardamentLabel>Увімкнути бомбардування</EnableBombardamentLabel>
  <EnableBombardamentDesc>Включити бомбардування для допомоги ворожим фракціям?</EnableBombardamentDesc>
  <EnablePowerBeamStrikeLabel>Включити іонну гармату</EnablePowerBeamStrikeLabel>
  <EnablePowerBeamStrikeDesc>Включити іонну гармату для допомоги ворожим фракціям?</EnablePowerBeamStrikeDesc>
  <EnableFireGlowLabel>Увімкнути свічення вогню</EnableFireGlowLabel>
  <EnableFireGlowDesc>Включає додаткове висвітлення від вогню для створення атмосфери. Може зменшити продуктивність гри. За замовчуванням вимкнено.</EnableFireGlowDesc>
</LanguageData>