<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <SetUpCamp>Set up camp</SetUpCamp>
  <SetUpCampDesc>Set up a camp, enabling you to forage, mine and hunt as well as reorganize your caravan.</SetUpCampDesc>
  <SetUpCampFormedCamp>The caravan successfully set up a camp.</SetUpCampFormedCamp>
  <SetUpCampSettingsCategoryLabel>Set Up Camp</SetUpCampSettingsCategoryLabel>
  <SetUpCampSettingMapSize>Map size range (default: 75 - 125)</SetUpCampSettingMapSize>
  <SetUpCampSettingsMapTimerDays>Leaving timer (default: 5)</SetUpCampSettingsMapTimerDays>
  <SetUpCampSettingsMapTimerDaysTooltip>Days until the caravan is forced to leave the map</SetUpCampSettingsMapTimerDaysTooltip>
  <SetUpCampSettingsTimeout>Abandoned camp duration (default: 60)</SetUpCampSettingsTimeout>
  <SetUpCampSettingsTimeoutTooltip>Days until abandoned camps disappear and the tile can be used again</SetUpCampSettingsTimeoutTooltip>
  <SetUpCampSettingMinCampSize>Minimum size for camps</SetUpCampSettingMinCampSize>
  <SetUpCampSettingMaxCampSize>Maximum size for camps</SetUpCampSettingMaxCampSize>
  <SetUpCampSettingsCustomMapGenDef>Enable resources (default: true)</SetUpCampSettingsCustomMapGenDef>
  <SetUpCampSettingsPermanentCamps>Enable permanent camps (default: false, disabling will remove empty camps!)</SetUpCampSettingsPermanentCamps>
  <SetUpCampSettingsHomeEvents>Enable "normal map" events on camps (default: false)</SetUpCampSettingsHomeEvents>
  <SetUpCampSettingsCaravanEvents>Enable "caravan" events on camps (default: false)</SetUpCampSettingsCaravanEvents>
  <SetUpCampDestroyCamp>Abandon camp</SetUpCampDestroyCamp>
  <SetUpCampDestroyCampDesc>Abandons this camp permanently.</SetUpCampDestroyCampDesc>
  <SetUpCampAbandonDialogue>Are you sure you wish to permanently and irreversibly destroy this camp?</SetUpCampAbandonDialogue>
  <SetUpCampAbandoned>Camp abandoned.</SetUpCampAbandoned>
  <SetUpCampStillInUse>There are still colonists in the camp. You must form a caravan before abandoning the camp.</SetUpCampStillInUse>
  <SetUpCampOccupied>You need to wait before setting up a camp at the same spot.</SetUpCampOccupied>

  <SetUpCamp_GeneratingCamp>Generating camp site</SetUpCamp_GeneratingCamp>
  

</LanguageData>