<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <SeasonalWeatherSettingsCategoryLabel>Seasonal Weather</SeasonalWeatherSettingsCategoryLabel>
  <EnableEarthquakesLabel>Enable earthquakes</EnableEarthquakesLabel>
  <EnableWildfiresLabel>Enable wildfires</EnableWildfiresLabel>
  <!--<DynamicDefNote>NOTE: Currently, these settings are only triggered during the creation or load of map.</DynamicDefNote>-->

</LanguageData>