<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <AT.ModVersion>Installed mod-version: {0}</AT.ModVersion>
  <AT.DefaultRadiusUnlimited>Default ingredient radius: Unlimited</AT.DefaultRadiusUnlimited>
  <AT.DefaultRadius>Default ingredient radius: {0}</AT.DefaultRadius>
  <AT.DefaultRadiusTT>Will set this radius as default for all new bills created. Will not affect existing bills.</AT.DefaultRadiusTT>
  
  <AT.MeatIngredients_Label>Meat Ingredients</AT.MeatIngredients_Label>
  <AT.MeatIngredients_Tooltip>If enabled, meat sources will be added to ingredients and will effect ideology.</AT.MeatIngredients_Tooltip>

  <AT.DeliverAsMuchAsYouCan_Label>Deliver As Much As You Can</AT.DeliverAsMuchAsYouCan_Label>
  <AT.DeliverAsMuchAsYouCan_Tooltip>If enabled, pawns will try and deliver any resources that match any of the building requirements.</AT.DeliverAsMuchAsYouCan_Tooltip>

</LanguageData>