<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <trackingVisible_title>跟踪可见蓝图</trackingVisible_title>
  <trackingVisible_desc>选项可在屏幕上启用或禁用对蓝图的跟踪以显示需求。\n\n如果您的计算机太慢，无法跟踪可见的蓝图，那么您可以在这里禁用它。</trackingVisible_desc>
  <trackingForbidden_title>跟踪禁用蓝图</trackingForbidden_title>
  <trackingForbidden_desc>选项，以启用或禁用禁用蓝图的跟踪。用于排除用于跟踪的大量蓝图。\n\n这适用于选择跟踪和可见跟踪。</trackingForbidden_desc>
  <zoomForTracking_title>可见跟踪的变焦级别</zoomForTracking_title>
  <zoomForTracking_desc>跟踪屏幕上可见的蓝图时的最大缩放级别。\n\n如果您的计算机在跟踪太多的蓝图时遇到困难，请选择一个较近的缩放级别。</zoomForTracking_desc>
  <zoomForTracking_Closest>最近</zoomForTracking_Closest>
  <zoomForTracking_Close>近</zoomForTracking_Close>
  <zoomForTracking_Middle>中等</zoomForTracking_Middle>
  <zoomForTracking_Far>远</zoomForTracking_Far>
  <zoomForTracking_Furthest>最远</zoomForTracking_Furthest>
  <visibilityMargin_title>可见性裕度</visibilityMargin_title>
  <visibilityMargin_desc>当决定蓝图是否可见时，距屏幕的空白(以像素为单位)。\n\nNote:这可能不准确。</visibilityMargin_desc>
  <clampTipToScreen_title>保持工具提示在屏幕上</clampTipToScreen_title>
  <clampTipToScreen_desc>如果启用，总计工具提示将始终定位在屏幕上。</clampTipToScreen_desc>
  <clampMargin_title>工具提示夹裕度</clampMargin_title>
  <clampMargin_desc>当试图将工具提示保留在屏幕上时，工具提示将保持与屏幕边缘的最小像素距离。</clampMargin_desc>
  <highlightOpacity_title>强调不透明度</highlightOpacity_title>
  <highlightOpacity_desc>突出显示矩形的不透明程度。最小不透明度为0%，最大不透明度为25%。调至0%以完全禁用高亮显示。</highlightOpacity_desc>
  <showTips_title>显示工具提示行</showTips_title>
  <showTips_desc>如果启用，将鼠标悬停在列表元素上将显示工具提示。</showTips_desc>
  <countInStorage_title>仅计算存储中的物品</countInStorage_title>
  <countInStorage_desc>如果启用，将只计算存储在库存中的物品</countInStorage_desc>
  <countForbidden_title>计算禁用物品</countForbidden_title>
  <countForbidden_desc>如果启用并计算地图上的所有项目，则会计算禁用物品。</countForbidden_desc>
  <tooltipPosition_title>工具提示的位置</tooltipPosition_title>
  <tooltipPosition_desc>使用这两个滑块来设置工具提示相对于跟踪的蓝图的显示位置。\n\n半透明的矩形是突出显示你的跟踪蓝图的矩形，而白色的方框是工具提示的位置。</tooltipPosition_desc>
  <transferSel_title>转移选择到新的结构</transferSel_title>
  <transferSel_desc>如果启用，当殖民者向选定的蓝图中添加建筑材料时，该蓝图将自动被选中。</transferSel_desc>
</LanguageData>