<?xml version="1.0" encoding="utf-8" ?>
<Defs>

	<ThingDef Name="Skynet_EventBase" Abstract="True">
		<category>Building</category>
		<soundImpactDefault>BulletImpact_Metal</soundImpactDefault>
		<selectable>true</selectable>
		<drawerType>MapMeshAndRealTime</drawerType>
		<terrainAffordanceNeeded>Light</terrainAffordanceNeeded>
		<repairEffect>Repair</repairEffect>
		<leaveResourcesWhenKilled>true</leaveResourcesWhenKilled>
		<graphicData>
			<shaderType>Transparent</shaderType>
			<graphicClass>Graphic_Random</graphicClass>
		</graphicData>
	</ThingDef>

	<ThingDef ParentName="Skynet_EventBase">
		<defName>TTcounter</defName>
		<label>unspecified filth</label>
		<thingClass>Skynet.Ticker_TTcounter</thingClass>
		<graphicData>
			<texPath>Inv</texPath>
			<graphicClass>Graphic_Single</graphicClass>
			<shaderType>Transparent</shaderType>
		</graphicData>
		<altitudeLayer>Filth</altitudeLayer>
		<passability>Standable</passability>
		<selectable>false</selectable>
		<useHitPoints>false</useHitPoints>
		<tickerType>Normal</tickerType>
		<description>Ticker</description>
		<size>(1,1)</size>
	</ThingDef>

	<ThingDef ParentName="Skynet_EventBase">
		<defName>APCcounter</defName>
		<label>unspecified filth</label>
		<thingClass>Skynet.Ticker_APCcounter</thingClass>
		<graphicData>
			<texPath>Inv</texPath>
			<graphicClass>Graphic_Single</graphicClass>
			<shaderType>Transparent</shaderType>
		</graphicData>
		<altitudeLayer>Filth</altitudeLayer>
		<passability>Standable</passability>
		<selectable>false</selectable>
		<useHitPoints>false</useHitPoints>
		<tickerType>Normal</tickerType>
		<description>Ticker</description>
		<size>(1,1)</size>
	</ThingDef>

</Defs>