<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

<ER_ExpandedRoofing>Расширенная кровля</ER_ExpandedRoofing>
<ER_MaxOutputLabel>Максимальная выходная мощность солнечного контроллера</ER_MaxOutputLabel>
<ER_WattagePerSolarPanelLabel>Мощность солнечного контроллера на солнечную панель</ER_WattagePerSolarPanelLabel>
<ER_GlassLights>Поменять стекло на сталь, если установлен мод 'Glass+Lights'</ER_GlassLights>

</LanguageData>