<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <AT.ModVersion>Versão mod instalada: {0}</AT.ModVersion>
  <AT.DefaultRadiusUnlimited>Raio de ingrediente padrão: Ilimitado</AT.DefaultRadiusUnlimited>
  <AT.DefaultRadius>Raio de ingrediente padrão: {0}</AT.DefaultRadius>
  <AT.DefaultRadiusTT>Definirá este raio como padrão para todas as novas faturas criadas. Não afetará as contas existentes.</AT.DefaultRadiusTT>

  <AT.MeatIngredients_Label>Ingredientes de carne</AT.MeatIngredients_Label>
  <AT.MeatIngredients_Tooltip>Se ativado, as fontes de carne serão adicionadas aos ingredientes e afetarão a ideologia.</AT.MeatIngredients_Tooltip>

  <AT.DeliverAsMuchAsYouCan_Label>Entregue o máximo que puder</AT.DeliverAsMuchAsYouCan_Label>
  <AT.DeliverAsMuchAsYouCan_Tooltip>Se ativado, os peões tentarão entregar quaisquer recursos que correspondam a qualquer um dos requisitos de construção.</AT.DeliverAsMuchAsYouCan_Tooltip>

  <CutPlantsBeforeBuilding>Corte as plantas antes de construir</CutPlantsBeforeBuilding>
  <CoreSK_ShowTPSInRegularGame>Mostrar TPS sempre</CoreSK_ShowTPSInRegularGame>
  <CoreSK_ShowRaidPoints>Mostrar RaidPoints perto do TPS</CoreSK_ShowRaidPoints>
  <CoreSK_MaxRaidCount>Contagem máxima de ataques (0 = usar padrões)</CoreSK_MaxRaidCount>
  <CoreSK_Max4Speed>Limite máximo de velocidade (900 = padrão)</CoreSK_Max4Speed>
  <ReplaceStuff_CornerBuildable>As telhas de canto podem ser construídas e lavradas por dentro</ReplaceStuff_CornerBuildable>

  <AT_Credits>Parte dos ajustes retirados de: ShareTheLoad, ReplaceStuff</AT_Credits>

</LanguageData>
