<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <LabelPests>¡Plagas!</LabelPests>
  <DescPests>Some crop-eating bugs have found their way into your growing zones. They will eat all the crops they can find if they aren't dealt with.</DescPests>

  <LetterLabelSwarm>Enjambre</LetterLabelSwarm>
  <SwarmArrived>Un grupo de insectos hambrientos apareció cerca de la colonia. \n¡A cubrir todo, inmediatamente! Ellos estarán aquí por un corto tiempo y nosotros podemos esperar.</SwarmArrived>

  <LabelAG>Genocidio Animal</LabelAG>
  <DescAG>Todas las especies no humanas dentro de la zona han muerto misteriosamente.\nDebe haber algún tipo de fenómeno súper misterioso en este RimWorld.</DescAG>

  <LabelAE>Explosión accidental</LabelAE>
  <DescAE>Un mal funcionamiento del nucleo de una central eléctrica ha causado una explosión. La central ha sido severamente dañada o destruida.</DescAE>

  <LabelBH>¡Meteoro cayendo!</LabelBH>
  <DescBH>¡Un meteorito ha entrado en el pozo de gravedad del planeta y se está estrellando, lo que inminentemente causará una gran explosión en donde caiga!</DescBH>

  <LabelBMH>¡Lluvia de meteoritos cayendo!</LabelBMH>
  <DescBMH>¡Una lluvia de meteoroides ha entrado en el pozo de gravedad del planeta y se están estrellando, causando explosiones!</DescBMH>

  <FoundTreasure>Tesoro encontrado</FoundTreasure>
  <HeStash> se sintió generoso y decidió regalar un arma de gran valor que estaba escondiendo para servir a la colonia. \n\nEl dio su </HeStash>
  <SheStash> se sintió generosa y decidió regalar un arma preciosa que estaba escondiendo para servir a la colonia.\n\nElla le dio </SheStash>
  <GunStash> pistola.</GunStash>
  <HeMoney> se sintió generoso y decidió que era mejor compartir su riqueza para la colonia.\n\nEl ha decidido donar </HeMoney>
  <SheMoney> se sintió generosa y decidió que era mejor compartir su riqueza para la colonia.\n\nElla ha decidido donar </SheMoney>
  <SilverStash> plata a la colonia.</SilverStash>

  <DescEQ>¡Advertencia! ¡TERREMOTO! Cuidado con los escombros que caen!</DescEQ>
  <LabelEQ>¡Terremoto!</LabelEQ>

  <LabelFE>Extraño eclipse</LabelFE>
  <DescFE>El eclipse esta ocurriendo </DescFE>
  <DescFEtwo> en la zona feral. Se están fusionando para atacar a su colonia, ¡preparare una defensa de inmediato!</DescFEtwo>

  <LabelEM>Eclipse por meteorito</LabelEM>
  <DescEM>¡Este eclipse no es causado por una luna, es un gran meteorito que esta pasando!\n¡Tenga cuidado con los pedazos y con los escombros!\n\nPodrían haber caído metales preciosos!</DescEM>

  <RescueStay>Estancia en la colonia</RescueStay>
  <RescueGoAway>Obtener rescate</RescueGoAway>
  <EndGame>Un buque cercano de otro grupo planetario ha recibido información sobre el sitio del accidente basado en la señal de socorro que dispersó durante la destrucción de su nave. Han decidido venir a buscarte a ti y a tus colonos. \n\nPuede elegir terminar el juego ahora y decirle al barco de rescate que venga a buscarlo o elegir quedarse, es totalmente decisión suya.</EndGame>

  <LabelFL>Inundación repentina</LabelFL>
  <DescFL>¡El constante aguacero de la lluvia ha provocado una inundación repentina en las inmediaciones!</DescFL>

  <LabelHC>Carnívoros hambrientos llegaron</LabelHC>
  <DescHC>Un grupo de carnívoros hambrientos está buscando comida. Tus colonos parecen comida.</DescHC>

  <MessMS>----------- Transmisión entrante ----------- \n\n ¡Advertencia! ¡Advertencia!\nLa Colmena Mechanoide ha desplegado un Cocoon dentro de la zona. El Cocoon no dejará de llamar a los mecanoides hasta que lo hayas destruido.\n\n¡Prepara tu mejor equipo y destruye el Cocoon!</MessMS>
  <LabelMS>Colmena Mecanoide aterrizando</LabelMS>
  <DescMS>La Colmena Mechanoide ha desplegado un Cocoon dentro de la zona. El Cocoon no dejará de llamar a los mecanoides hasta que lo hayas destruido. \n\n ¡Prepara tu mejor equipo y destruye el Cocoon!</DescMS>

  <LabelMG>Migración</LabelMG>
  <DescMG>Un grupo de animales está migrando a través de tu región.</DescMG>

  <NauseaLabel>Náusea</NauseaLabel>
  <NauseaHeDesc> está sintiendo náuseas. Vomitó por todo el piso y necesita descansar.</NauseaHeDesc>
  <NauseaSheDesc> está sintiendo náuseas. Ella vomitó por todo el piso y necesita descansar.</NauseaSheDesc>

  <NEDesc>¡¡¡ADVERTENCIA!!! ¡Hubo una explosión en un reactor nuclear!</NEDesc>
  <NELabel>Incidente nuclear</NELabel>

  <LabelRV>Virus de la rabia</LabelRV>
  <DescRV>ha sido encontrado inmune por la calamidad desconocida.</DescRV>

  <LabelRVH>Advertencia: ¡Virus de la rabia!</LabelRVH>
  <DescRVH>¡Una calamidad desconocida ha golpeado! La mayoría de los humanos en la zona han sido conducidos a la locura y se están atacando mutuamente! La mitad de sus colonos están afectados. ¡Date prisa y haz algo!</DescRVH>

  <InterventionLabel>Intervención</InterventionLabel>
  <InterventionDesc>Una facción enemiga ha establecido un centro de mando dentro de la vecindad. El centro de mando no dejará de llamar a los Raiders hasta que lo hayan destruido. \n\n ¡Prepara tu mejor equipo y destruye el centro de mando!</InterventionDesc>
  <InterventionMess>----------- Transmisión entrante ----------- \n\n ¡Advertencia! Advertencia!\n Los Raiders han establecido un centro de mando dentro de la vecindad. El centro de mando no dejará de llamar a los Raiders hasta que lo hayan destruido. \n\n ¡Prepara tu mejor equipo y destruye el centro de mando!</InterventionMess>

  <SndLabel>Asalto - Sindicato</SndLabel>
  <Snd_A> Es en realidad un asalto de </Snd_A>
  <Snd_Bf> y se ha puesto en contacto con su base de operaciones y señaló la colonia para una caida desde el aire \n\nAsaltantes llegando</Snd_Bf>
  <Snd_Bm> y se ha puesto en contacto con su base de operaciones y señaló la colonia para una caida desde el aire \n\nAsaltantes llegando</Snd_Bm>

  <LabelRZ>Lluvia navaja inminente</LabelRZ>
  <DescRZ>Algunos escombros en órbita alrededor del planeta han comenzado a caer en la zona.</DescRZ>

  <LabelCR>Radiación cósmica</LabelCR>
  <DescCR>obtuvo a través de la radiación y está luchando para ayudar a los otros colonos</DescCR>
  <DescHCR>Demasiada radiación de la llamarada solar ha provocado la radiación cósmica sobre los seres humanos dentro de la zona. \n\nnTodo el mundo siente náuseas, los más jóvenes pueden haber ido bien, pero los mayores se sienten enfermos y necesitan descansar.</DescHCR>

  <LabelSS>Señales estáticas</LabelSS>
  <DescSS>¡Las fuertes señales estáticas están causando una perturbación atmosférica masiva en la vecindad de la colonia!</DescSS>

  <LabelHA>Accidente cerebrovascular</LabelHA>
  <DescHA> Ha sufrido un accidente cerebrovascular. Tratar con cuidado.</DescHA>

  <LabelSC>Cajas sospechosas</LabelSC>
  <DescSC>Un número de cajas sospechosas han emergido cerca de la vecindad de la colonia. \n\nPuede verlos o simplemente dejarlos en paz. \n\n¿Qué podría estar dentro de esas cajas?</DescSC>

  <TribMigrDesc>Una tribu entera de viajeros ha llegado a la zona de su colonia. \n\nSólo puedes imaginar lo que el destino ha decidido que ellos soporten.</TribMigrDesc>

  <MeteorStopLabel>Se detuvo la lluvia de meteoros</MeteorStopLabel>
  <MeteorStopDesc>La lluvia de meteoros se ha detenido. No se detectaron más meteoros.</MeteorStopDesc>

  <RazorOverLabel>Lluvia navaja detenida</RazorOverLabel>
  <RazorOverDesc>La lluvia de navajas parece estar dejando de caer.</RazorOverDesc>

  <MechCCLabel>Mechanoide Cocoon</MechCCLabel>
  <MechCCDesc>Los mecanoides ahora están empeñados en destruir la colonia. Un ejército de mecanoides están arremetiendo ahora hacia la colonia.</MechCCDesc>

  <EQMess>¡Un terremoto! ¿Alguien está herido? \n\nParece que algunos de los edificios se han dañado severamente.</EQMess>
  <EQMessLow>¡Un terremoto! ¿Alguien está herido? \n\nParece que algunos de los edificios se han dañado.</EQMessLow>
  <EQRichterScale>\nEscala del terremoto: </EQRichterScale>

  <FWwarMess>¡Una facción ha declarado la guerra contra sus aliados y ahora están tratando de asaltar su colonia para obtener algunos bienes útiles para su causa! \n\n¡La buena noticia es que tus aliados no permitirán a los atacantes obtener lo que quieren! \n\n¡Este lugar se convertirá en un campo de batalla! \ NPrepara sus defensas!</FWwarMess>
  <FWalliesMess>Los aliados han enviado la mayor parte de sus tropas a la zona y no pueden enviar más. Parece que los enemigos se van todos a la incursión de la colonia.</FWalliesMess>
  <FWenemiesMess>Los enemigos finalmente han renunciado y han detenido la escaramuza de tu colonia. Gracias a sus aliados por sus esfuerzos para detenerlos.</FWenemiesMess>

  <MDLabel>Se encontraron recursos ocultos</MDLabel>
  <MDDesc>¡Hemos encontrado depósitos minerales ocultos!</MDDesc>
  <RMDLabel>Se encontraron minerales raros ocultos</RMDLabel>
  <RMDDesc>¡Hemos encontrado depósitos minerales ocultos!</RMDDesc>
  <OFLabel>Encontrado yacimiento petrolífero oculto</OFLabel>
  <OFDesc>Hemos encontrado un yacimiento petrolífero escondido!</OFDesc>

  <LabelMT>Es algo extraño</LabelMT>
  <DescMT>Los rostros de los humanos contenidos en las capsulas de escape parecían aterrorizados más allá de la creencia. Debieron haber experimentado algo horripilante</DescMT>
  <TheThingLabel>¡Abominación!</TheThingLabel>
  <TheThingDesc> se ha transformado en una gran Abominación! ¡Aquella misteriosa transmisión desprendió una forma de vida mutada! \n\n¡Destrúyelo antes de mate a todos los colonos!</TheThingDesc>

  <CosmicRadiationLevel>Parece que el nivel de radiación se ha desplomado a un nivel natural.</CosmicRadiationLevel>

  <LabelNF>Precipitaciones nucleares</LabelNF>
  <DescNF>¡Oh Dios mío! ¡Han empezado las lluvias nucleares! ¡Todo va a morir! La vida media de nuestro uranio es de 100 días.</DescNF>

  <ConfusionLabel>Confusión</ConfusionLabel>
  <ConfusionDesc> Sólo salió de la confusión.</ConfusionDesc>

  <CrateSCLabel>Cajas misteriosamente abiertas</CrateSCLabel>
  <CrateSCDesc>Las cajas se han abierto misteriosamente. \n\nContiene algunos elementos aleatorios.</CrateSCDesc>
  <CrateSCContOne>Las cajas se han abierto misteriosamente.\n\nContenido de </CrateSCContOne>
  <CrateSCContTwo>\n\n¿Cómo demonios llegaron allí?</CrateSCContTwo>
  <CrateSCTrojan>Las cajas se han abierto misteriosamente.\n\n¡Oh no, han salido piratas! ¡Es una táctica de caballo de Troya!\n\n¿Cómo demonios llegaron allí?</CrateSCTrojan>

  <LetterLabelPlunderersArrived>Exploradores insectoides</LetterLabelPlunderersArrived>
  <PlunderersArrived>Algunos exploradores de quizás una colmena insectoide cercana están hurgando alrededor de su territorio. Ellos sin duda actuarán como una amenaza tanto para sus colonos como para el ecosistema mientras miran. ¡Cuidado, parece que van a atacar a los colonos que se acercan demasiado!</PlunderersArrived>
  <KillingSpree> Trata de matarlos </KillingSpree>

  <LabelBug>Ataque de langostas</LabelBug>
  <DescBug>¡Se han encontrado langostas cerca de su hogar! Destruyalas rápidamente o de lo contrario se comerán su ropa!</DescBug>

  <LabelRaid>Historias de asalto</LabelRaid>

  <DescRaid_A> cuenta una asombrosa historia: "Ellos atacaron por la mañana. Los atacamos por la noche. Pensamos que era demasiado difícil para ellos al vernos en la madrugada en medio de una tormenta de nieve. Teníamos razón. Trataron de pedir ayuda a los aliados, pero ya era demasiado tarde. Así es como conseguí esos elegantes pantalones de piel".</DescRaid_A>

  <DescRaid_B> comparte recuerdos: "Así que estos asaltos que tuvimos una vez, fue como un partido de gladiador. Ya sabes, como esos guerreros antiguos con espadas y animales de combate y cosas así. Sí, los estaba viendo pelear contra estas fieras. No era tanto una pelea realmente, realmente chuparon como gladiadores. Hemos conseguido algunas armas de puñal y armaduras  lo que quedaba de sus cuerpos, aunque".</DescRaid_B>

  <DescRaid_C> recuerda una experiencia interesante: "Así que teníamos la orden de atacar, y así lo hicimos. Armados con auto turretas, cañones y lanzadores de misiles y disparamos. Nuestro enemigo llevaba arcos, flechas y palos. Algunos de nosotros simplemente nos sentamos dentro y observamos el caos ocurrir, casualmente roqueando en una silla mientras sorbíamos aguardiente. Cuando el caos había terminado, es cuando nos enteramos de que esos "enemigos" eran en realidad nuestros aliados. ¡Oops, nuestra culpa! Es hora de volver a iniciar las negociaciones".</DescRaid_C>

  <DescRaid_D> tries to recall a snow mission: "Hacía frío, mucho frío. Había estas cosas, que parecían personas pero eran lentas. Realmente lentas. Les dispararíamos y ellos se quedaron allí. Es como si ya estuvieran muertos o algo así, pero todavía podían moverse. It was good target practice until you hit them in the head, then they flop over".</DescRaid_D>

  <DescRaid_E> le divergieron algunos recuerdos calientes de una batalla inolvidable en la que estuvo involucrado: "Hubo esta explosión, y una mano sale volando de ella. Así que miro y miro aun mas, pero no hay cápsula de accidente, ni cuerpo ni nada. Ahí es cuando lo veo, esta cosa se está derritiendo desde el suelo. Era una Terminatrix..."</DescRaid_E>

  <DescRaid_F> recuerda: "Hubo una inspección no programada de nuestra calidad energética. El inspector fue primero a las baterías y las fritó. Era una Terminatrix disfrazada. Tratamos de congelarlo, pero también frió los circuitos de potencia. Ahí es cuando Stan vino con un nuevo lote de granadas de fusión. Él estaba preguntando dónde almacenarlos cuando la Terminatrix le apuñaló, soplando a los dos".</DescRaid_F>

  <DescRaid_G> comparte el mensaje: «Estábamos en una fiesta una vez. Cerca del final de ella hubieron fuegos artificiales y todos aplaudimos. Eso fue cuando el generador solar explotó y nos dimos cuenta de que no eran fuegos artificiales. Fueron explosivos disparados contra nosotros. Funcionó para encender fuegos, así que fue como creímos que eran fuegos artificiales, ¿no? ".</DescRaid_G>

  <DescRaid_H> comparte sus pensamientos: "Incluso esta empezando a gustarme este lugar, amigos. Puedo comprar un par de torrecillas automáticas y montar algunos robots para recoger los cadáveres y los escombros, y luego sentarme y relajarme. La plata fluirá como un río..."</DescRaid_H>

  <DescRaid_I> esta diciendo: "Aunque más es mejor cuando se trata de torretas y robots, no debe tratar de comunicarse con los mecanoides. Sólo infectarán nuestros sistemas con virus. Si realmente quieres comunicarte con ellos, hazlo con morteros. Están bien versados en ese tipo de comunicación".</DescRaid_I>

  <DescRaid_J> esta diciendo: "Ayer vi cadáveres. Hoy veré cadáveres. Mañana no veré cadáveres. Sé cómo funciona este trabajo. Alguien de aquí quiere despiezar los cadáveres. Me pregunto si esa persona ve los cuerpos como personas, o como grandes filetes de carne esperando para ser procesadas. Puede que nunca se entere. Oh, mira, los visitantes están enojados! Podría usar un nuevo conjunto de ropa. Ahora, ¿A dónde fue esa mesa de carnicero..."</DescRaid_J>

  <DescRaid_K> felizmente canta: "Vinimos para una gran fiesta, trajimos nuestras bestias. Esta noche los morteros bailarán, batiendo las alas de metal a pavonearse. ¡El fuego del reinado, enciende el cielo! Burn, burn buuurrrnnn ¡todo!"</DescRaid_K>

  <DescRaid_L> lanza gritos alentadores: "Esta vez vamos a hablar con algunos asaltantes. Se comunicaban con disparos. Decidimos hablar con morteros. Los morteros disparan al aire y producen un silbido y zumbido y luego explotan. Nuestras conversaciones se dieron sin problemas. Les animamos a huir, escurriéndose como hormigas. ¡Hagamos lo mismo aquí!"</DescRaid_L>

  <DescRaid_M> grita: "¿Quién más no salió - el arma en sus manos y corrió a las lagunas en la búsqueda de señales enemigas. La eliminación del grupo especial de largo alcance avanza al sitio de la infección del vecindario! ¡Los pronombres restantes se pronuncian! Toma en la noche, todo esta tranquilo, con un glamur, brillo, y no comas raciones antes de la asignación, y justo en la cara del enemigo! Más resentimiento, incultos consideran .... "</DescRaid_M>

  <DescRaid_N> habla sobre trampas IED: "Así que arreglamos esta trampa con algunos depósitos de mortero de artillería pesada. Nos desafiamos a Jerry que lo hiciera es completamente obvio con una señal en el gatillo. ¡Tómame para ganar un premio! decía. Pensábamos que habíamos ganado la apuesta fácil, nadie descubriría nunca la trampa obvia. One of those native Norbal guys pulled it. I lost 200 silver that day and my best bottle of wine."</DescRaid_N>

  <DescRaid_O> chats about a game of Miss-iles and Hits: "So we were playing a game with the missile launcher. We were trying to hit this guy that was running around randomly screaming things. Every time you miss, you drink a shot of booze. A couple of bottles later we hit this Mechanoid thing. I guess it had been chasing the guy around the whole time. A hit is a hit, so that game was over."</DescRaid_O>

  <DescRaid_P> prepares for battle:" So, everyone get ready for the next step Marlezonskogo ballet with swords. Patrons at all enough? Stress group stripping reported that mortars also destroyed the rest, cheers comrades, we are waiting for a brighter tomorrow today and wholesale! Because now they rush back to the terrible begovne with perturbed and resentful crowd of scoundrels, eager to our good behind, right on the fins and tail. And still these rascals shoot them and often even fall ... in the. How they do not like something! "</DescRaid_P>

  <DescRaid_Q> retells an experience of battle: "We thought we were under attack. Mick was shooting the machinegun in bursts. Nobody else knew what to shoot at, there wasn't anything there. That's when we realized what Mick was doing. He was using the machinegun to draw crude things on a nearby mountain. Classic Mick move right there."</DescRaid_Q>

  <DescRaid_R> came out of hiding and shouted: "The manuscript-and-a-shnaya! Next to the bayonet! Urine their shafts, poke sleepers, kicked, than there and where popadёsh!"</DescRaid_R>

  <DescRaid_S> does not want to go to jail. Not again.</DescRaid_S>

  <DescRaid_T> recalls a previous battle: "Phew it was repulsing. The embrasures had corpses lying around everywhere. There was a haze from exploded grenades. It all happened when a RPG hit our main turret. A few of use got out mostly unharmed, except a guy named Hans. He was whimpering and rocking back and forth. He was mentally broken. Poor guy."</DescRaid_T>

  <DescRaid_U> recalls an event: "It was a hospital, right next to the kitchen. They would move the critically wounded right into the kitchen. The less wounded stayed in the hopistal. There were military soldiers sitting at a table, laughing as they ate a meaty breakfast. One of them remarked how fresh his meal was. The cook happily smiled and winked. Only the freshest ingredients got used in his kitchen".</DescRaid_U>


  <LabelTrySuicide>Attempted Suicide</LabelTrySuicide>
  <DescTrySuicide> tried to commit suicide, but it did not work out.</DescTrySuicide>
  <LabelSuicide>Prisoner Suicide</LabelSuicide>
  <DescSuicide_A>One of your prisoners died in the cell and has left a final message behind. It reads: "Cameras everywhere. Watching. Always watching. The walls all around are moving, watching. Can't sleep, always watching. You see me and I don't see you! No lights here, no no. Watch you in the dark they do. Cameras, eyes of spies! You'll watch me no more!"</DescSuicide_A>

  <DescSuicide_B>Your prisoner smashed it's head against the wall and has died. A small piece of paper nearby has a message that was hastily scrawled. It reads: "I thought there would be easy cash in this Colony...but instead I got trapped into something horrible. I think I'm going crazy. This food...the Warden said it was "yummy, tasty, mmm" but I don't believe it. Something tastes wrong about it. My old injuries still haunt me, like a nightmare that never ends. Even the barely audible sound of the door causes me to shudder as if it were thunder".</DescSuicide_B>

  <DescSuicide_C>A prisoner has committed suicide shortly after asking a Colonist: "Where are my meals? I need nourishment! Muffalo meat or something! GIVE ME FOOD!"</DescSuicide_C>

  <DescSuicide_D>A prisoner who was found dead had kept a diary with multiple entries. It reads: "A rough cough. I feel cold and hot. I caught something, a flu maybe? No ventilation in here. Cough getting worse. My mouth is dry, it tastes like rust*blood splatter covers some words*rible. I see people sometimes, they promised me a future. To think I even liked it! I was promised food, a good bed and could one day use my skills again. I believed that, but not anymore. I need*blood splatter covers more words* worth a try.</DescSuicide_D>

  <DescSuicide_E>A prisoner was found deceased under the bed. A small note was crumpled up nearby. It angrily reads: "They wanted to operate on me! They were going to harvest me for organs! These people are crazies! YOU WON'T HARVEST ME ALIVE! I WON'T LET YOU!</DescSuicide_E>

  <DescSuicide_F>A prisoner has succumbed. A quick look at the body shows signs of infection and gangrene in hidden areas. The pain must have be extruciating.</DescSuicide_F>

  <DescSuicide_G>A prisoner has perished. Scrawled into the floor is a note. It reads: "Suddenly no one comes? Am I going to die here like an abandoned dog in a cage?".</DescSuicide_G>

  <DescSuicide_H>One of your prisoners suddenly couldn't stand up. The doctor's first thought was that the prisoner's psyche was tender, overwhelmed by the anxiety and depression from imprisonment. Then the prisoner suddenly died! Upon the autopsy examination, a long fat stick was found up the prisoner's rear and had gouged the intestines. What an unfortunate circumstance.</DescSuicide_H>

  <DescSuicide_I>A prisoner has died under mysterious circumstances. The body was found in the fetal position with its hands covering its eyes. The prisoner seems to have choked when it swallowed its own tongue.</DescSuicide_I>

  <DescSuicide_J>A prisoner has died under mysterious circumstances. A quick inspection of the body tells the tale. The prisoner seems to have tried hanging itself with a boot lace, but the lace broke. The prisoner then tried to gnaw off the door handle, as indicated by the bloody bite marks on the door. Failing that the prisoner swallowed part of the boot, where it got lodged in the throat and the prisoner suffocated.</DescSuicide_J>

  <DescSuicide_K>The prisoner died under mysterious circumstances. A medical summary paper was found nearby. It reads: "Patient has distemper, intestinal ticks and show signs of being in a delirious state. Patient has tried to eat it's own feet and hands. I recommend isolating the patient and attempting experimental procedures. It might have lupus."</DescSuicide_K>

  <DescSuicide_L>A prisoner has been found dead under the bed, and a scrap of paper was found nearby. It looks like a mission report and it reads: "Here is your job. Land at the listed co-ordinates and grab some weapons, ammunition, rations and armor. Then follow us and assault the illegal colony. They shouldn't be here and we're going to enforce that. You may be a rookie but this will be easy. They won't know what hit 'em!".</DescSuicide_L>

  <DescSuicide_M>A prisoner has died. A message was found in a notebook. It reads: "We were waiting for orders when suddenly some air defense shot down our ship! I survived by jumping in the escape pod. When the pod opened I was immediately under fire. I was caught and imprisoned. I don't know what happened to the others. I don't think I'll be leaving this place alive. If you're still monitoring me, let them know what happened and tell them to stay away from this place".</DescSuicide_M>

  <DescSuicide_N>A prisoner has suddenly died. A strange message was found scrawed on a medical paper. It reads "They wanted to do a test procedure on me with experimental bionics and regenerative tissue. They wanted to cut off my leg. So, I passed. I'll show them that I don't need medical help! My flesh and blood is my own, a little infection won't stop me! I AM INVINCIBLE!"</DescSuicide_N>

  <LabelMalariaRaid>¡Mosquitos!</LabelMalariaRaid>
  <DescMalariaRaid>Mosquitos han sido encontrados en cerca de su casa</DescMalariaRaid>
  <LabelFleaRaid>¡Pulgas!</LabelFleaRaid>
  <DescFleaRaid>Pulgas han sido encontrados en cerca de su casa</DescFleaRaid>


  <ThanksgivingLabel>Acción de gracias</ThanksgivingLabel>
  <ThanksgivingDesc>Una de las tribus ha notado que sus raciones de comida son bajas. Les han proporcionado algo de comida, sin compromisos.\n\nEllos les agradecen por ser tan buenos amigos y esperan que su amistad sea más firme con este acto.</ThanksgivingDesc>

  <CalmWeatherLabel>Clima calmado</CalmWeatherLabel>
  <CalmWeatherDesc>El clima se calmó notablemente. Las turbinas de viento serán inútiles, pero disparar será más fácil.</CalmWeatherDesc>

  <AmnesiaLabel>Amnesia</AmnesiaLabel>
  <AmnesiaHeDesc>de repente olvidó lo que estaba haciendo. Él no puede recordar qué hacer.</AmnesiaHeDesc>
  <AmnesiaSheDesc>de repente olvidó lo que estaba haciendo. Ella no puede recordar qué hacer.</AmnesiaSheDesc>

  <PestsLabel>Pests!</PestsLabel>
  <PestsDesc>Algunos bichos que comen cultivos han encontrado su camino en sus zonas de cultivo. Ellos comen todo lo que encuentran, si no se tratan.</PestsDesc>

</LanguageData>