# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

**/bin/*
**/obj/*
**/.vs/*
**/bin
**/obj
**/.vs
**/.idea

# Windows shortcuts
*.lnk

nbproject

Source/MorePlanning/Library/*.dll

Assemblies/MorePlanning.dll
Assemblies/UnityEngine*

node_modules