<?xml version="1.0" encoding="utf-8" ?>
<Defs>

	<ThingDef Name="EventBase" ParentName="SK_BuildingBase" Abstract="True">
		<menuHidden>true</menuHidden>
		<graphicData>
			<texPath>Inv</texPath>
			<graphicClass>Graphic_Single</graphicClass>
			<shaderType>Transparent</shaderType>
		</graphicData>
		<altitudeLayer>Filth</altitudeLayer>
		<passability>Standable</passability>
		<selectable>false</selectable>
		<useHitPoints>false</useHitPoints>
		<tickerType>Normal</tickerType>
		<label>unspecified filth</label>
		<description>Ticker</description>
		<size>(1,1)</size>
		<fillPercent>0</fillPercent>
		<castEdgeShadows>false</castEdgeShadows>
		<statBases>
			<Flammability>0</Flammability>
			<Beauty>0</Beauty>
		</statBases>
	</ThingDef>
	
	<ThingDef ParentName="EventBase">
		<defName>GENcounter</defName>
		<thingClass>SK.Events.Ticker_GENcounter</thingClass>
	</ThingDef>

	<ThingDef ParentName="EventBase">
		<defName>EQcounter</defName>
		<thingClass>SK.Events.Ticker_EQcounter</thingClass>
	</ThingDef>

	<ThingDef ParentName="EventBase">
		<defName>MTcounter</defName>
		<thingClass>SK.Events.Ticker_MTcounter</thingClass>
	</ThingDef>

	<ThingDef ParentName="EventBase">
		<defName>MTRcounter</defName>
		<thingClass>SK.Events.Ticker_MTRcounter</thingClass>
	</ThingDef>

	<ThingDef ParentName="EventBase">
		<defName>SCcounter</defName>
		<thingClass>SK.Events.Ticker_SCcounter</thingClass>
	</ThingDef>

	<ThingDef ParentName="EventBase">
		<defName>PCcounter</defName>
		<thingClass>SK.Events.Ticker_PCcounter</thingClass>
	</ThingDef>

	<ThingDef ParentName="EventBase">
		<defName>RADcounter</defName>
		<thingClass>SK.Events.Ticker_RADcounter</thingClass>
	</ThingDef>

	<ThingDef ParentName="EventBase">
		<defName>NFcounter</defName>
		<thingClass>SK.Events.Ticker_NFcounter</thingClass>
	</ThingDef>

	<ThingDef ParentName="EventBase">
		<defName>ORcounter</defName>
		<thingClass>SK.Events.Ticker_ORcounter</thingClass>
	</ThingDef>

	<ThingDef ParentName="EventBase">
		<defName>ACcounter</defName>
		<thingClass>SK.Events.AnimalCorpsesGenerator</thingClass>
	</ThingDef>

	<ThingDef ParentName="EventBase">
		<defName>VCcounter</defName>
		<thingClass>SK.Events.VillagerCorpsesGenerator</thingClass>
	</ThingDef>

	<ThingDef ParentName="EventBase">
		<defName>LCcounter</defName>
		<thingClass>SK.Events.Ticker_LCcounter</thingClass>
	</ThingDef>
	
	<ThingDef ParentName="EventBase">
		<defName>GScounter</defName>
		<thingClass>SK.Events.Ticker_GS</thingClass>
	</ThingDef>

	<ThingDef ParentName="EventBase">
		<defName>CosmicRAD</defName>
		<label>radiation filth</label>
		<thingClass>SK.Item_NuclearWaste</thingClass>
		<filthLeaving>Filth_RubbleBuilding</filthLeaving>
		<comps>
			<li Class="CompProperties_Glower">
				<glowRadius>6</glowRadius>
				<glowColor>(5,30,5,5)</glowColor>
			</li>
			<li Class="CompProperties_Lifespan">
				<lifespanTicks>30500</lifespanTicks>
			</li>
		</comps>
	</ThingDef>

	<ThingDef ParentName="EventBase">
		<defName>NFRAD</defName>
		<label>radiation filth</label>
		<thingClass>SK.Item_NuclearWaste</thingClass>
		<comps>
			<li Class="CompProperties_Glower">
				<glowRadius>7</glowRadius>
				<glowColor>(5,30,5,5)</glowColor>
			</li>
			<li Class="CompProperties_Lifespan">
				<lifespanTicks>6000000</lifespanTicks>
			</li>
		</comps>
	</ThingDef>

	<ThingDef Name="StrikeIncomingBase" Abstract="True">
		<category>Ethereal</category>
		<altitudeLayer>Skyfaller</altitudeLayer>
		<drawerType>RealtimeOnly</drawerType>
		<menuHidden>true</menuHidden>
		<tickerType>Normal</tickerType>
		<useHitPoints>false</useHitPoints>
	</ThingDef>

	<ThingDef ParentName="StrikeIncomingBase">
		<defName>NuclearStrikeIncoming</defName>
		<label>Nuclear strike (Incoming!)</label>
		<thingClass>SK.Events.NuclearStrikeIncoming</thingClass>
		<graphicData>
			<texPath>Things/Building/Exotic/ShipChunk</texPath>
			<graphicClass>Graphic_Random</graphicClass>
			<shaderType>Transparent</shaderType>
		</graphicData>
		<size>(5,5)</size>
	</ThingDef>
	
	<ThingDef ParentName="StrikeIncomingBase">
		<defName>OrbitalStrikeIncoming</defName>
		<label>Orbital strike (Incoming!)</label>
		<thingClass>SK.Events.OrbitalStrikeIncoming</thingClass>
		<graphicData>
			<texPath>Things/Building/Exotic/ShipChunk</texPath>
			<graphicClass>Graphic_Random</graphicClass>
			<shaderType>Transparent</shaderType>
		</graphicData>
		<size>(2,2)</size>
	</ThingDef>

	<ThingDef ParentName="StrikeIncomingBase">
		<defName>RazorRainIncoming</defName>
		<label>Razor Rain (Incoming!)</label>
		<thingClass>SK.Events.RazorRainIncoming</thingClass>
		<graphicData>
			<texPath>Things/Item/Resource/Steel</texPath>
			<graphicClass>Graphic_Random</graphicClass>
			<shaderType>CutoutFlying</shaderType>
		</graphicData>
	</ThingDef>


	<ThingDef>
		<defName>Thing_RazorSpawner</defName>
		<label>Razor Spawner</label>
		<thingClass>SK.Events.Thing_RazorSpawner</thingClass>
		<graphicData>
			<texPath>Razor/entityspawn</texPath>
			<graphicClass>Graphic_Single</graphicClass>
		</graphicData>
		<tickerType>Rare</tickerType>
		<menuHidden>true</menuHidden>
	</ThingDef>


	<!--=============== Misc Resources ====================-->

	<ThingDef ParentName="SK_BuildingBase">
		<defName>VGlower</defName>
		<label>light</label>

		<graphicData>
			<texPath>Inv</texPath>
			<graphicClass>Graphic_Single</graphicClass>
		</graphicData>
		<tickerType>Normal</tickerType>
		<selectable>false</selectable>
		<menuHidden>true</menuHidden>
		<building>
			<isInert>true</isInert>
			<isEdifice>false</isEdifice>
			<deconstructible>false</deconstructible>
		</building>
		<comps>
			<li Class="CompProperties_Glower">
				<glowRadius>2</glowRadius>
				<glowColor>(205,205,205,0)</glowColor>
			</li>
		</comps>
		<statBases>
			<Beauty>20</Beauty>
		</statBases>
	</ThingDef>

	<ThingDef Name="SK_SkyfallerBase" Abstract="True">
		<category>Ethereal</category>
		<thingClass>Skyfaller</thingClass>
		<useHitPoints>false</useHitPoints>
		<drawOffscreen>true</drawOffscreen>
		<tickerType>Normal</tickerType>
		<altitudeLayer>Skyfaller</altitudeLayer>
		<drawerType>RealtimeOnly</drawerType>
		<skyfaller />
	</ThingDef>

	<ThingDef ParentName="SK_SkyfallerBase">
		<defName>ShipChunkIncomingFlame</defName>
		<label>ship chunk (incoming)</label>
		<size>(2,2)</size>
		<skyfaller>
			<shadowSize>(2.5,2.5)</shadowSize>
			<explosionRadius>2</explosionRadius>
			<explosionDamage>Flame</explosionDamage>
			<explosionDamageFactor>0.5</explosionDamageFactor>
		</skyfaller>
	</ThingDef>

	<ThingDef Name="SkyfallerSKBase" Abstract="True">
		<category>Ethereal</category>
		<thingClass>SK.Skyfaller</thingClass>
		<useHitPoints>false</useHitPoints>
		<drawOffscreen>true</drawOffscreen>
		<tickerType>Normal</tickerType>
		<altitudeLayer>Skyfaller</altitudeLayer>
		<drawerType>RealtimeOnly</drawerType>
		<skyfaller />
	</ThingDef>

	<ThingDef ParentName="SkyfallerSKBase">
		<defName>FixedMeteoriteIncoming</defName>
		<label>meteorite (incoming)</label>
		<size>(2,2)</size>
		<graphicData>
			<texPath>Things/Skyfaller/Meteorite</texPath>
			<graphicClass>Graphic_Single</graphicClass>
			<shaderType>Transparent</shaderType>
			<drawSize>(10,10)</drawSize>
		</graphicData>
		<skyfaller>
			<shadowSize>(3, 3)</shadowSize>
			<explosionRadius>4</explosionRadius>
			<explosionDamage>Bomb</explosionDamage>
			<rotateGraphicTowardsDirection>true</rotateGraphicTowardsDirection>
			<speed>1.2</speed>
		</skyfaller>
	</ThingDef>

	<ThingDef ParentName="SkyfallerSKBase">
		<defName>FixedMeteoriteIncomingFlame</defName>
		<label>meteorite (incoming)</label>
		<size>(2,2)</size>
		<graphicData>
			<texPath>Things/Skyfaller/Meteorite</texPath>
			<graphicClass>Graphic_Single</graphicClass>
			<shaderType>Transparent</shaderType>
			<drawSize>(10,10)</drawSize>
		</graphicData>
		<skyfaller>
			<shadowSize>(3,3)</shadowSize>
			<explosionRadius>4</explosionRadius>
			<explosionDamage>Flame</explosionDamage>
			<rotateGraphicTowardsDirection>true</rotateGraphicTowardsDirection>
			<speed>1.2</speed>
		</skyfaller>
	</ThingDef>

<!-- 	<ThingDef Name="MechanoidShipBase" Abstract="True">
		<label>Mechanoid ship (incoming)</label>
		<category>Ethereal</category>
		<tickerType>Normal</tickerType>
		<graphicData>
			<texPath>Things/Building/Genstep/MechanoidShipIncoming</texPath>
			<graphicClass>Graphic_Single</graphicClass>
			<drawSize>(6,6)</drawSize>
			<shaderType>CutoutFlying</shaderType>
		</graphicData>
		<size>(6,6)</size>
		<altitudeLayer>Skyfaller</altitudeLayer>
		<drawerType>RealtimeOnly</drawerType>
		<useHitPoints>false</useHitPoints>
	</ThingDef>

	<ThingDef ParentName="MechanoidShipBase">
		<defName>MechanoidShipIncoming</defName>
		<thingClass>SK.Events.MechanoidShipIncoming</thingClass>
		<skyfaller>
			<shadowSize>(3,3)</shadowSize>
			<explosionRadius>4</explosionRadius>
			<explosionDamage>Bomb</explosionDamage>
			<rotateGraphicTowardsDirection>false</rotateGraphicTowardsDirection>
			<speed>1.2</speed>
		</skyfaller>
	</ThingDef> -->
	
	<ThingDef Name="EnemyShipBase" Abstract="True">
		<label>Enemy ship (incoming)</label>
		<category>Ethereal</category>
		<tickerType>Normal</tickerType>
		<graphicData>
			<texPath>Things/Building/Genstep/DropShip</texPath>
			<graphicClass>Graphic_Single</graphicClass>
			<drawSize>(8,8)</drawSize>
		    <shaderType>Cutout</shaderType>
		</graphicData>
		<size>(8,2)</size>
		<altitudeLayer>Skyfaller</altitudeLayer>
		<drawerType>RealtimeOnly</drawerType>
		<useHitPoints>true</useHitPoints>
	</ThingDef>

	<ThingDef ParentName="EnemyShipBase">
		<defName>EnemyShipIncoming</defName>
		<thingClass>SK.Events.EnemyShipIncoming</thingClass>
		<statBases>
			<MaxHitPoints>500</MaxHitPoints>
			<Flammability>0</Flammability>
		</statBases>
		<skyfaller>
			<shadowSize>(3,2)</shadowSize>
			<explosionRadius>4</explosionRadius>
			<explosionDamage>Bomb</explosionDamage>
			<rotateGraphicTowardsDirection>false</rotateGraphicTowardsDirection>
			<speed>1.2</speed>
		</skyfaller>
	</ThingDef>
	
	<ThingDef ParentName="EnemyShipBase">
		<defName>EnemyShipOutcome</defName>
		<thingClass>SK.Events.EnemyShipOutcome</thingClass>
		<statBases>
			<MaxHitPoints>500</MaxHitPoints>
			<Flammability>0</Flammability>
		</statBases>
		<skyfaller>
			<shadowSize>(3,2)</shadowSize>
			<explosionRadius>4</explosionRadius>
			<explosionDamage>Bomb</explosionDamage>
			<rotateGraphicTowardsDirection>false</rotateGraphicTowardsDirection>
			<speed>1.2</speed>
		</skyfaller>
	</ThingDef>
	
	<ThingDef ParentName="BuildingBase">
		<defName>EnemyShipPart</defName>
		<label>Enemy ship</label>
		<description>An enemy ship.</description>
		<thingClass>SK.Events.Building_EnemyShipPart</thingClass>
		<altitudeLayer>Building</altitudeLayer>
		<pathCost>150</pathCost>
		<blockWind>true</blockWind>
		<passability>Impassable</passability>
		<fillPercent>1.0</fillPercent>
		<graphicData>
			<texPath>Things/Building/Genstep/DropShip</texPath>
			<graphicClass>Graphic_Single</graphicClass>
			<drawSize>(8,8)</drawSize>
		    <shaderType>Cutout</shaderType>
		</graphicData>
		<size>(8,2)</size>
		<statBases>
			<MaxHitPoints>500</MaxHitPoints>
			<Flammability>0</Flammability>
			<Beauty>-60</Beauty>
		</statBases>
		<tickerType>Rare</tickerType>
		<leaveResourcesWhenKilled>true</leaveResourcesWhenKilled>
		<killedLeavings>
			<Plasteel>150</Plasteel>
			<ElectronicComponents>8</ElectronicComponents>
			<ComponentIndustrial>20</ComponentIndustrial>
			<ComponentSpacer>5</ComponentSpacer>
			<Mechanism>10</Mechanism>
		</killedLeavings>
		<rotatable>true</rotatable>
		<selectable>true</selectable>
		<neverMultiSelect>true</neverMultiSelect>
		<terrainAffordanceNeeded>Light</terrainAffordanceNeeded>
		<soundImpactDefault>BulletImpact_Metal</soundImpactDefault>
		<drawerType>MapMeshOnly</drawerType>
		<repairEffect>ConstructMetal</repairEffect>
		<forceDebugSpawnable>true</forceDebugSpawnable>
		<building>
			<claimable>false</claimable>
			<roofCollapseDamageMultiplier>0.2</roofCollapseDamageMultiplier>
		</building>
	</ThingDef>
	
	<ThingDef>
		<defName>RaidPortal</defName>
		<label>portal</label>
		<description>A portal to transport troops.</description>
		<tickerType>Normal</tickerType>
		<category>Building</category>
		<thingClass>SK.Building_Portal</thingClass>
		<soundImpactDefault>BulletImpact_Metal</soundImpactDefault>
		<selectable>false</selectable>
		<drawerType>MapMeshAndRealTime</drawerType>
    	<pathCost>0</pathCost>
		<passability>PassThroughOnly</passability>
		<statBases>
			<MarketValue>0</MarketValue>
			<Mass>99999</Mass>
		</statBases>
		<graphicData>
			<texPath>Inv</texPath>
			<graphicClass>Graphic_Single</graphicClass>
			<shaderType>Mote</shaderType>
			<drawSize>(4,4)</drawSize>
		</graphicData>
		<size>(4,4)</size>
  	</ThingDef>

</Defs>