<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <LabelPests> 해충들</LabelPests>
  <DescPests> 일부 작물 먹는 벌레들이 재배 지역으로 들어갔습니다. 그들이 처리하지 않으면 찾을 수있는 모든 작물을 먹을 것입니다. </DescPests>

  <LetterLabelSwarm>거대 곤충 출현</LetterLabelSwarm>
  <SwarmArrived> 식민지 근처에 굶주린 거대곤충들이 나타났습니다. \ n 그들은 이 지역에 머물며 당신을 습격할 수 있습니다.</SwarmArrived>

  <LabelAG> 동물 학살 </LabelAG>
  <DescAG>모든 비인류 종족들이 이 지역에서 미스터리하게 죽었습니다. /n 이 림월드에서는 무엇인가 굉장히 신비한 현상이 있었을 것 입니다. </DescAG>

  <LabelAE> 우연한 폭발 </LabelAE>
  <DescAE> 발전소 엔진 오작동으로 폭발이 일어났습니다. 발전소가 심하게 손상되거나 파괴되었습니다. </DescAE>

  <LabelBH>운석 충돌</LabelBH>
  <DescBH>운석이 행성의 중력에 이끌려 폭발과 함께 충돌했습니다</DescBH>

  <LabelBMH>커다란 운석 충돌</LabelBMH>
  <DescBMH>커다란 운석이 중력에 이끌려 이 지역으로 추락하고 있습니다.</DescBMH>

  <FoundTreasure>보물 발견</FoundTreasure>
  <HeStash>는 기분이 좋았고 숨겨놨던 소중한 총을 기증했습니다.</HeStash>
  <SheStash>는 기분이 좋았고 숨겨놨던 소중한 총을 기증했습니다.</SheStash>
  <GunStash>총 기증</GunStash>
  <HeMoney>는 기분이 좋았고 모두를 위해 부를 나누기로 결정했습니다.</HeMoney>
  <SheMoney>는 기분이 좋았고 모두를 위해 부를 나누기로 결심했습니다.</SheMoney>
  <SilverStash>은 기증</SilverStash>

  <DescEQ> 경고! 지진! 떨어지는 잔해에 조심하십시오</DescEQ>
  <LabelEQ> 지진</LabelEQ>

  <LabelFE> 이상한 일식</LabelFE>
  <DescFE> 일식 생성 </DescFE>
  <DescFEtwo>매우 위험한 증조가 보이므로 식민지 보호에 신경 쓰십시오</DescFEtwo>

  <LabelEM> 운석의 그림자 </LabelEM>
  <DescEM>이 일식는 달에 기인 한 것이 아니라,  거대한 운석이 지나가면서 생긴 것입니다! \ n 분리 된 부분과 파편을 주의 깊게보십시오! \ n \ n 귀금속을 떨어 뜨릴 수도 있습니다</DescEM>

  <RescueStay> 콜로니 체류 </RescueStay>
  <RescueGoAway> 구조하기 </RescueGoAway>
  <EndGame> 다른 행성 클러스터의 인근 우주선이 타 우주선을 파괴하는 동안 탈출시킨 조난 신호를 기반으로 충돌 현장에 정보를 얻었습니다. 그들은 와서 당신과 당신의 식민지를 합류하기로 결정했습니다. \ n \ n 지금 게임을 끝내고 구조선에 오라고 지시하거나 머물기를 선택하면 전적으로 당신에게 달린 것입니다. </EndGame>

  <LabelFL> 급작스럼 홍수 </LabelFL>
  <DescFL> 비의 지속적인 강수가 주변의 플래시 홍수를 촉발 시켰습니다</DescFL>

  <LabelHC> 굶주린 육식 동물 </LabelHC>
  <DescHC> 배고픈 육식 동물이 먹을 찾고있습니다. 식민지 개척자는 먹이처럼 보입니다. </DescHC>

  <MessMS> ------ 수신 전송 ------ \ n \ n 경고! 경고!\ n 메카노이드 하이브는 이 지역에 코쿤을 배치했습니다. 당신이 코쿤을 파괴하기 전까지는 메카노이드들은 멈추지 않을 것입니다. \ n \ n 최고의 팀을 준비하고 코쿤을 파괴하십시오</MessMS>
  <LabelMS> 메카노이드 하이브 착륙 </LabelMS>
  <DescMS>메카노이드 하이브가 코쿤과 함께 등장했습니다. 당신이 코쿤을 파괴하기 전까지는 메카노이드들은 멈추지 않을 것입니다. \ n \ n 최고의 팀을 준비하고 코쿤을 파괴하십시오</DescMS>

  <LabelMG> 이동 </LabelMG>
  <DescMG> 동물 그룹이 당신의 지역으로 이동하고 있습니다. </DescMG>

  <NauseaLabel> 메스꺼움 </NauseaLabel>
  <NauseaHeDesc>는 메스꺼움을 느끼고 있습니다. 그는 바닥에 구초했고 휴식이 필요합니다. </NauseaHeDesc>
  <NauseaSheDesc>은 메스꺼움을 느끼고 있습니다. 그녀는 바닥 전체를 구토했고 휴식이 필요합니다. </NauseaSheDesc>

  <NEDesc> 경고 !!! 원자로에 폭발이있었습니다</NEDesc>
  <NELabel> 핵 사건 </NELabel>

  <LabelRV> 분노 바이러스 </LabelRV>
  <DescRV>는 알려지지 않은 재앙에 면역되어 있습니다. </DescRV>

  <LabelRVH> 경고 : 분노 바이러스</LabelRVH>
  <DescRVH>알려지지 않은 재난이 닥쳤습니다! 이 지역의 대부분의 사람들은 미친 듯이 몰려와 서로 공격하고 있습니다! 식민지 개척자의 절반이 영향을받습니다. 서둘러서 무언가 해야 합니다</DescRVH>

  <InterventionLabel>전초 기지 건설</InterventionLabel>
  <InterventionDesc> 적 파벌은 주변에 통신 센터를 설립했습니다. 당신이 그것을 파괴 할 때까지 해적을 부르는 것을 멈추지 않을 것입니다. \ n \ n 최고의 팀을 준비하고 명령 센터를 파괴하십시오</InterventionDesc>
  <InterventionMess> ------ 수신 전송 ------ \ n \ n 경고! 경고 \ 해적들은 부근에 통신 센터를 설립했습니다. 당신이 그것을 파괴 할 때까지 해적을 부르는 것을 멈추지 않을 것입니다. \ n \ n 최고의 팀을 준비하고 명령 센터를 파괴하십시오</InterventionMess>

  <SndLabel> 신디케이트 레이드 </SndLabel>
  <Snd_A>는 ~에 침입했습니다.</Snd_A>
  <Snd_Bf>와 그의 작업 기지에 연락하여 AirDrop의 식민지를 찾아 냈습니다. \ n \ n 해고 인계</Snd_Bf>
  <Snd_Bm>은 계속해서 행동 기지를 운영하고 AirDrop의 식민지를 찾아 냈습니다. \ n \ n 해고 인계</Snd_Bm>

  <LabelRZ> Razor Rain Imminent </LabelRZ>
  <DescRZ>행성 궤도에 머물던 파편 중 일부가 이 지역에 떨어지기 시작했습니다.</DescRZ>

  <LabelCR> 우주 방사선 </LabelCR>
  <DescCR>은 방사선을 통해 들어 왔으며 다른 식민지 주민들을 도우려고 애 쓰고있다. </DescCR>
  <DescHCR>태양 플레어에 의해 발생한 방사선은 우주 방사선 (cosmic radiation)을 유발했다. \ n \ n 모두는 구역질을 느낍니다. 젊은 사람들은 큰 이상이 없지만 나이가 많은 사람들은 아프다고 느끼며 휴식을 취해야합니다.</DescHCR>

  <LabelSS> 정적 신호 </LabelSS>
  <DescSS> 무거운 정적 신호는 콜로니 근처에서 거대한 대기 방해를 일으키고 있습니다</DescSS>

  <LabelHA> 충격 </LabelHA>
  <DescHA>가 뇌졸중을 경험했습니다. 조심해서 다루십시오. </DescHA>

  <LabelSC> 의심스러운 상자 </LabelSC>
  <DescSC>식민지 근처에서 많은 수의 의심스러운 상자가 발견되었습니다. \ n \ n 확인하거나 그대로 둘 수 있습니다. \ n \ n 그 상자 안에 무엇이 있을까요?</DescSC>

  <TribMigrDesc> 여행객들이 당신의 식민지에 도착했습니다. \ n \ n 운명이 운명을 견뎌 내기로 결정한 것을 상상 만 할 수 있습니다. </TribMigrDesc>

  <MeteorStopLabel> 운석우 멈춤 </MeteorStopLabel>
  <MeteorStopDesc> 운석우가 멈췄습니다. 더 이상 운석이 발견되지 않았습니다. </MeteorStopDesc>

  <RazorOverLabel> Razor Rain Stopped </RazorOverLabel>
  <RazorOverDesc>  운석우가 멈췄습니다! 우린 살아남았습니다!! </RazorOverDesc>

  <MechCCLabel> 메카노이드 코쿤 </MechCCLabel>
  <MechCCDesc> 메카 노이드는 이제 식민지를 파괴하는데 지장이 없다. 메카 노이드 군대가 현재 식민지를 공격하고 있습니다. </MechCCDesc>

  <EQMess> 지진! 아무도 안 다쳤나요? \ n \ n 건물 중 일부가 심하게 손상된 것처럼 보입니다. </EQMess>
  <EQMessLow> 지진! 아무도 안 다쳤나요? \ n \ n 일부 건물이 손상된 것 같습니다. </EQMessLow>
  <EQRichterScale> \ n 지진 규모 : </EQRichterScale>

  <FWwarMess> 한 파벌은 당신의 동맹국과 전쟁을 선포했으며, 현재 당신의 식민지를 공격하기 위해 유용한 물품을 모으고 있습니다! \ n \ n 좋은 점은 당신의 동맹국들이 공격자들이 원하는 것을 얻을 수 없게 할 것입니다! \ n \ n이 장소는 전장이 될 것입니다! \ n 방위를 준비하십시오</FWwarMess>
  <FWalliesMess> 동맹국들은 대부분의 병력을이 지역으로 보냈고 더 이상 보낼 수 없습니다. 그것은 적들이 식민지를 습격하기 위해 모두 나간 것으로 보인다. </FWalliesMess>
  <FWenemiesMess> 적들은 마침내 당신의 식민지 점쟁을 포기하고 중단 시켰습니다. 동맹국들이 그들을 막을 수 있었던 것에 감사드립니다. </FWenemiesMess>

  <MDLabel> 숨겨진 자원 발견 </MDLabel>
  <MDDesc> 우리는 숨겨진 광산을 발견했습니다</MDDesc>
  <RMDLabel> 숨겨진 희귀 미네랄 발견 </RMDLabel>
  <RMDDesc> 숨겨진 희귀 광산을 발견했습니다</RMDDesc>
  <OFLabel> 숨겨진 유전 발견 </OFLabel>
  <OFDesc> 우리는 숨겨진 유전을 발견했습니다</OFDesc>

  <LabelMT> 이상한 점 </LabelMT>
  <DescMT> 그들은 무서운 것을 경험했을 것입니다. </DescMT>
  <TheThingLabel> 혐오</TheThingLabel>
  <TheThingDesc>는 거대한 가증 한 것으로 변했습니다! 그 신비한 전송은 우리에게 돌연변이 체형을 떨어 뜨렸다! \ n \ n 모든 식민지 인을 학살하기 전에 폐기하십시오</TheThingDesc>

  <CosmicRadiationLevel> 방사능 수치가 자연 수준으로 떨어 졌던 것 같습니다. </CosmicRadiationLevel>

  <LabelNF> 방사능 낙진 </LabelNF>
  <DescNF> 맙소사! 방사능 낙진이 시작되었습니다! 모든 것이 죽을 것입니다! 우라늄의 반감기는 100 일입니다. </DescNF>

  <ConfusionLabel> 혼란 </ConfusionLabel>
  <ConfusionDesc>가 혼란스러워졌습니다. </ConfusionDesc>

  <CrateSCLabel> 수수께끼의 상자 열기 </CrateSCLabel>
  <CrateSCDesc> 상자가 신비하게 열립니다. \ n \ n 임의의 항목이 있습니다. </CrateSCDesc>
  <CrateSCContOne> 상자가 신비하게 열립니다. \ n \ n 포함 된 항목은 </CrateSCContOne>
  <CrateSCContTwo> s. \ n \ n 도대체 어떻게 그들은 거기에 들어갔습니까!?</CrateSCContTwo>
  <CrateSCTrojan> 상자가 신비하게 열립니다. \ n \ n 외설적 인 침입자가 등장했습니다! 그것의 트로이 목마 전술! \ n \ n 도대체 어떻게 그들은 거기에 들어갔을까요!?</CrateSCTrojan>

  <LetterLabelPlunderersArrived> 아마 근처의 곤충 뱀이 당신의 영토를 파고 들기도합니다. 그들이 보는 동안 그들은 식민지 개척자와 생태계 모두에게 위협이 될 것입니다. 조심스럽게, 그들은 너무 가까운 식민지 개척자들과 교전하는 것처럼 보입니다</LetterLabelPlunderersArrived>
  <PlunderersArrived>Some scouts from perhaps a nearby insectoid hive are poking around your territory. They will no doubt act as menace to both your colonists and ecosystem while they look about. Careful, it looks as though they'll engage any colonists that get too close</PlunderersArrived>
  <KillingSpree>는 를 죽이려고 시도합니다. </KillingSpree>

  <LabelBug> 시체처리벌레의 출현 </LabelBug>
  <DescBug> 당신의 집에서 시체처리벌레가 발견되었습니다! 그들을 빨리 없애시오. 그렇지 않으면 그들은 당신의 의복과 시체를 먹을 것입니다</DescBug>

  <LabelRaid> 레이드 스토리 </LabelRaid>

  <DescRaid_A>는 놀라운 이야기를 들려줍니다. "그들은 아침에 공격했습니다. 우리는 저녁에 그들을 공격했습니다. 우리는 눈보라 한밤중에 밤에 죽은 사람들을 우리에게 보이기가 너무 어려웠다 고 생각했습니다. 우리가 옳았습니다. 그들은 동맹국들이 도움을 요청했지만 너무 늦었습니다. 그렇게 멋진 모피 바지를 얻었습니다. "</DescRaid_A>

  <DescRaid_B> 기록을 공유합니다 : "우리가 본 그 친입자는 마치 검투사와 같았습니다. 칼을 들고 동물과 싸우는 고대 전사들처럼. 예, 나는 그들이이 페라리스크와 싸우는 걸 지켜보고 있었습니다. 그것은 대단한 싸움은 아니었고, 그들은 검투사와 같이 엉망이었습니다. 우리는 그들의 몸에 남아있는 안정되고 깔끔한 무기와 갑옷을 얻었습니다. "</DescRaid_B>

  <DescRaid_C>는 재미있는 경험을 회상합니다. "그래서 우리는 공격 명령을 내리고 그렇게했습니다. 우리는 오토 테럿, 대포, 미사일 발사기를 무장하고 발포했습니다. 우리의 적들은 활과 화살, 클럽을 들고있었습니다. 우리 중 일부는 앉아서 브랜디를 마시 며 의자에서 우연히 흔들어 대는 상황을 보았습니다. 혼돈이 끝났을 때, 우리는 그 "적"이 실제로 우리의 동맹국이라는 것을 알게되었습니다. 와우, 우리의 나쁜! 다시 협상을 시작할 시간 "이라고 말했다. </DescRaid_C>

  <DescRaid_D>는 스노우 미션을 회상하려고합니다. "정말 추웠습니다. 이런 것들이 있었는데, 그들은 사람들처럼 보였지만 느려졌습니다. 진짜 천천히. 우리는 그들에게 총을 쏘았습니다. 그들은 이미 죽은 것처럼 보이지만 여전히 움직이고 있었습니다. 분명 그들은 좋은 연습 목표였습니다. 우리의 머리를 부수기 전까지요.". </DescRaid_D>

  <DescRaid_E>는 잊혀지지 않은 전투에서 뜨거운 추억을 퍼 뜨 렸습니다. "이 폭발이있었습니다. 이 손이 폭발했습니다. 그래서 나는보고 보있었습니다. 그러나 어떠한 것도 없었습니다. 그리고 그때, 땅에서 무언가 녹아내리는 것을 보았습니다. 그것은 터미네트릭스 였습니다 ... "</DescRaid_E>

  <DescRaid_F>는 다음과 같이 회상합니다. "우리의 전력 품질에 대한 예기치 않은 점검이있었습니다. 감찰관은 먼저 전지에 가서 회로를 태웠습니다. 그러나 그것은 전지가 아니라 변신한 터미네트릭스 였습니다. 우리는 그것을 정지 ​​시키려고 했지만 전원 회로도 타버렸습니다. 그 때 스탠이 새로운 퓨전 수류탄을 가져 왔습니다. 그는 그것을 어디에 저장할지 물어보러 왔던 것이었지만, 터미네트릭스는 를 공격히 찔렀습니다. 그리고 수류탄이 터져 둘다 폭발에 휘말렸습니다."</DescRaid_F>

  <DescRaid_G>는 "우리는 한 번 파티를 열었습니다. 끝날 무렵 불꽃 놀이가 있었습니다. 우리 모두는 환성을 질렀습니다. 하지만 그것은 태양 발전기가 폭발 해 일어난 불꽃이었고, 우리는 그것이 불꽃 놀이가 아니라는 것을 뒷 늦게 깨달았습니다. 폭발물의 파편이 우리에게 날아왔습니다. 화재를 강렬하게 화재를 일으키고 있었고, 그것은 마치 불꽃 놀이 같았습니다, 그렇죠?". </DescRaid_G>

  <DescRaid_H>는 그의 생각을 나눈다 : "나는 심지어 여기가 집처럼 좋아하기 시작했습니다. 나는 자동 포탑 몇 대를 사고 시체와 잔해물을 모으기 위해 로봇을 조작 하였습니다. 그리고 나서야 앉아서 긴장을 풀 수 있습니다. 이제 곧 나는 부자가 될 것입니다 ... "</DescRaid_H>

  <DescRaid_I>의 말 : "포탑과 로봇까지는 괜찮지만, 당신은 메카 노이드와 통신하려고 시도하면 안됩니다. 그들은 우리 시스템에 바이러스로 감염시킬뿐입니다. 정말로 그들과 대화하고 싶다면 박격포를 이용하세요. 그들은 그런 종류의 대화수단에 정통합니다. "</DescRaid_I>

  <DescRaid_J>는 말합니다 : "어제 나는 시체를 보았습니다. 오늘도 시체가 보일 겁니다. 내일은 그렇지 않길 바랍니다. 나는 그것이 어떻게 작동하는지 압니다. 여기 주변의 누군가는 시체를 도살하는 것을 좋아합니다. 그 사람이 시체를 사람들로 보는지, 아니면 가공을 기다리고있는 커다란 고기 조각으로 보는지 궁금합니다. 나는 결코 알지 못할지도 모른다. 오, 이봐, 화난 방문자여! 새 옷을 입을 수 있습니다. 그 정육점 테이블은 어디로 갔습니까? "</DescRaid_J>

  <DescRaid_K>는 행복하게 노래합니다. "우리는 큰 축제를 위해 왔고 우리는 짐승을 모았습니다. 오늘 밤 박격포는 춤을 추며 금속 날개를 펴고 뛰어 올랐습니다. 불을 통치하는 자여, 하늘을 불타 오르게하십시오! 구워라, 그 모든 것을 구워버려라!"</DescRaid_K>

  <DescRaid_L> 격려하는 외침 : "이번에 우리는 몇몇 침입자와 대화를 할 것입니다. 그들은 총소리를 들었습니다. 우리는 박격포로 다시 이야기하기로 결정했습니다. 박격포는 공중에 뛰어 들어 쉿 소리와 윙윙 거리는 소리를 내며 폭발합니다. 우리의 대화는 순조롭게 진행되었습니다. 우리는 그들이 개미들처럼 멀리 달아나 달아나도록 도왔다. 여기서 똑같은 일을 해봅시다!"</DescRaid_L>

  <DescRaid_M>은 소리 쳤습니다. "그 밖의 누가 빠져 나오지 않았는가? - 그의 손에있는 총은 적의 모습을 찾기 위해 허점으로 달려 갔다. 원거리 특화 부대는 침투당한 정착지의 일부를 보고 있습니다. 누군가가 자신에게 스스로 답합니다. 재물을 가지고 있고, 밤을 새울 수 있으며, 수많은 매력이 있는, 당신을 해치우지 않고는 자리를 떠나지도 않는 자들이 있는 곳으로 오십시오. 원한이 있든, 교양이 있든. </DescRaid_M>

  <DescRaid_N>은 폭발물 함정에 대해 이야기합니다. "우리는 강력한 포탄으로 덫을 만들었습니다. 우리는 제리가 방아쇠를 당기는 신호로 덫을 폭파할 수 있을 거라고 믿었습니다.. '승리를 위해 나를 당겨라!'그것은 말했습니다. 우리는 우리가 내기를 쉽게 이겼다고 생각했습니다. 그러나 아무도 덫을 사용할 수 없었습니다. 그 원주민 노벌들 중 한명이 그것을 뽑았습니다. 나는 그 날 200 실버를 잃어 버렸고 최고의 와인 한 병을 잃어 버렸습니다. "</DescRaid_N>

  <DescRaid_O> Miss-iles와 Hits 게임에 대한 대화 : "그래서 우리는 미사일 발사기로 게임을하고있었습니다. 무작위로 비명을 지르는이 녀석을 치려고했습니다. 당신이 그리울 때마다 술 한잔 마십니다.. 두 병째, 우리는 메카노이드를 쳤다. 나는 그 사람을 쫓아 다니고 있었다고 생각했습니다. 우리가 건든것이 결국 그것이었음으로, 게임은 끝났습니다. "</DescRaid_O>

  <DescRaid_P>는 전투 준비를합니다. "그럼, 모두들 칼레 발레에 대한 다음 단계 인 Marlezonskogo 발레를 준비합니다. 충분한 후원자? 박격포로 스트레스를 파괴하고, 동지애원을 환호하며, 오늘 우리는 더 밝은 내일과 상품을 기다리고 있다고 보고했습니다! 왜냐하면 지금 그들은 지옥에 사는 혼란스럽고 분개 한 군중들과 함께 끔찍한 begovne로 돌아 가기 때문에 지느러미와 꼬리 부분에 우리의 좋은 것을 열망하고 있습니다. 그리고 여전히이 색녀들은 그들을 쏘고 때로는 떨어지기도합니다. 그들이 어떻게 무언가를 좋아하지 않는지! "</DescRaid_P>

  <DescRaid_Q>는 전투의 경험을 되풀이합니다. "우리는 우리가 공격 받고 있다고 생각했습니다. 믹은 폭발음으로 무언가를 쏘고있었습니다. 아무도 거기에서 무엇을 쏠 줄 알지 못했습니다. 그 때 우리는 믹이하는 일을 깨달았습니다. 그는 가까운 산에서 원유를 끌어 들이기 위해 기관총을 사용하고있었습니다. 클래식 믹이 바로 저기에 움직입니다. "</DescRaid_Q>

  <DescRaid_R>은 숨어서 소리를 지르며 소리 쳤습니다. "원고 -와 - 샤나! 총검으로! 그들의 중심을 찌르고, 잠 자는 사람들을 찌르고, 발 차기를 하고, 거기서 발을 빼고, 대체 그런 사람이 어디서 나타난 것인지!"</DescRaid_R>

  <DescRaid_S>는 다시는 감옥에 가고 싶지 않습니다. </DescRaid_S>

  <DescRaid_T>는 이전 전투를 회상합니다. "그것은 반발하고 있었습니다. 총안구에는  시체를 거짓말처럼 가지고 있었습니다. 폭발 한 수류탄의 연기가 피어올랐습니다. RPG가 우리의 주요 포탑을 강타했을 때 모든 일이 일어났습니다. 한스라는 사람을 제외하고는 거의 대부분 무사하다. 그는 위아래로 흔들 거리며 흔들리고있었습니다. 그는 정신적으로 부서졌습니다. 불쌍한 사람. "</DescRaid_T>

  <DescRaid_U>는 다음과 같은 이벤트를 회상합니다. "부엌 옆에있는 병원이었습니다. 그들은 치명적인 환자를 부엌으로 옮길 것입니다. 그보다 부상자가 적은 편이었습니다. 육군 병사들이 식탁에 앉아서 고기가 많은 아침 식사를하면서 웃고있었습니다. 그들 중 한 명은 그의 식사가 얼마나 신선한 지 주목했다. 요리사는 행복하게 미소 지으며 윙크했다. 가장 신선한 재료 만 주방에 사용되었습니다. "</DescRaid_U>


  <LabelTrySuicide> 시도한 자살 </LabelTrySuicide>
  <DescTrySuicide> 자살을 시도했지만 효과가 없었습니다. </DescTrySuicide>
  <LabelSuicide> 죄수 자살 </LabelSuicide>
  <DescSuicide_A> 죄수 중 한 명이 감옥에서 죽었고 마지막 메시지를 남겼습니다. 그것은 읽습니다 : "어디에나 카메라들이 있다. 보고있다. 항상 보고있어. 어딜 가도 벽은 우릴 감시하고 있지.. 잠조차 들 수 없어. 모두 보고 있으니까. 너는 나를 보지만 난 결코 널 볼 수 없어. 여긴 조명도 켜지지 않지. 없어. 없어. 너는 어둠속에서도 날 보고 있지. 카메라. 감시자의 눈! 넌 더 이상 날 보지 못할 것이다!"</DescSuicide_A>

  <DescSuicide_B> _ 당신의 죄수는 벽에 머리를 박살 냈고 죽었습니다. 근처에있는 작은 종이에 급한 메시지가 있습니다. 읽기 : "나는 이 식민지에서 손 쉽게 우리의 재물이 될 것이라고 생각했지만, 대신 끔찍한 함정에 빠져 들었다. 나는 미쳤다고 생각해. 소장은 "맛있군, 맛있어, 음"이라고 말했다.하지만 나는 그것을 믿지 않는다. 하지만 분명 그것은 이상했다. 나의 옛 흉터는 아직 끝나지 않았다. 마치 악몽처럼. 문 소리처럼 조용한 소리에도 나는 천둥처럼 비명을 질렀다. "</DescSuicide_B>

  <DescSuicide_C> 수감자는 콜로니스트에게 물었다. "내 식사는 어디에 있습니까? 나는 영양이 필요해! 생고기? 아니면 다른거? 나에게 음식을 줘!"</DescSuicide_C>

  <DescSuicide_D> 죽은 채 발견 된 죄수는 여러 항목의 일기를 보관하고 있었다. 읽기 : "심한 기침 몸은 뜨겁지만 추웠다. 독감인가? 여긴 환기가 되지 않는다.. 심해지는 기침. 내 입이 마르고 녹 같은 맛이 난다. 사람들은 때때로 걱정말라고 한다. 난 그들이 날 좋아한다고 생각했다. 좋은 침대. 좋은 음식. 나는 내일 일어나서 다시 일 할 수 있을거라고 생각했다. 나는 그것을 믿었지만 더 이상은 아니었다. 군대군대 틘 핏자국만이 이 상황을 설명할 수 있겠지. * </DescSuicide_D>

  <DescSuicide_E> 죄수가 침대 밑에서 사망 한 것으로 판명되었습니다. 근처에 작은 메모가 구겨졌습니다. 그것은 화가났습니다. "그들은 날 해치려 했다. 그들은 장기를 위해 나를 수술하려고 했어 이 사람들은 미쳤다! 너는 내 몸을 뜯어낼 수 없을 것이다. 그렇게 두지 않을 거야</DescSuicide_E>

  <DescSuicide_F> 죄수가 굴복했다. 시체를 빠르게 살펴보면 숨겨진 지역에서 감염과 괴저의 징후가 나타납니다. 통증이 압출되어야합니다. </DescSuicide_F>

  <DescSuicide_G> 포로가 죽었다. 마루에 긁힌 것은 메모입니다. 그것은 읽습니다 : "왜 아무도 오지 않아? 나는 버려진 개처럼, 새처럼 새장에서 죽는 걸까?". </DescSuicide_G>

  <DescSuicide_H> 죄수 중 한 명이 갑자기 일어날 수 없었습니다. 의사의 첫 번째 생각은 죄수의 정신이 부드럽고 감옥에서의 불안과 우울증에 압도 당했다는 것입니다. 그리고 죄수는 갑자기 죽었습니다 아마도. 부검 결과 사망자의 뱃속에 딱딱한 막대가 발견되었습니다. 얼마나 불행한 상황입니까? </DescSuicide_H>

  <DescSuicide_I> 죄수는 신비한 상황에서 죽었다. 눈을 감싸고 있는 태아 모습을 한 체로 발견되었습니다. 죄수는 자신의 혀를 삼킬 때 질식사 한 것 같습니다. </DescSuicide_I>

  <DescSuicide_J> 죄수가 신비한 상황에서 죽었다. 시체를 빨리 검사하면 이야기가 나옵니다. 죄수는 부츠 레이스로 매달려있는 것처럼 보였지만 레이스는 망가졌습니다. 죄수는 그 문에 피 묻은 물린 자국이 나타내는대로 문 손잡이를 뽑아 먹으려 고했습니다. 죄수가 부츠를 삼킨 데 실패하여 목구멍에 갇혀 숨이 막혔습니다. </DescSuicide_J>

  <DescSuicide_K> 죄수는 신비한 상황에서 죽었다. 근처에 의학 요약지가 발견되었습니다. 읽기 : "환자는 신랄한 상태에 빠져 있음을 알 수 있습니다. 환자는 자신의 발과 손을 먹으려 고 노력했습니다. 환자를 격리하고 실험 절차를 시도하는 것이 좋습니다. 루푸스가 걸릴 수도 있습니다. "</DescSuicide_K>

  <DescSuicide_L> 포로가 침대 밑에서 죽은 채로 발견되었고 근처에 종이 조각이 발견되었습니다. 그것은 선교 보고서처럼 보이며 읽습니다. "여기 당신의 일이 있습니다. 나열된 좌표에 착륙하여 무기, 탄약, 식량과 갑옷을 가져옵니다. 다음 우리를 따르고 불법 식민지를 공격하십시오. 그들은 여기 있으면 안되며 우리는 그것을 강요 할 것입니다. 당신은 신참일지도 모르지만 이것은 쉬울 것입니다. 그들은 무슨 일이 일어 났는지 모를겁니다!". </DescSuicide_L>

  <DescSuicide_M> 죄수가 사망했습니다. 노트북에서 메시지를 발견했습니다. 그것은 읽습니다 : "갑자기 일부 공중 방어가 우리 우주선을 격추 시켰을 때 우리는 명령을 기다리고있었습니다! 나는 탈출구에 뛰어 올라 살아 남았습니다. 포드가 열렸을 때 나는 즉시 불속 아래에 있었다. 나는 붙 잡혔고 투옥되었다. 나는 다른 사람들에게 무슨 일이 일어 났는지 모른다. 나는이 장소를 살아있는 채로 떠날 것이라고 생각하지 않는다. 아직도 나를 감시하고 있다면, 그들에게 무슨 일이 있었는지 알려주고이 곳을 떠나라고 말한다. "</DescSuicide_M>

  <DescSuicide_N> 죄수가 갑자기 사망했습니다. 이상한 메시지가 의학 서적에서 발견되었습니다. 그것은 "그들은 실험적인 생체 공학과 재생 조직 수술하기에 앞서 나에게 시험 절차를 원했다. 그들은 내 다리를 자르려 해. 당연히 난 싫다. 나는 의료 도움이 필요 없다는 것을 그들에게 보여줄 것이다! 내 살과 피가 내 것이니, 조금만 감염되면 나를 막을 수 없어! 나는 무적이야!"</DescSuicide_N>

  <LabelMalariaRaid>모기 발견</LabelMalariaRaid>
  <DescMalariaRaid>모기가 주거 구역에서 발견되었습니다</DescMalariaRaid>
  <LabelFleaRaid>벼룩 발견</LabelFleaRaid>
  <DescFleaRaid>벼룩이 주거 구역에서 발견되었습니다</DescFleaRaid>


  <ThanksgivingLabel> 추수 감사절 </ThanksgivingLabel>
  <ThanksgivingDesc> 다른 부족원 중 한 명이 우리의 식량 사정이 안 좋다는 것을 알았습니다. 그들은 아무 조건 없이 음식을 우리에게 배풀었습니다. \ n \ n 그들이 좋은 친구들이 되어 주신 것에 감사하며,이 일로 우정이 더욱 깊어 지길 바랍니다. </ThanksgivingDesc>

  <CalmWeatherLabel> 평온 날씨 </CalmWeatherLabel>
  <CalmWeatherDesc> 날씨가 매우 평온했습니다. 풍력 터빈은 쓸모 없지만 촬영은 더 쉬울 것입니다. </CalmWeatherDesc>

  <Amnesia>건망증</Amnesia>
  <AmnesiaHeDesc>는 갑자기 그가 하고있는 것을 잊었습니다. 그는 무엇을 해야 할지를 기억할 수 없습니다. </AmnesiaHeDesc>
  <AmnesiaSheDesc>는 갑자기 그녀가 하고있는 일을 잊어 버렸습니다. 그녀는 해야 할 일을 기억할 수 없습니다. </AmnesiaSheDesc>

  <PestsLabel> 해충</PestsLabel>
  <PestsDesc> 작물을 먹는 벌레가 재배 지역으로 이동했습니다. 그들이 처리하지 않으면 그들 주변에 있는 모든 작물을 먹을 것입니다. </PestsDesc>

  <!--<AmnesiaLabel> 기억 상실증 </AmnesiaLabel>-->
  <SALabel>Seismic activity</SALabel>
  <SAMess>The Seismic activity in this region. \n\nBe careful in mountainous areas! there may be collapses.</SAMess> 
  <SARichterScale>\nRichter scale: </SARichterScale>
</LanguageData>