<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

	<LetterLabelSwarm>거대 곤충 출현</LetterLabelSwarm>
	<SwarmArrived> 식민지 근처에 굶주린 거대곤충들이 나타났습니다. \ n 그들은 이 지역에 머물며 당신을 습격할 수 있습니다.</SwarmArrived>

	<LabelAG> 동물 학살 </LabelAG>
	<DescAG>모든 비인류 종족들이 이 지역에서 미스터리하게 죽었습니다. /n 이 림월드에서는 무엇인가 굉장히 신비한 현상이 있었을 것 입니다. </DescAG>

	<LabelAE> 우연한 폭발 </LabelAE>
	<DescAE> 발전소 엔진 오작동으로 폭발이 일어났습니다. 발전소가 심하게 손상되거나 파괴되었습니다. </DescAE>

	<LabelBH>운석 충돌</LabelBH>
	<DescBH>운석이 행성의 중력에 이끌려 폭발과 함께 충돌했습니다</DescBH>

	<LabelBMH>커다란 운석 충돌</LabelBMH>
	<DescBMH>커다란 운석이 중력에 이끌려 이 지역으로 추락하고 있습니다.</DescBMH>

	<FoundTreasure>보물 발견</FoundTreasure>
	<HeStash>는 기분이 좋았고 숨겨놨던 소중한 총을 기증했습니다.</HeStash>
	<SheStash>는 기분이 좋았고 숨겨놨던 소중한 총을 기증했습니다.</SheStash>
	<GunStash>총 기증</GunStash>
	<HeMoney>는 기분이 좋았고 모두를 위해 부를 나누기로 결정했습니다.</HeMoney>
	<SheMoney>는 기분이 좋았고 모두를 위해 부를 나누기로 결심했습니다.</SheMoney>
	<SilverStash>은 기증</SilverStash>

	<DescEQ> 경고! 지진! 떨어지는 잔해에 조심하십시오</DescEQ>
	<LabelEQ> 지진</LabelEQ>

	<LabelFE> 이상한 일식</LabelFE>
	<DescFE> 일식 생성 </DescFE>
	<DescFEtwo>매우 위험한 증조가 보이므로 식민지 보호에 신경 쓰십시오</DescFEtwo>

	<LabelEM> 운석의 그림자 </LabelEM>
	<DescEM>이 일식는 달에 기인 한 것이 아니라,  거대한 운석이 지나가면서 생긴 것입니다! \ n 분리 된 부분과 파편을 주의 깊게보십시오! \ n \ n 귀금속을 떨어 뜨릴 수도 있습니다</DescEM>

	<RescueStay> 콜로니 체류 </RescueStay>
	<RescueGoAway> 구조하기 </RescueGoAway>
	<EndGame> 다른 행성 클러스터의 인근 우주선이 타 우주선을 파괴하는 동안 탈출시킨 조난 신호를 기반으로 충돌 현장에 정보를 얻었습니다. 그들은 와서 당신과 당신의 식민지를 합류하기로 결정했습니다. \ n \ n 지금 게임을 끝내고 구조선에 오라고 지시하거나 머물기를 선택하면 전적으로 당신에게 달린 것입니다. </EndGame>

	<LabelHC> 굶주린 육식 동물 </LabelHC>
	<DescHC> 배고픈 육식 동물이 먹을 찾고있습니다. 식민지 개척자는 먹이처럼 보입니다. </DescHC>

	<NEDesc> 경고 !!! 원자로에 폭발이있었습니다</NEDesc>
	<NELabel> 핵 사건 </NELabel>

	<LabelRV> 분노 바이러스 </LabelRV>
	<DescRV>는 알려지지 않은 재앙에 면역되어 있습니다. </DescRV>

	<LabelRVH> 경고 : 분노 바이러스</LabelRVH>
	<DescRVH>알려지지 않은 재난이 닥쳤습니다! 이 지역의 대부분의 사람들은 미친 듯이 몰려와 서로 공격하고 있습니다! 식민지 개척자의 절반이 영향을받습니다. 서둘러서 무언가 해야 합니다</DescRVH>

	<LabelRZ> Razor Rain Imminent </LabelRZ>
	<DescRZ>행성 궤도에 머물던 파편 중 일부가 이 지역에 떨어지기 시작했습니다.</DescRZ>

	<LabelCR> 우주 방사선 </LabelCR>
	<DescCR>은 방사선을 통해 들어 왔으며 다른 식민지 주민들을 도우려고 애 쓰고있다. </DescCR>
	<DescHCR>태양 플레어에 의해 발생한 방사선은 우주 방사선 (cosmic radiation)을 유발했다. \ n \ n 모두는 구역질을 느낍니다. 젊은 사람들은 큰 이상이 없지만 나이가 많은 사람들은 아프다고 느끼며 휴식을 취해야합니다.</DescHCR>

	<LabelHA> 충격 </LabelHA>
	<DescHA>가 뇌졸중을 경험했습니다. 조심해서 다루십시오. </DescHA>

	<TribMigrDesc> 여행객들이 당신의 식민지에 도착했습니다. \ n \ n 운명이 운명을 견뎌 내기로 결정한 것을 상상 만 할 수 있습니다. </TribMigrDesc>

	<MeteorStopLabel> 운석우 멈춤 </MeteorStopLabel>
	<MeteorStopDesc> 운석우가 멈췄습니다. 더 이상 운석이 발견되지 않았습니다. </MeteorStopDesc>

	<RazorOverLabel> Razor Rain Stopped </RazorOverLabel>
	<RazorOverDesc>  운석우가 멈췄습니다! 우린 살아남았습니다!! </RazorOverDesc>

	<EQMess> 지진! 아무도 안 다쳤나요? \ n \ n 건물 중 일부가 심하게 손상된 것처럼 보입니다. </EQMess>
	<EQMessLow> 지진! 아무도 안 다쳤나요? \ n \ n 일부 건물이 손상된 것 같습니다. </EQMessLow>
	<EQRichterScale> \ n 지진 규모 : </EQRichterScale>

	<MDLabel> 숨겨진 자원 발견 </MDLabel>
	<MDDesc> 우리는 숨겨진 광산을 발견했습니다</MDDesc>
	<RMDLabel> 숨겨진 희귀 미네랄 발견 </RMDLabel>
	<RMDDesc> 숨겨진 희귀 광산을 발견했습니다</RMDDesc>
	<OFLabel> 숨겨진 유전 발견 </OFLabel>
	<OFDesc> 우리는 숨겨진 유전을 발견했습니다</OFDesc>

	<LabelMT> 이상한 점 </LabelMT>
	<DescMT> 그들은 무서운 것을 경험했을 것입니다. </DescMT>
	<TheThingLabel> 혐오</TheThingLabel>
	<TheThingDesc>는 거대한 가증 한 것으로 변했습니다! 그 신비한 전송은 우리에게 돌연변이 체형을 떨어 뜨렸다! \ n \ n 모든 식민지 인을 학살하기 전에 폐기하십시오</TheThingDesc>

	<CosmicRadiationLevel> 방사능 수치가 자연 수준으로 떨어 졌던 것 같습니다. </CosmicRadiationLevel>

	<LabelNF> 방사능 낙진 </LabelNF>
	<DescNF> 맙소사! 방사능 낙진이 시작되었습니다! 모든 것이 죽을 것입니다! 우라늄의 반감기는 100 일입니다. </DescNF>

	<ConfusionLabel> 혼란 </ConfusionLabel>
	<ConfusionDesc>가 혼란스러워졌습니다. </ConfusionDesc>

	<LetterLabelPlunderersArrived> 아마 근처의 곤충 뱀이 당신의 영토를 파고 들기도합니다. 그들이 보는 동안 그들은 식민지 개척자와 생태계 모두에게 위협이 될 것입니다. 조심스럽게, 그들은 너무 가까운 식민지 개척자들과 교전하는 것처럼 보입니다</LetterLabelPlunderersArrived>
	<PlunderersArrived>Some scouts from perhaps a nearby insectoid hive are poking around your territory. They will no doubt act as menace to both your colonists and ecosystem while they look about. Careful, it looks as though they'll engage any colonists that get too close</PlunderersArrived>
	<KillingSpree>는 를 죽이려고 시도합니다. </KillingSpree>

	<LabelBug> 시체처리벌레의 출현 </LabelBug>
	<DescBug> 당신의 집에서 시체처리벌레가 발견되었습니다! 그들을 빨리 없애시오. 그렇지 않으면 그들은 당신의 의복과 시체를 먹을 것입니다</DescBug>

	<LabelTrySuicide> 시도한 자살 </LabelTrySuicide>
	<DescTrySuicide> 자살을 시도했지만 효과가 없었습니다. </DescTrySuicide>
	<LabelSuicide> 죄수 자살 </LabelSuicide>
	
	<DescSuicide_A> 죄수 중 한 명이 감옥에서 죽었고 마지막 메시지를 남겼습니다. 그것은 읽습니다 : "어디에나 카메라들이 있다. 보고있다. 항상 보고있어. 어딜 가도 벽은 우릴 감시하고 있지.. 잠조차 들 수 없어. 모두 보고 있으니까. 너는 나를 보지만 난 결코 널 볼 수 없어. 여긴 조명도 켜지지 않지. 없어. 없어. 너는 어둠속에서도 날 보고 있지. 카메라. 감시자의 눈! 넌 더 이상 날 보지 못할 것이다!"</DescSuicide_A>
	<DescSuicide_B> _ 당신의 죄수는 벽에 머리를 박살 냈고 죽었습니다. 근처에있는 작은 종이에 급한 메시지가 있습니다. 읽기 : "나는 이 식민지에서 손 쉽게 우리의 재물이 될 것이라고 생각했지만, 대신 끔찍한 함정에 빠져 들었다. 나는 미쳤다고 생각해. 소장은 "맛있군, 맛있어, 음"이라고 말했다.하지만 나는 그것을 믿지 않는다. 하지만 분명 그것은 이상했다. 나의 옛 흉터는 아직 끝나지 않았다. 마치 악몽처럼. 문 소리처럼 조용한 소리에도 나는 천둥처럼 비명을 질렀다. "</DescSuicide_B>
	<DescSuicide_C> 수감자는 콜로니스트에게 물었다. "내 식사는 어디에 있습니까? 나는 영양이 필요해! 생고기? 아니면 다른거? 나에게 음식을 줘!"</DescSuicide_C>
	<DescSuicide_D> 죽은 채 발견 된 죄수는 여러 항목의 일기를 보관하고 있었다. 읽기 : "심한 기침 몸은 뜨겁지만 추웠다. 독감인가? 여긴 환기가 되지 않는다.. 심해지는 기침. 내 입이 마르고 녹 같은 맛이 난다. 사람들은 때때로 걱정말라고 한다. 난 그들이 날 좋아한다고 생각했다. 좋은 침대. 좋은 음식. 나는 내일 일어나서 다시 일 할 수 있을거라고 생각했다. 나는 그것을 믿었지만 더 이상은 아니었다. 군대군대 틘 핏자국만이 이 상황을 설명할 수 있겠지. * </DescSuicide_D>
	<DescSuicide_E> 죄수가 침대 밑에서 사망 한 것으로 판명되었습니다. 근처에 작은 메모가 구겨졌습니다. 그것은 화가났습니다. "그들은 날 해치려 했다. 그들은 장기를 위해 나를 수술하려고 했어 이 사람들은 미쳤다! 너는 내 몸을 뜯어낼 수 없을 것이다. 그렇게 두지 않을 거야</DescSuicide_E>
	<DescSuicide_F> 죄수가 굴복했다. 시체를 빠르게 살펴보면 숨겨진 지역에서 감염과 괴저의 징후가 나타납니다. 통증이 압출되어야합니다. </DescSuicide_F>
	<DescSuicide_G> 포로가 죽었다. 마루에 긁힌 것은 메모입니다. 그것은 읽습니다 : "왜 아무도 오지 않아? 나는 버려진 개처럼, 새처럼 새장에서 죽는 걸까?". </DescSuicide_G>
	<DescSuicide_H> 죄수 중 한 명이 갑자기 일어날 수 없었습니다. 의사의 첫 번째 생각은 죄수의 정신이 부드럽고 감옥에서의 불안과 우울증에 압도 당했다는 것입니다. 그리고 죄수는 갑자기 죽었습니다 아마도. 부검 결과 사망자의 뱃속에 딱딱한 막대가 발견되었습니다. 얼마나 불행한 상황입니까? </DescSuicide_H>
	<DescSuicide_I> 죄수는 신비한 상황에서 죽었다. 눈을 감싸고 있는 태아 모습을 한 체로 발견되었습니다. 죄수는 자신의 혀를 삼킬 때 질식사 한 것 같습니다. </DescSuicide_I>
	<DescSuicide_J> 죄수가 신비한 상황에서 죽었다. 시체를 빨리 검사하면 이야기가 나옵니다. 죄수는 부츠 레이스로 매달려있는 것처럼 보였지만 레이스는 망가졌습니다. 죄수는 그 문에 피 묻은 물린 자국이 나타내는대로 문 손잡이를 뽑아 먹으려 고했습니다. 죄수가 부츠를 삼킨 데 실패하여 목구멍에 갇혀 숨이 막혔습니다. </DescSuicide_J>
	<DescSuicide_K> 죄수는 신비한 상황에서 죽었다. 근처에 의학 요약지가 발견되었습니다. 읽기 : "환자는 신랄한 상태에 빠져 있음을 알 수 있습니다. 환자는 자신의 발과 손을 먹으려 고 노력했습니다. 환자를 격리하고 실험 절차를 시도하는 것이 좋습니다. 루푸스가 걸릴 수도 있습니다. "</DescSuicide_K>
	<DescSuicide_L> 포로가 침대 밑에서 죽은 채로 발견되었고 근처에 종이 조각이 발견되었습니다. 그것은 선교 보고서처럼 보이며 읽습니다. "여기 당신의 일이 있습니다. 나열된 좌표에 착륙하여 무기, 탄약, 식량과 갑옷을 가져옵니다. 다음 우리를 따르고 불법 식민지를 공격하십시오. 그들은 여기 있으면 안되며 우리는 그것을 강요 할 것입니다. 당신은 신참일지도 모르지만 이것은 쉬울 것입니다. 그들은 무슨 일이 일어 났는지 모를겁니다!". </DescSuicide_L>
	<DescSuicide_M> 죄수가 사망했습니다. 노트북에서 메시지를 발견했습니다. 그것은 읽습니다 : "갑자기 일부 공중 방어가 우리 우주선을 격추 시켰을 때 우리는 명령을 기다리고있었습니다! 나는 탈출구에 뛰어 올라 살아 남았습니다. 포드가 열렸을 때 나는 즉시 불속 아래에 있었다. 나는 붙 잡혔고 투옥되었다. 나는 다른 사람들에게 무슨 일이 일어 났는지 모른다. 나는이 장소를 살아있는 채로 떠날 것이라고 생각하지 않는다. 아직도 나를 감시하고 있다면, 그들에게 무슨 일이 있었는지 알려주고이 곳을 떠나라고 말한다. "</DescSuicide_M>
	<DescSuicide_N> 죄수가 갑자기 사망했습니다. 이상한 메시지가 의학 서적에서 발견되었습니다. 그것은 "그들은 실험적인 생체 공학과 재생 조직 수술하기에 앞서 나에게 시험 절차를 원했다. 그들은 내 다리를 자르려 해. 당연히 난 싫다. 나는 의료 도움이 필요 없다는 것을 그들에게 보여줄 것이다! 내 살과 피가 내 것이니, 조금만 감염되면 나를 막을 수 없어! 나는 무적이야!"</DescSuicide_N>

	<!-- Malaria raid -->
	<LabelMalariaRaid>Malaria epidemic</LabelMalariaRaid>
	<DescMalariaRaid>Our area hard-hit by the malaria. /nShould be afraid of mosquitoes!</DescMalariaRaid>

	<!-- Flea raid -->
	<LabelFleaRaid>Plague epidemic</LabelFleaRaid>
	<DescFleaRaid>Our area hard-hit by the plague. /nFleas are carriers of the plague, be careful.</DescFleaRaid>

	<ThanksgivingLabel> 추수 감사절 </ThanksgivingLabel>
	<ThanksgivingDesc> 다른 부족원 중 한 명이 우리의 식량 사정이 안 좋다는 것을 알았습니다. 그들은 아무 조건 없이 음식을 우리에게 배풀었습니다. \ n \ n 그들이 좋은 친구들이 되어 주신 것에 감사하며,이 일로 우정이 더욱 깊어 지길 바랍니다. </ThanksgivingDesc>

	<CalmWeatherLabel> 평온 날씨 </CalmWeatherLabel>
	<CalmWeatherDesc> 날씨가 매우 평온했습니다. 풍력 터빈은 쓸모 없지만 촬영은 더 쉬울 것입니다. </CalmWeatherDesc>

	<Amnesia>건망증</Amnesia>
	<AmnesiaHeDesc>는 갑자기 그가 하고있는 것을 잊었습니다. 그는 무엇을 해야 할지를 기억할 수 없습니다. </AmnesiaHeDesc>
	<AmnesiaSheDesc>는 갑자기 그녀가 하고있는 일을 잊어 버렸습니다. 그녀는 해야 할 일을 기억할 수 없습니다. </AmnesiaSheDesc>

	<PestsLabel> 해충</PestsLabel>
	<PestsDesc> 작물을 먹는 벌레가 재배 지역으로 이동했습니다. 그들이 처리하지 않으면 그들 주변에 있는 모든 작물을 먹을 것입니다. </PestsDesc>

	<!--<AmnesiaLabel> 기억 상실증 </AmnesiaLabel>-->
	<SALabel>Seismic activity</SALabel>
	<SAMess>The Seismic activity in this region. \n\nBe careful in mountainous areas! there may be collapses.</SAMess> 
	<SARichterScale>\nRichter scale: </SARichterScale>
	
</LanguageData>