<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <SeasonalWeatherSettingsCategoryLabel>Сезонная погода</SeasonalWeatherSettingsCategoryLabel>
  <EnableEarthquakesLabel>Включить землетрясения</EnableEarthquakesLabel>
  <EnableWildfiresLabel>Включить дикий огонь</EnableWildfiresLabel>


</LanguageData>