<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <trackingVisible_title>画面内の設計を追跡</trackingVisible_title>
  <trackingVisible_desc>必要条件を表示するために、画面内の設計の追跡を有効または無効にするオプションです。\n\nPCの動作が画面内の設計を追跡していると遅くなる場合は、ここで無効にすることができます。</trackingVisible_desc>

  <trackingForbidden_title>禁止された設計を追跡</trackingForbidden_title>
  <trackingForbidden_desc>禁止されている設計の追跡を有効または無効にするオプションです。大量の設計を追跡対象から除外するために使用します。\n\nこれは、選択された追跡と画面内の追跡の両方に適用されます。</trackingForbidden_desc>

  <zoomForTracking_title>設計追跡ズームレベル</zoomForTracking_title>
  <zoomForTracking_desc>設計を追跡する際の最大ズームレベルです。\n\nお使いのPCで処理するのに設計が多すぎる場合はズームレベルをより接近に切り替えてください。</zoomForTracking_desc>
  <zoomForTracking_Closest>最接近</zoomForTracking_Closest>
  <zoomForTracking_Close>接近</zoomForTracking_Close>
  <zoomForTracking_Middle>普通</zoomForTracking_Middle>
  <zoomForTracking_Far>遠い</zoomForTracking_Far>
  <zoomForTracking_Furthest>最遠</zoomForTracking_Furthest>

  <visibilityMargin_title>画面縁余白(計上時)</visibilityMargin_title>
  <visibilityMargin_desc>設計を表示する場合の、画面の縁から離れる余白(ピクセル単位)です。\n\n注意：これは不正確かもしれません。</visibilityMargin_desc>

  <clampTipToScreen_title>画面にツールチップを常時表示</clampTipToScreen_title>
  <clampTipToScreen_desc>有効にすると、合計のツールチップは常に画面上に表示され続けます。</clampTipToScreen_desc>

  <clampMargin_title>ツールチップ余白幅</clampMargin_title>
  <clampMargin_desc>ツールチップを画面上で常時表示しようとする際に、ツールチップが表示される画面の端からの離れるべき余白の最小距離幅（ピクセル単位）を設定します。</clampMargin_desc>

  <highlightOpacity_title>ハイライト不透明度</highlightOpacity_title>
  <highlightOpacity_desc>ハイライト(強調表示)にする表示窓(四角)の不透明度です。最小不透明度は0％で、最大値は25％です。ハイライト(強調表示)を完全に無効にするには、0％に下げます。</highlightOpacity_desc>

  <showTips_title>材料詳細表示</showTips_title>
  <showTips_desc>有効化すると、材料リストの上にマウスを置くと、ツールチップが表示されます。</showTips_desc>

  <countInStorage_title>備蓄ゾーンだけ計上</countInStorage_title>
  <countInStorage_desc>有効化すると、備蓄ゾーンに保管されているアイテムだけが計上されます。</countInStorage_desc>

  <countForbidden_title>禁止アイテムを計上</countForbidden_title>
  <countForbidden_desc>有効化すると、禁止されたアイテムを含めてマップ上の全アイテムを計上されます。</countForbidden_desc>

  <tooltipPosition_title>ツールチップ位置</tooltipPosition_title>
  <tooltipPosition_desc>2つのスライダーを使用して、追跡された設計に関連してのツールチップが相対的に表示される場所を設定します。\n\n半透明の表示窓(四角)は、追跡された設計をハイライト(強調表示)する四角形で、白い部分はツールチップが表示される場所です。</tooltipPosition_desc>

  <transferSel_title>新規施工部分も自動選択</transferSel_title>
  <transferSel_desc>有効化すると、選択された設計に対して入植者が材料を運び入れて、新しく施工状態になった部分が自動的に選択(計上)されます。</transferSel_desc>

</LanguageData>