<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <GENcounter.label>unspecified filth</GENcounter.label>
  <GENcounter.description>Ticker</GENcounter.description>

  <EQcounter.label>unspecified filth</EQcounter.label>
  <EQcounter.description>Ticker</EQcounter.description>

  <RPcounter.label>unspecified filth</RPcounter.label>
  <RPcounter.description>Ticker</RPcounter.description>

  <MTcounter.label>unspecified filth</MTcounter.label>
  <MTcounter.description>Ticker</MTcounter.description>

  <MDcounter.label>unspecified filth</MDcounter.label>
  <MDcounter.description>Ticker</MDcounter.description>

  <MTRcounter.label>unspecified filth</MTRcounter.label>
  <MTRcounter.description>Ticker</MTRcounter.description>

  <SCcounter.label>unspecified filth</SCcounter.label>
  <SCcounter.description>Ticker</SCcounter.description>

  <PCcounter.label>unspecified filth</PCcounter.label>
  <PCcounter.description>Ticker</PCcounter.description>

  <RADcounter.label>unspecified filth</RADcounter.label>
  <RADcounter.description>Ticker</RADcounter.description>

  <NFcounter.label>unspecified filth</NFcounter.label>
  <NFcounter.description>Ticker</NFcounter.description>

  <ORcounter.label>unspecified filth</ORcounter.label>
  <ORcounter.description>Ticker</ORcounter.description>

  <ACcounter.label>unspecified filth</ACcounter.label>
  <ACcounter.description>Ticker</ACcounter.description>

  <VCcounter.label>unspecified filth</VCcounter.label>
  <VCcounter.description>Ticker</VCcounter.description>

  <LCcounter.label>unspecified filth</LCcounter.label>
  <LCcounter.description>Ticker</LCcounter.description>

  <CosmicRAD.label>radiation filth</CosmicRAD.label>
  <CosmicRAD.description>Ticker</CosmicRAD.description>

  <NFRAD.label>radiation filth</NFRAD.label>
  <NFRAD.description>Ticker</NFRAD.description>


  <!-- <ThingDef Name="MechanoidShipBase" Abstract="True">
    <label>Mechanoid ship (incoming)</label>
    <category>Ethereal</category>
    <tickerType>Normal</tickerType>
    <graphicData>
      <texPath>Things/Building/Genstep/MechanoidShipIncoming</texPath>
      <graphicClass>Graphic_Single</graphicClass>
      <drawSize>(6,6)</drawSize>
      <shaderType>CutoutFlying</shaderType>
    </graphicData>
    <size>(6,6)</size>
    <altitudeLayer>MetaOverlays</altitudeLayer>
    <useHitPoints>false</useHitPoints>
  </ThingDef>
  
  <ThingDef ParentName="MechanoidShipBase">
		<defName>MechanoidShipIncoming</defName>
		<thingClass>SK.Events.MechanoidShipIncoming</thingClass>
  </ThingDef> -->

  <NuclearStrikeIncoming.label>Razor Rain (Incoming!)</NuclearStrikeIncoming.label>
  <RazorRainIncoming.label>Razor Rain (Incoming!)</RazorRainIncoming.label>
  <Thing_RazorSpawner.label>Razor Spawner</Thing_RazorSpawner.label>


  <!-- Misc Resources -->

  <VGlower.label>light</VGlower.label>
  <VGlower.description></VGlower.description>


  <!-- <ThingDef Name="MechanoidShipBase" Abstract="True">
    <label>Mechanoid ship (incoming)</label>
    <category>Ethereal</category>
    <tickerType>Normal</tickerType>
    <graphicData>
      <texPath>Things/건설 중/Genstep/MechanoidShipIncoming</texPath>
      <graphicClass>Graphic_Single</graphicClass>
      <drawSize>(6,6)</drawSize>
      <shaderType>CutoutFlying</shaderType>
    </graphicData>
    <size>(6,6)</size>
    <altitudeLayer>MetaOverlays</altitudeLayer>
    <useHitPoints>false</useHitPoints>
  </ThingDef>
  
  <ThingDef ParentName="MechanoidShipBase">
		<defName>MechanoidShipIncoming</defName>
		<thingClass>SK.Events.MechanoidShipIncoming</thingClass>
  </ThingDef> -->

</LanguageData>