<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

	<APCcounter.label>suciedad no especificada</APCcounter.label>

	<APCcounter.description>Ticker</APCcounter.description>

	<TTcounter.label>suciedad no especificada</TTcounter.label>

	<TTcounter.description>Ticker</TTcounter.description>

</LanguageData>
